.flipper-container
  perspective: 1000px
  width: 120px
  height: 90px
  &:hover,
  &.hover
    .flipper
      transform: rotateY(180deg)
.flipper
  transition: 0.6s
  transform-style: preserve-3d
  position: relative
  &__back,
  &__front
    width: 120px
    height: 90px
    backface-visibility: hidden
    position: absolute
    top: 0px
    left: 0px
    +border-radius(5px)
    +box-shadow(0, 2px, 4px, rgba(0, 0, 0, 0.2))
    border: 1px solid #c6c6c6
  &__front
    z-index: 2
    transform: rotateY(0deg)
  &__back
    transform: rotateY(180deg)
.card-flipper-container
  perspective: 1000px
  width: 238px
  height: 170px
  @media (max-width: $sm - 10) // 758px
    margin: 0 auto
  @media (max-width: $sm + 20) // 788px

  @media (min-width: 760px) and (max-width: 850px)
    width: 216px
  &.hover
    .card-flipper
      transform: rotateY(180deg)
.card-flipper
  transition: 0.6s
  transform-style: preserve-3d
  position: relative
  &__link
    margin-bottom: 15px
    a
      display: inline-block
      margin-left: 5px
  &__content
    height: 100%
    position: relative
  &__back,
  &__front
    padding: 15px
    width: 238px
    height: 170px
    backface-visibility: hidden
    position: absolute
    background: #f1f1f1
    top: 0px
    left: 0px
    border: 1px solid #c6c6c6
    overflow: visible
    @media (max-width: $sm + 20)

    @media (min-width: 760px) and (max-width: 850px)
      width: 216px
    &-white
      background: white
  &__front
    z-index: 2
    transform: rotateY(0deg)
    padding-top: 40px
  &__back
    padding-top: 10px
    transform: rotateY(180deg)
    font-size: 14px
    font-weight: 400
  &__description
    display: block
    display: -webkit-box
    width: 100%
    text-overflow: ellipsis
    overflow: hidden
    -webkit-box-orient: vertical

  &__description--step-5
    height: 113px
    overflow-y: scroll
  &__description--step-6
    height: 86px
    overflow-y: scroll
    font-weight: 200
  &__description--step-6 a
    pointer-events: none
    cursor: default
    color: black
    text-decoration: none
.card-flipper a.arrow-back
  display: inline-block
  margin-left: 70px
  margin-top: 10px
  text-decoration: none
  color: black

.card-flipper
  .popover__description
    width: 230px
    left: -12px
    @media screen and (min-width: 788px)
      left: -12px
    @media (min-width: 760px) and (max-width: 850px)
      width: 208px
    &__center
      left: 50%
      transform: translateX(-50%)

#popoverMobile
  display: inline-block
  @media screen and (min-width: 788px)
    display: none

#popoverDesktop
  display: none
  @media screen and (min-width: 788px)
    display: inline-block
