.float-right
  float: right !important
.clearfix
  overflow: auto
  zoom: 1
.visible-sm
  display: none
  @media (max-width: $sm - 10)
    display: inline-block
.visible-md
  display: inline-block
  @media (max-width: $sm - 10)
    display: none
.visible-b-sm
  display: none
  @media (max-width: $sm - 10)
    display: block
.visible-b-md
  display: block
  @media (max-width: $sm - 10)
    display: none
.visible-mobile-tablet
  display: none
  @media (max-width: 1000px)
    display: block
.visible-inline-mobile-tablet
  display: none
  @media (max-width: 1000px)
    display: inline-block
.visible-b-lg
  display: block
  @media (max-width: 1000px)
    display: none
.visible-lg
  display: inline-block
  @media (max-width: 1000px)
    display: none
.hide-mobile
  display: block
  @media (max-width: $sm - 10)
    display: none
.visible-sm-flex
  display: none
  @media (max-width: $sm - 10)
    display: flex
