.text-center
  text-align: center
.text-medium
  font-weight: $font-weight--medium !important
.text-bold
  font-weight: $font-weight--bold !important
.text-error
  color: $color-secondary
  font-weight: $font-weight--medium
  display: block
  font-size: em(14px)
  margin-top: em(7px)
.text-right
  text-align: right !important
.text-uppercase
  text-transform: uppercase
.required
  margin-right: 15px
  &:after
    content: " *"
    color: $color-secondary
    position: absolute
    margin: 0 5px
.edit-single-line
  max-width: 500px
  overflow: hidden
  @media (max-width: $sm - 10)
    max-width: inherit
    width: 100%
  br
    display: none
  *
    white-space: nowrap
.key-label
  padding: 0
  position: relative
  top: 20px
  @media (min-width: $sm - 10px)  
    padding: 0 20px
    top: 0 
