.fade.ng-enter,
.fade.ng-leave
	-webkit-transition: 0.5s linear all
	transition: 0.5s linear all
.fade.ng-enter,
.fade.ng-leave.ng-leave-active
	opacity: 0
.fade.ng-leave,
.fade.ng-enter.ng-enter-active
	opacity: 1