@if variable-exists(font-url--google)
  @import url($font-url--google)
@if variable-exists(font-family--nunito)
  @import url($font-family--nunito)

*
  -moz-box-sizing: border-box
  box-sizing: border-box

html
  height: 100%
  background-color: #fff

::-webkit-scrollbar
  width: 0px // remove scrollbar space
  background: transparent //  just make scrollbar invisible

body
  font-family: $font-family--primary
  font-size: $base__font-size
  line-height: ($base__line / $base__font-size)
  font-weight: $font-weight--light
  width: 100%
  //height: 100%
  margin: 0 auto

a[ng-click],
a[ui-sref]
  cursor: pointer

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
textarea,
select
  width: 100%
  background-color: white
  padding: em(10px)
  +border-radius(10px)
  border: 1px solid #999
  height: 45px
  font-size: em(18px)
  line-height: 1.2
  color: black
  font-weight: 400
  outline: none
  +transition(0.30s)
  &::-webkit-input-placeholder
    color: #656565
    font-weight: 300
  &:-moz-placeholder
    color: #656565
    font-weight: 300
  &:focus
    box-shadow: 0 0 1px #939598
    border: 1px solid #939598

textarea
  background-color: white
  border-color: #f3f3f3
  min-height: 80px

h1
  font-size: em(30px)
  line-height: em(30px)
h2
  font-size: em(24px)
  line-height: em(24px)
h3
  font-size: em(18px)
  line-height: em(18px)

.yellow-color
  color: $color-goldenrod
.green-color
  color: $color-puerto-rico
.blue-color
  color: $color-medium-blue
.purple-color
  color: $color-biloba-flower
.light-blue-color
  color: $color-picton-blue
.pink-color
  color: $color-cranberry

.yellow-background
  background: $color-goldenrod
  color: white
.green-background
  background: $color-puerto-rico
  color: white
.blue-background
  background: $color-medium-blue
  color: white
.purple-background
  background: $color-biloba-flower
  color: white
.light-blue-background
  background: $color-picton-blue
  color: white
.pink-background
  background: $color-cranberry
  color: white

[ng-messages]
  display: none

.ng-submitted [ng-messages]
  display: block
