
<div class="grid text-center">
  <div class="grid-12 text-center">
    <a href="javascript:void(0);" ng-click="prev();" ng-show="currentStep != 0" class="btn btn--sm btn--success">
      <i class="iback"></i>&nbsp;Back</a>&nbsp;
    <a href="javascript:void(0);" ng-click="onNextClick(mpForm); mpSubmit = true;" ng-show="currentStep != 6" class="btn btn--sm btn--success">Next&nbsp;<i class="inext"></i></a>
  </div>
  <div class="grid-12 text-center"><a ng-click="save(mpForm, true); mpSubmit = true; showPopup = false" class="btn btn--link">Save & Exit</a></div>
</div>
