<div class="modal">
  <div class="modal__body">
    <div class="checklist box-shadow">
      <div class="checklist__head">Your checklist
        <button ng-click="closeThisDialog()"><i class="icheck-close-on"></i></button>
      </div>
      <div class="checklist__body">
        <div ng-hide="main.checklist.length > 0">There are currently no items on your checklist.</div>


          <div ng-if="(main.checklist | filter:{done:1}).length > 0" class="checklist__group-head">Checked items</div>
          <div class="checklist__group-body">
            <div ng-repeat="item in main.checklist | filter:{done:1}" class="checklist__item">
              <div class="checkbox-simple-checklist">
                <label class="checkbox-simple-checklist__label">
                  <input type="checkbox" ng-click="main.checklistItem.markChecked(item);" ng-checked="item.done" class="checkbox-simple-checklist__input"/><i class="checkbox-simple-checklist__icon"></i>{{ item.text }}
                </label>
              </div><a ng-click="main.checklistItem.remove(item);" class="checklist__item-close"><i class="iclose-checklist"></i></a>
            </div>
          </div>

        <div ng-repeat="list in checklists" class="checklist__group">
          <div ng-show="list.items.length > 0" class="checklist__group-head">{{ list.name }}</div>
          <div class="checklist__group-body">
            <div ng-repeat="item in list.items = (main.checklist | filter:{done: 0} | filter:list.filter )" class="checklist__item">
              <div class="checkbox-simple-checklist">
                <label class="checkbox-simple-checklist__label">
                  <input type="checkbox" ng-click="main.checklistItem.markChecked(item);" ng-checked="item.done" class="checkbox-simple-checklist__input"/><i class="checkbox-simple-checklist__icon"></i>{{ item.text }}
                </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
