<div class="modal">
    <div class="modal__head"></div>
    <form name="mpModalForm" novalidate="novalidate">
        <div class="modal__body text-center delete"><span class="last">{{form.description}}</span></div>
        <div class="modal__footer-wrapper">
            <div class="modal__footer center-btn"><a ng-click="form.submit(mpModalForm);" class="btn btn--primary btn--sm">Create a new version</a></div>
            <div class="modal__footer center-btn"><a ng-click="form.cancel();" class="btn btn--primary btn--sm">Replace my current plan with this one</a></div>
        </div>
        <div class="modal__move text-center" ng-click="form.move()">Discard these changes and return to MousePlan</div>
    </form>
</div>
