<div class="modal">
  <div class="modal__head"></div>
  <form name="mpModalForm" novalidate="novalidate">
	  <div class="modal__body text-center delete"><span class="first">You can’t undo this action.</span><br/><span class="last">{{ form.description }}</span></div>
	  <div class="modal__footer center-btn"><a ng-click="form.submit(mpModalForm);" class="btn btn--primary btn--sm">Confirm</a></div>
  </form>
</div>
