<div class="modal">
  <div class="modal__head"></div>
  <div class="modal__body text-center delete"><span class="first">You can not undo this action.</span><br/><span class="last">This item is already on your check list, are you sure you want to replace?</span></div>
  <div class="modal__footer center-btn"><a href="javascript:void(0);" ng-click="ConfirmMoveMousageToCheklist();closeThisDialog();" class="btn btn--primary btn--sm">Confirm</a></div>
</div>
