<div id="action-popup" class="action">
  <div class="action__wrapper">
    <div class="action__nav"><a ng-click="form.close();"><i class="iback-mobile"></i>BACK</a></div>
    <div class="action__close-desktop"><a ng-click="form.close();"><i class="iclose-off"></i></a></div>
    <div ng-if="form.type.name != 'park'" class="action__head visible-b-sm">{{ form.type.name }}</div>
    <div class="action__body">
      <form name="formAction" novalidate="novalidate" class="action__form action__form--{{ form.type.name == 'park' ? form.data.park.class: '' }}">
        <div class="action__form-controls">
          <div ng-if="form.type.name != 'fastpass'">
            <div ng-if="form.type.name == 'park'">
              <div class="action__form-control">
                <label class="action__form-label">Park</label>
                <div class="action__form-control-image">
                  <span class="object-box__logo-no-img" ng-class="main.switchColors((form.data.block_type_id | blockType:block_types).subtype, 'color')">{{(form.data.block_type_id | blockType:block_types).subtype}}</span>
                </div>
                <select class="action__form-input" ng-model="form.data.block_type_id" ng-options="park.id as park.name for park in vacation.options.parks">
                </select>
              </div>
            </div>
            <div ng-if="form.type.name == 'resort'">
              <div class="action__form-control">
                <label class="action__form-label">Resort</label>
                <select class="action__form-input" ng-model="form.data.association_id" ng-options="resort.id as resort.name for resort in vacation.options.resorts">
                </select>
              </div>
            </div>
              <div class="action__form-control">
                <!-- use form.dataStart as UTC form.data.startTime value-->
                  <div mp-timepicker-sm="form.dataStart" name="startTime" placeholder="Start Time" min="form.config.beginUtc" max="form.dataEnd" required></div>
              </div>
            <div class="action__form-control">
              <!-- use form.dataEnd as UTC form.data.dataEnd value -->
              <div mp-timepicker-sm="form.dataEnd" name="endTime" placeholder="End Time" min="form.dataStart" max="form.config.maxEndUtc"  required></div>
            </div>
            <div ng-if="form.type.name != 'park' && form.type.name != 'resort' && form.type.name != 'dining'" class="action__form-control">
              <label class="action__form-label">Name</label>
              <input name="nameAction" type="text" ng-model="form.data.name" maxlength="256" class="action__form-input"/>
            </div>
            <div ng-if="form.type.name == 'dining'" class="action__form-control autocomplete">
              <label class="action__form-label">Restaurant name</label>
              <input type="text" ng-model="form.data.name" placeholder="" uib-typeahead="item.name for item in form.autocomplete.restaurants.get($viewValue)" typeahead-on-select="form.autocomplete.restaurants.select($item)" class="action__form-input">
            </div>
            <div ng-if="form.type.name == 'dining'" class="action__form-control">
              <label class="action__form-label">Restaurant location</label>
              <input type="text" ng-model="form.data.location" class="action__form-input"/>
            </div>
          </div>
          <div ng-if="form.type.name == 'fastpass'">
            <ul class="action__list">
              <li>
                <div class="action__head visible-b-sm">FastPass+ Reservation</div>
              </li>
              <li ng-hide="parkFastpass.length">No FastPass+ options available for this park</li>
              <li ng-repeat="item in parkFastpass = (fastpass | experiencePark:form.block.association_id:vacation.options.mapParkInterest) track by $index">
                <div class="checkbox-simple">
                  <label class="checkbox-simple__label" style="cursor: pointer">
                    <input type="checkbox" ng-checked="form.fastpassSelected(item)" ng-click="form.toggleFastpass(item)" class="checkbox-simple__input"/><i class="checkbox-simple__icon"></i>{{ item.name }}
                  </label>
                </div>
                <div class="action__form-control" ng-repeat="fastpass in form.data | filter:{external_id: item.id}:true">
                  <div class="action__datetime">
                    <div mp-timepicker-sm="fastpass.reservation_time" name="{{fastpass.id}}_hour" placeholder="Hour" min="" max="" required></div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="action__form-control"><a ng-click="form.save(formAction);" class="action__form-btn action__form-btn--primary">Apply</a></div>
        </div>
      </form>
    </div>
  </div>
</div>
