<div class="modal">
    <div class="modal__head"></div>
    <form name="mpModalForm" novalidate="novalidate">
        <div class="modal__body modal__learn-more delete">
            <h3 class="first">We hope you’ve enjoyed using MousePlanner® so far!</h3>
            <p class="last">After booking your vacation through MousePlanner, you'll receive customized support and can
                begin building your MousePlan® to help guide you through each day of your vacation. Not ready to book or
                don’t need a Disney resort? <span class="marked" ng-click="toggleSubscriptionPopup(); form.submit(mpModalForm)">Purchase individual use of MousePlanner</span>® for one low price, and get a full
                year of access to plan your dream vacation. If you decide to book with us later, we’ll issue a credit
                for your purchase price.</p>
            <h3 class="first">How does it work?</h3>
            <p class="last"><span class="marked"><a href="//www.mouseplanner.com/booking">Book your Disney vacation package</a></span> through us—and get your <b>MousePlan® for free.</b> We offer the
                lowest published rates with no hidden fees or service charges. Our clients receive free booking
                services, including personalized recommendations and email reminders—plus a pinch of <i>pixie dust</i> to
                ensure your vacation is magical!</p>
            <p>Just place a courtesy hold on a Disney resort reservation to guarantee price, availability, and any
                discounts. You’ll have 3 days to review your emailed price quote and place a fully refundable deposit,
                and get a special code to continue using MousePlanner®. Your reservation and access to our tools will
                automatically cancel after 3 days, if you decide not to book it. <span class="marked"><a href="//www.mouseplanner.com/booking">Request a vacation quote</a></span> and let’s get
                started!</p>
            <p>Our <i>Concierge Planning Package</i> offers additional planning services for a fee. See all of our planning
                services <a href="//www.mouseplanner.com/planning-services/">here.</a>
            </p>
        </div>
        <div class="modal__footer center-btn"><a ng-click="form.submit(mpModalForm);" class="btn btn--primary btn--sm">Got it!</a></div>
    </form>
</div>
