
<div class="modal">
  <div class="modal__body">
    <div class="checklist box-shadow">
      <div class="checklist__head">Mousages
        <button ng-click="closeThisDialog()"><i class="icheck-close-on"></i></button>
      </div>
      <div class="checklist__body">
        <div ng-hide="(mousages | filter:{read: 0}).length > 0">You currently have no mousages.</div>
        <div ng-repeat="mousage in mousages | filter:{read: 0}" class="note__item">
          <div class="note__item__body-sm">{{ mousage.text }}
            <div class="mousage__item__footer">
              <div class="checkbox-simple note__item__footer-left">
                <label class="checkbox-simple__label" style="cursor: pointer">
                  <input type="checkbox" ng-click="main.mousage.markRead(mousage);" class="checkbox-simple__input"/><i class="checkbox-simple__icon"></i>MARK AS READ
                </label>
              </div><a ng-click="main.mousage.addToChecklist(mousage, mousages);" ng-if="mousage.is_checklist_task == 1" class="note__item__footer-left btn-mousage"> <i class="ichecklist"></i>add to checklist</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
