<div class="mousage">
  <div class="mousage__nav"><a ng-click="mousagesPopover.open = false;" class="js-back-mousage"><i class="iclose-checklist"></i></a></div>
  <div class="mousage__header">Your Mousages
    <div class="mousage__header-note">{{ (vacation.mousages | filter:{'read':0}).length }} NEW</div>
  </div>
  <div class="mousage__body">
    <div>Personalized tips, alerts, and recommendations appear below to help plan your dream Disney vacation.</div>
    <div class="mousage__actions">
      <div ng-if="vacation.mousages.length > 0" class="mousage__item__footer"><a ng-class="{'active': schedulerConfig.showReadMousages}" ng-click="schedulerConfig.showReadMousages = true;" class="mousage__item__footer-right btn--link-sm">All ({{ vacation.mousages.length }})</a><a ng-class="{'active': !schedulerConfig.showReadMousages}" ng-click="schedulerConfig.showReadMousages = false" class="mousage__item__footer-right btn--link-sm">Unread</a></div>
    </div>

    <div ng-show="genMousages.length > 0" ng-class="{ 'mousage__item--active': genOpen }" class="mousage__item">
      <div class="mousage__item__head">
        <div class="mousage__item__head-name">General</div>
        <div class="mousage__item--right"><a ng-click="genOpen = !genOpen"><i></i></a></div>
      </div>
      <div ng-repeat="mousage in genMousages = (vacation.mousages | filter:{mousageable_type:'!days'} | filter:readMousages(schedulerConfig.showReadMousages))" class="mousage__item__body-sm">{{ mousage.text }}
        <div class="mousage__item__footer">
          <div ng-if="!mousage.read" class="checkbox-simple mousage__item__footer-left">
            <label class="checkbox-simple__label" style="cursor: pointer">
              <input type="checkbox" ng-click="main.mousage.markRead(mousage);" class="checkbox-simple__input"/><i class="checkbox-simple__icon"></i>MARK AS READ
            </label>
          </div><a ng-click="main.mousage.addToChecklist(mousage, vacation.mousages);" ng-if="mousage.is_checklist_task == 1" class="mousage__item__footer-left btn-mousage"> <i class="ichecklist"></i>add to checklist</a>
        </div>
      </div>
    </div>
    <div ng-repeat="day in filteredDays = ((vacation.data.mouse_plan.days | mousageDays:vacation.mousages) | filter:readMousages(schedulerConfig.showReadMousages) | orderBy:schedulerConfig.dateStringFilter:false)" ng-class="{ 'mousage__item--active': open }" class="mousage__item">
      <div class="mousage__item__head">
        <div class="mousage__item__head-name">{{ day.date | date: 'EEEE, MMM dd'  }}</div>
        <div class="mousage__item--right"><a ng-click="open = !open"><i></i></a></div>
      </div>
      <div ng-repeat="mousage in day.mousages | filter:readMousages(schedulerConfig.showReadMousages)" class="mousage__item__body-sm">{{ mousage.text }}
        <div class="mousage__item__footer">
          <div ng-if="!mousage.read" class="checkbox-simple mousage__item__footer-left">
            <label class="checkbox-simple__label" style="cursor: pointer">
              <input type="checkbox" ng-click="main.mousage.markRead(mousage);" class="checkbox-simple__input"/><i class="checkbox-simple__icon"></i>MARK AS READ
            </label>
          </div><a ng-click="main.mousage.addToChecklist(mousage, vacation.mousages);" ng-if="mousage.is_checklist_task == 1" class="mousage__item__footer-left btn-mousage"> <i class="ichecklist"></i>add to checklist</a>
        </div>
      </div>
    </div>
  </div>
</div>
