<div resizable r-directions="['bottom']" rNoThrottle="true" data-drag="block.id > 0 && !block.anchored" data-jqyoui-options="{revert:'invalid'}" jqyoui-draggable="{animate:true}" data-drop="block.id > 0" jqyoui-droppable="{onDrop: 'addSubBlock(day,block)'}" style="cursor: -webkit-grab; cursor: -moz-grab; height: {{ blockProperties.height() }}px; top: {{ blockProperties.startTimeInMinutes() }}px; width: {{ blockProperties.width }}; left: {{ blockProperties.left }};" ng-class="blockProperties.class()" ng-if="blockProperties.block_id === block.id" id="{{'block_'+block.id}}" title="{{formatBlockName(block)}}">


  	<div class="block-menu" style="position:relative;" ng-style="{'margin-top': blockProperties.menuPos()+'px'}" id="{{'block_menu_'+block.id}}">

      <div ng-if="!editBlockProps.isFastpass" uib-popover-template="editBlockProps.templateUrl" popover-placement="right" popover-is-open="editBlockProps.id === block.id" popover-trigger="'click outsideClick'"></div>
      <div ng-if="editBlockProps.isFastpass" uib-popover-template="editBlockProps.templateUrl" popover-placement="right-bottom" popover-is-open="editBlockProps.id === block.id" popover-trigger="'click outsideClick'" ng-style="{'height': (editBlockProps.id === block.id) ? (blockProperties.menuHeight + blockProperties.imageHeight + 19) + 'px' : 0, 'position': 'absolute', 'width': '100%'}"></div>

      <div class="object-box__options">
        <a ng-click="editBlock(block);" class="object-box__options-item js-edit-block"><i data-hint="Edit" class="ieditblock hint--top hint--bounce"></i></a>
        <a ng-click="deleteBlock(block);" class="object-box__options-item js-delete-block"><i data-hint="Trash" class="itrash-sc hint--top hint--bounce"></i></a>
        <a ng-click="getNotes(block)" ng-class="{ 'active': (schedulerConfig.notes | filter:{noteable_type: 'blocks'} | filter:{noteable_id: block.id}:true).length }" class="object-box__options-item js-note-view"><i data-hint="Notes" class="inote hint--top hint--bounce"></i></a>
      </div>

      <div ng-if="block.startTime != '' && blockProperties.height() >= 28" class="object-box__time">{{ block.startTime | date:'h:mm a' : 'UTC' }}</div>

      <span ng-if="blockProperties.name != 'fastpass' && blockProperties.name != 'park' && blockProperties.name != 'resort' && blockProperties.name != 'empty'" ng-class="{ 'object-box__name-resort': blockProperties.name == 'resort', 'object-box__name': blockProperties.name != 'park' && blockProperties.name != 'logo' }" title="{{ block.name }}{{ (block.location != '' && block.location != undefined) ? ', ' + block.location : '' }}" style="max-height: auto" class="{{ block.properties.class }}">{{ formatBlockName(block) }}</span>

      <span ng-if="block.association_id && blockProperties.name == 'resort' && (day.blocks | filter:{parent_id: block.id}:true).length == 0" class="object-box__name">{{ (vacation.options.resorts | filter:{id: block.association_id}:true)[0].name }}</span>
      <span ng-if="!block.association_id && blockProperties.name == 'resort' && (day.blocks | filter:{parent_id: block.id}:true).length == 0" class="object-box__name">{{ block.name }}</span>

    	<div class="object-box__logo" ng-if="blockProperties.image">
      		<div class="object-box__logo-img" ng-style="{'height': blockProperties.imageHeight, 'width': blockProperties.imageHeight}">
                <span ng-class="main.switchColors(blockProperties.subtype, 'color')" class="object-box__logo-no-img object-box--clear">{{blockProperties.subtype}}</span>
      		</div>
    	</div>

      <div ng-if="blockProperties.name == 'park' && !(blockProperties.subtype == 'DS' || blockProperties.subtype == 'BB' || blockProperties.subtype == 'TL')" ng-style="{'margin-top': blockProperties.fastpassPos()+'px'}" id="{{'block-fastpass-' + block.id }}" class="block-fastpass">
        <div class="object-box__reservation-head"><a ng-click="editBlock(block, true, day.selectedFastpass);" style="position: {{ block.properties.iconPosition }}; display: {{ block.properties.iconDisplay }};" class="js-edit-block"><i></i></a>FastPass+ reservations</div>

        <div class="object-box__reservation-body">
          <div class="list-hour">
              <div ng-repeat="fp in day.selectedFastpass | filter:{block_id: block.id}:true track by $index" class="list-hour__row" mp-fast-pass="fp">
                <div class="list-hour__cell">{{ fp.reservation_time | date:'h:mm' }}</div>
                <div class="list-hour__cell">{{ fastpassItem.name }}</div>
              </div>
          </div>
        </div>
      </div>
  	</div>

  	<div ng-if="blockProperties.image && blockProperties.name == 'logo'" class="object-box__logo-img"><img ng-src="{{'images/'+blockProperties.image }}"/>
  	</div>

    <div ng-repeat="block in day.blocks | filter:{parent_id: block.id}:true" mp-day-block ng-include="'views/templates/mp-day-block.html'"></div>

</div>
<div mp-add-activity></div>
