<div id="action-popup" class="action">
  <div class="action__wrapper">
    <div class="action__nav"><a ng-click="form.back()"><i class="iback-mobile"></i>BACK</a></div>
    <div class="action__close-desktop"><a ng-click="form.close();"><i class="iclose-off"></i></a></div>
    <div class="action__body">
      <form name="formAction" novalidate="novalidate" class="action__form action__form--{{ form.type.name == 'park' ? form.data.park.class: '' }}">

        <div ng-if="form.page === 1">
          <div class="action__form-control">
            <label class="action__form-label">Day</label>
            <select class="action__form-input" ng-options="item as (item.date | date:'fullDate') for item in vacation.data.mouse_plan.days | orderBy:'date'" ng-model="form.day" ng-change="form.config.dateChanged()" required>
              <option value="">Select a day...</option>
            </select>
          </div>

          <div class="action__form-control">
            <label class="action__form-label">Activity</label>
            <select class="action__form-input" ng-options="item.block.block_type_id as item.name for item in blockTypes" ng-model="form.data.block_type_id" ng-change="form.config.typeChanged()" required>
              <option value="">Select an activity...</option>
            </select>
          </div>

        </div>

        <div ng-if="form.page === 2">
          <div ng-if="form.type.name != 'park'" class="action__head visible-b-sm">{{ form.type.name }}</div>
          <div class="action__form-controls">

            <div ng-if="form.type.name == 'park'">
              <div class="action__form-control">
                <label class="action__form-label">Park</label>
                <div class="action__form-control-image">
                    <span class="object-box__logo-no-img" ng-class="main.switchColors((form.data.block_type_id | blockType:block_types).subtype, 'color')">{{(form.data.block_type_id | blockType:block_types).subtype}}</span>
                </div>
                <select class="action__form-input" ng-model="form.data.block_type_id" ng-options="park.id as park.name for park in vacation.options.parks">
                </select>
              </div>
            </div>

            <div ng-if="form.type.name == 'resort'">
              <div class="action__form-control">
                <label class="action__form-label">Resort</label>
                <select class="action__form-input" ng-model="form.data.association_id" ng-options="resort.id as resort.name for resort in vacation.options.resorts">
                </select>
              </div>
            </div>

            <div class="action__form-control">
              <div mp-timepicker-sm="localVariable.startTime" name="startTime" placeholder="Start Time" min="form.data.beginUtc" max="form.data.endTime" required></div>
            </div>
            <div class="action__form-control">
              <div mp-timepicker-sm="localVariable.endTime" name="endTime" placeholder="End Time" min="form.data.startTime" max="form.data.maxEndUtc" required></div>
            </div>

            <div ng-if="form.type.name != 'park' && form.type.name != 'resort' && form.type.name != 'dining'" class="action__form-control">
              <label class="action__form-label">Name</label>
              <input name="nameAction" type="text" ng-model="form.data.name" maxlength="256" class="action__form-input"/>
            </div>

            <div ng-if="form.type.name == 'dining'" class="action__form-control autocomplete">
              <label class="action__form-label">Restaurant name</label>
              <input type="text" ng-model="form.data.name" placeholder="" uib-typeahead="item.name for item in form.autocomplete.restaurants.get($viewValue)" typeahead-on-select="form.autocomplete.restaurants.select($item)" class="action__form-input">
            </div>

            <div ng-if="form.type.name == 'dining'" class="action__form-control">
              <label class="action__form-label">Restaurant location</label>
              <input type="text" ng-model="form.data.location" class="action__form-input"/>
            </div>

          </div>
        </div>

        <div ng-if="form.page === 1">
          <div class="action__form-control"><a ng-click="form.next(formAction)" class="action__form-btn action__form-btn--primary">Next</a></div>
        </div>

        <div ng-if="form.page === 2">
          <div class="action__form-control"><a ng-click="form.save(formAction);" class="action__form-btn action__form-btn--primary">Apply</a></div>
        </div>

      </form>
    </div>
  </div>
</div>
