
<div class="modal">
	<form name="mpModalForm" novalidate="novalidate">
  		<div class="modal__head">Note</div>
  		<div class="modal__body">
    		<textarea rows="10" maxlength="250" ng-model="form.data.text"></textarea>
  		</div>
  		<div class="modal__footer"><a ng-click="form.cancel()" class="btn btn--default btn--sm">Cancel</a><a ng-click="form.submit(mpModalForm);" class="btn btn--primary btn--sm">Save</a></div>
  	</form>
</div>