<div id="note-block" ng-init="type = (noteParent.block_type_id ? 'blocks' : 'days')">
  <div class="note__header">NOTES</div>
  <div class="note__body">
    <div class="note__item">
      <div class="note__item__head">
        <div class="note__item__head-name">{{ (noteParent.name ? noteParent.name : 'Day '+noteParent.day_number) }}</div><a ng-click="addNote(noteParent);" class="btn btn--add-note btn--xs">+ Add Note</a>
      </div>
      <div ng-repeat="note in schedulerConfig.notes | filter:{noteable_type: type} | filter:{noteable_id: noteParent.id}:true track by $index" class="note__item__body-sm">
        <div class="note__actions"><a ng-click="removeNote(note);" class="mousage__item__footer-right btn--link-sm"><i class="itrash"></i></a><a ng-click="editNote(note);" class="mousage__item__footer-right btn--link-sm"><i class="ieditmousage"></i></a></div><span>{{ note.text }}</span>
      </div>
    </div>
  </div>
</div>
