<div class="modal">
    <div class="modal__head"></div>
    <form name="mpModalForm" novalidate="novalidate">
        <div class="modal__body">
            <div class="guide-desktop">
                <script>(function (d) {
                    var js, id = "genially-embed-js", ref = d.getElementsByTagName("script")[0];
                    if (d.getElementById(id)) {
                        return;
                    }
                    js = d.createElement("script");
                    js.id = id;
                    js.async = true;
                    js.src = "https://view.genial.ly/static/embed/embed.js";
                    ref.parentNode.insertBefore(js, ref);
                }(document));</script>
                <div style="width: 100%;">
                    <div style="position: relative; padding-bottom: 56.25%; padding-top: 0; height: 0;">
                        <iframe frameborder="0" width="1200px" height="675px"
                                style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"
                                src="https://view.genial.ly/5ba9354938d43e0f9568a07d" type="text/html"
                                allowscriptaccess="always" allowfullscreen="true" scrolling="yes"
                                allownetworking="all"></iframe>
                    </div>
                </div>
            </div>
            <div class="guide-mobile">

                <script>(function (d) {
                    var js, id = "genially-embed-js", ref = d.getElementsByTagName("script")[0];
                    if (d.getElementById(id)) {
                        return;
                    }
                    js = d.createElement("script");
                    js.id = id;
                    js.async = true;
                    js.src = "https://view.genial.ly/static/embed/embed.js";
                    ref.parentNode.insertBefore(js, ref);
                }(document));</script>

                <div style='width: 100%;'>
                    <div style='position: relative; padding-bottom: 150.00%; padding-top: 0; height: 0;'>
                        <iframe frameborder='0' width='640px' height='960px' style='position: absolute; top: 0;
                                left: 0; width: 100%; height: 100%;'
                                src='https://view.genial.ly/5bbde6cdfcb9c252a240798c' type='text/html'
                                allowscriptaccess='always' allowfullscreen='true' scrolling='yes'
                                allownetworking='all'></iframe>
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>
