<ul class="nav-step">
    <li ng-repeat="step in steps"
        ng-class="{ 'nav-step__item--current': currentStep == $index, 'nav-step__item--completed': $index <= vacation.data.highestStepCompleted && currentStep != $index, 'nav-step__item--last': (($index+1) == steps.length) }"
        class="nav-step__item"><a ng-click="stepNav(mpForm, $index);"><span class="page"><span class="page__number"><i
            class="ilast-step" ng-if="($index+1) == steps.length"></i><span ng-if="($index+1) < steps.length">{{step.number}}</span></span></span><span>{{step.name}}</span></a>
        <!--<div class="nav-step__item__text" ng-if="($index+1) < steps.length">YOU ARE HERE</div>-->
    </li>
</ul>