<ul ng-class="{'active': active}" class="sticky-nav">
<!-- dashboard -->
    <li><a ui-sref="main.dashboard({tripId: vacation.trip.id})" class="dashboard">
        <div class="sticky-nav__image"><i class="inav-dashboard"></i></div>
        <div class="sticky-nav__text">Dashboard</div></a></li>
<!-- checklist -->
    <li><a ng-click="showChecklist();" class="checklist">
        <div class="sticky-nav__image"><i class="inav-checklist"></i></div>
        <div class="sticky-nav__text">Checklist</div></a></li>
<!-- planning tools -->
    <li><a href="//mouseplanner.com/planning-tools" target="_blank" class="planning-tools">
        <div class="sticky-nav__image"><i class="inav-planning-tools"></i></div>
        <div class="sticky-nav__text">Planning Tools</div></a></li>
<!-- book it -->
  <li><a href="//mouseplanner.com/booking" target="_blank" class="book-it">
      <div class="sticky-nav__image"><i class="inav-book-it"> </i></div>
      <div class="sticky-nav__text">Book It</div></a></li>
<!-- profile -->
<!-- commenting out for our beta release -->
    <!-- <li><a href="http://mouseplanner.com/profile/#" class="profile">
        <div class="sticky-nav__image"><i class="inav-profile"></i></div>
        <div class="sticky-nav__text">Profile</div></a></li> -->
</ul>
