<div class="subscription-area" ng-show="show" ng-class="{ 'popup-mode': modeType === 'popup' }">
  <div class="bg" ng-click="closePopup()"></div>
  <div class="subscription-frame">

    <!--SUBSCRIPTION DESCRIPTION-->
    <div ng-show="paymentStep === 1">
      <div class="logo-wrap">
        <a href="//mouseplanner.com"  class="ilogo"></a>
      </div>

      <!--User had subscription before-->
      <div ng-if="subscription.were_subscribed_before">
        <h1 class="form-title">Looks like your subscription has ended.</h1>
        <div class="illustr-glasshour"></div>
        <ul class="benefits-list">
          <li>Avoid crowds – We calculate the best days for each park based on your preferences and Disney schedules</li>
          <li>Don't miss out on reserving dining, attractions, and one-of-a-kind experiences – Get customized reminders and recommendations</li>
          <li>Park times change frequently – Get alerts and update plans when they do</li>
        </ul>
        <form class="subscription-form" novalidate name="subscriptionForm" ng-submit="subscription.submit()">
          <button class="btn btn--success">Renew Subscription!</button>
        </form>
      </div>
      <!--User had only trial subscription-->
      <div ng-if="!subscription.were_subscribed_before">
        <h1 class="form-title">Looks like your free trial has ended.</h1>
        <div class="illustr-glasshour"></div>
        <div class="txt-inform">Let us be your guide to stress-free Disney planning!</div>
        <ul class="benefits-list">
          <li>Avoid crowds – We calculate the best days for each park based on your preferences and Disney schedules</li>
          <li>Don't miss out on reserving dining, attractions, and one-of-a-kind experiences – Get customized reminders and recommendations</li>
          <li>Park times change frequently – Get alerts and update plans when they do</li>
        </ul>
        <form class="subscription-form" novalidate name="subscriptionForm" ng-submit="subscription.submit()">
          <button class="btn btn--success">Subscribe Now!</button>
        </form>
      </div>
    </div>

    <!--STRIPE PAYMENT FORM-->
    <div class="content-wrap" ng-show="paymentStep === 2">
      <!--User already has subscription-->
      <div ng-show="modeType === 'popup' && !subscription.isOnTrial">
        <h1 class="form-title">You already have subscription</h1>
        <div class="illustr-glasshour"></div>
      </div>

      <!--User has expired subscription OR trial subscription-->
      <div ng-show="modeType === 'page' || (modeType === 'popup' && subscription.isOnTrial)">
        <span class="button-close" ng-if="modeType === 'popup'" ng-click="closePopup()">&#10006;</span>
        <h1 class="form-title">Payment details</h1>

        <form id="payment-form" novalidate name="paymentForm" ng-submit="payment.submit(paymentForm)">
          <div class="item-frame card-frame">
            <div id="card-element">
              <div class="form-item">
                <div class="element-wrapper" ng-class="{invalid: paymentErrors.cardNumber}">
                  <div id="card-element-number" class="field empty"></div>
                </div>

                <div class="error-mes" ng-if="paymentErrors.cardNumber">
                  <div class="error-mes-cnt" ng-if="paymentErrors.cardNumber.code" ng-switch="paymentErrors.cardNumber.code">
                    <div ng-switch-when="incomplete_number">
                      The credit card number is not valid
                    </div>
                    <div ng-switch-default>
                      {{paymentErrors.cardNumber.message}}
                    </div>
                  </div>
                </div>
              </div>

              <div class="box">
                <div class="form-item">
                  <div class="element-wrapper" ng-class="{invalid: paymentErrors.cardExpiry}">
                    <div id="card-element-expiry" class="field empty third-width"></div>
                  </div>
                  <div class="error-mes">
                    <div class="error-mes-cnt" ng-if="paymentErrors.cardExpiry">{{paymentErrors.cardExpiry.message}}</div>
                  </div>
                </div>
                <div class="form-item float-right">
                  <div class="element-wrapper" ng-class="{invalid: paymentErrors.cardCvc}">
                    <div id="card-element-cvc" class="field empty third-width"></div>
                  </div>

                  <div class="error-mes" ng-if="paymentErrors.cardCvc">
                    <div class="error-mes-cnt" ng-if="paymentErrors.cardCvc.code" ng-switch="paymentErrors.cardCvc.code">
                      <div ng-switch-when="incomplete_cvc">
                        The value is not a valid CVC
                      </div>
                      <div ng-switch-default>
                        {{paymentErrors.cardCvc.message}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="additional-fields">
              <input name="name"
                     class="form-control"
                     placeholder="Cardholder Name"
                     ng-model="payment.data.name">
            </div>
          </div>

          <div class="item-frame coupon-frame">
            <div class="flex-wrap">
              <div class="flex-col">
                <input name="coupon"
                       class="form-control"
                       ng-class="{'invalid': paymentErrors.coupon}"
                       placeholder="Coupon code"
                       ng-change="paymentErrors.coupon = null"
                       ng-model="payment.data.coupon"
                       ng-disabled="subscriptionCoupon.id"
                       required>
              </div>
              <a href class="btn"
                 ng-disabled="disableButton"
                 ng-class="{'btn--success': !subscriptionCoupon.id, 'btn--applied': subscriptionCoupon.id, 'loading': spinnerCoupon === 'loading'}"
                 ng-click="payment.checkCouponCode()"><span class="btn-text">{{ subscriptionCoupon.id ? 'Applied' : 'Apply'}}</span><span class="spinner"></span></a>
            </div>
            <div class="error-mes" ng-show="paymentErrors.coupon">{{paymentErrors.coupon.message}}</div>
          </div>

          <div class="item-frame basket-frame">
            <h2 class="form-title">Order Summary</h2>
            <table class="basket-list" ng-if="basket">
              <tr>
                <td>{{basket.planName}}</td>
                <td class="col-price">{{basket.currency}}{{basket.planAmount}}</td>
              </tr>
              <tr ng-show="basket.discountAmount">
                <td>Discount</td>
                <td class="col-price">-{{basket.currency}}{{basket.discountAmount}}</td>
              </tr>
              <tr class="total-row">
                <td>Total</td>
                <td class="col-price">{{basket.currency}}{{basket.totalAmount}}</td>
              </tr>
            </table>
          </div>

          <button class="btn btn--success" ng-disabled="disableButton">Subscribe</button>
        </form>
        <div class="agreement">
          <p>I agree with <a href="//www.mouseplanner.com/terms-and-conditions">Terms of Service</a> and <a href="//www.mouseplanner.com/privacy-policy">Privacy Policy</a></p>
        </div>
      </div>
    </div>

    <!--PAYMENT RESULT MESSAGE-->
    <div class="content-wrap" ng-show="paymentStep === 3">
      <span class="button-close" ng-click="closePopup()">&#10006;</span>
      <div class="payment-success" ng-if="paymentIsSuccessful">
        <div class="wrap-img-card"></div>
        <h1 class="form-title">Payment Successful</h1>
        <p class="txt-inform">Thank you! You can now continue using MousePlanner</p>
        <div>
          <a href class="btn btn--success"
             ng-click="goToAfterPayment()">Got It</a>
        </div>
      </div>
      <div class="payment-error" ng-if="!paymentIsSuccessful">
        <div class="wrap-img-card"></div>
        <h1 class="form-title">Payment Unsuccessful</h1>
        <div ng-if="paymentErrors.main && paymentErrors.main.code" ng-switch="paymentErrors.main.code">
          <div ng-switch-when="payment_conflict">
            <p class="txt-inform">You already have a subscription. Please try to  <a href ng-click="logoutUser()">Login</a> to continue using MousePlanner.</p>
          </div>
          <div ng-switch-default>
            <p class="txt-inform">There is a problem with your payment.</p>
            <div>
              <a href class="btn btn--success"
                 ng-click="goToAfterPayment()">Retry</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="loader ng-hide" ng-show="showLoader">
      <div class="bg"></div>
      <div class="box">Please wait...</div>
    </div>
  </div>
</div>
