<div>
  <label class="action__form-label">{{placeholder}}</label>
  <div class="action__datetime" mp-click-away="active = false">
    <div ng-click="active = !active">
      <input type="text" ng-model="time" valid-date="valid-date" min="min" max="max" class="action__form-input" mp-format="date:shortTime" readonly="readonly" />
    </div>
    <div class="action__datetime-picker" ng-class="{'active': active}">
      <uib-timepicker-custom ng-model="time" hour-step="1" minute-step="minuteStep" mousewheel="false" show-meridian="true" min="min" max="max" ng-change="changed()" ></uib-timepicker-custom>
    </div>
  </div>
</div>
