<div>
	<div class="form-group--has-feedback datetime" mp-click-away="active = false">
		<div ng-click="active = !active">
	    	<input name="{{name}}" type="text" placeholder="{{placeholder}}" ng-model="time" valid-date="valid-date" ng-class="{ 'form-group__control--error': (submitted || arrival.submitted || mpForm[name].$dirty) && (mpForm[name].$error.parse && mpForm[name].$viewValue !='') }" mp-format="date:shortTime" readonly="readonly" class="form-group__control"/><span class="form-group__feed"><i class="iclock"></i></span>
	    </div>
	    <div class="datetime__picker" ng-class="{'active': active}">
	      	<uib-timepicker-custom ng-model="time" hour-step="1" minute-step="minuteStep" mousewheel="false" ng-change="changed()" show-meridian="true" min="min" max="max"></uib-timepicker-custom>
	    </div>
	  </div>
	<div ng-if="(submitted || mpForm[name].$dirty ) && ( mpForm[name].$error.parse && mpForm[name].$viewValue !='')" class="message message--error fade"><span ng-if="mpForm[name].$error.parse">Please enter a correct time format.</span></div>
</div>
