
<div style="border-radius: 0px;" class="modal">
  <div style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;" class="modal__body">
    <div class="action__nav"><a ng-click="closeThisDialog()" class="js-back-action"><i class="iback-mobile"></i>BACK</a></div>
    <div class="checklist box-shadow">
      <div class="checklist__body">
        <p> <b>It’s a Match!</b>&nbsp; We think you’ll like this based on your earlier responses. The qualities that match your preferences are highlighted below.</p>
        <div ng-if="parkTemp.facets.age.length &amp;&amp; parkTemp.facets.age.length &gt; 0"><b>Ages:&nbsp;</b><span ng-repeat="a in parkTemp.facets.age" ng-class="{ 'badge-line--success': vacationTemp.checked.age(a) }" class="badge-line">{{ a.value }},&nbsp;</span></div>
        <div ng-if="parkTemp.facets.interests.length &amp;&amp; parkTemp.facets.interests.length &gt; 0"><b>Interest:&nbsp;</b><span ng-repeat="i in vacationTemp.park.interests.get(parkTemp)" ng-class="{ 'badge-line--success': vacationTemp.checked.interests(i) }" class="badge-line">{{ i.value }},&nbsp;</span></div>
        <div ng-if="parkTemp.facets.height.length &amp;&amp; parkTemp.facets.height.length &gt; 0"><b>Height:&nbsp;</b><span ng-repeat="h in parkTemp.facets.height" ng-class="{ 'badge-line--success': vacationTemp.checked.height(h) }" class="badge-line">{{ h.value }},&nbsp;</span></div>
        <div ng-if="parkTemp.facets.thrillFactor.length &amp;&amp; parkTemp.facets.thrillFactor.length &gt; 0"><b>Thrill Factors:&nbsp;</b><span ng-repeat="t in parkTemp.facets.thrillFactor" class="badge-line">{{ t.value }},&nbsp;</span></div>
        <div ng-if="parkTemp.facets.mobilityDisabilities.length &amp;&amp; parkTemp.facets.mobilityDisabilities.length &gt; 0"><b>Mobility Disabilities:&nbsp;</b><span ng-repeat="t in parkTemp.facets.mobilityDisabilities" ng-class="{ 'badge-line--success': vacationTemp.checked.accessibility(t) }" class="badge-line">{{ t.value }},&nbsp;</span></div>
        <div ng-if="parkTemp.facets.serviceAnimals.length &amp;&amp; parkTemp.facets.serviceAnimals.length &gt; 0"><b>Service Animals:&nbsp;</b><span ng-repeat="t in parkTemp.facets.serviceAnimals" ng-class="{ 'badge-line--success': vacationTemp.checked.accessibility(t) }" class="badge-line">{{ t.value }},&nbsp;</span></div>
        <div ng-if="parkTemp.facets.hearingandVisualDisability.length &amp;&amp; parkTemp.facets.hearingandVisualDisability.length &gt; 0"><b>Hearing and Visual Disability:&nbsp;</b><span ng-repeat="t in parkTemp.facets.hearingandVisualDisability" ng-class="{ 'badge-line--success': vacationTemp.checked.accessibility(t) }" class="badge-line">{{ t.value }},&nbsp;</span></div>
      </div>
    </div>
  </div>
</div>