=img-replace($img, $width, $height, $display: block)
	background-image: url('#{$path--rel}/#{$img}')
	background-repeat: no-repeat
	width: $width
	height: $height
	display: $display

=border-radius($radius)
	-webkit-border-radius: $radius
	-moz-border-radius: $radius
	-ms-border-radius: $radius
	border-radius: $radius
=box-shadow($top, $left, $blur, $color, $inset: false)
	@if $inset
		-webkit-box-shadow: inset $top $left $blur $color
		-moz-box-shadow: inset $top $left $blur $color
		box-shadow: inset $top $left $blur $color
	@else
		-webkit-box-shadow: $top $left $blur $color
		-moz-box-shadow: $top $left $blur $color
		box-shadow: $top $left $blur $color
=transition($time)
	-webkit-transition: all $time ease-in-out
	-moz-transition: all $time ease-in-out
	-ms-transition: all $time ease-in-out
	-o-transition: all $time ease-in-out
=transform($transform)
	-webkit-transform: $transform
	-moz-transform: $transform
	-ms-transform: $transform
	-o-transform: $transform
	transform: $transform
=appearance($appearance)
	-webkit-appearance: $appearance
	-moz-appearance: $appearance
	-ms-appearance: $appearance
	-o-appearance: $appearance

=bg-colors($map)
	@each $theme, $color in $map
		&--#{$theme}
			background-color: $color
			+transition(0.3s)
			&:hover
				background-color: darken($color, 10%)
			&:active
				background-color: darken($color, 5%)

//Checkbox and Radio
=checkbox_radio($classname)
	display: inline-block
	&:last-child
		margin-right: 0px
	&__label
		color: black
		display: inline-block
		font-weight: 400
		margin-bottom: 0px
		cursor: pointer
		padding: em(7px)
		+transition(0.3s)
		+border-radius(4px)
		position: relative
		height: 50px
		padding-left: 50px
		display: table-cell
		vertical-align: middle
		&:last-child
			margin-right: 0px
		&:hover
			background-color: #e5e5e5
		&__input
			margin: 0
			padding: 0
			opacity: 0
			position: absolute
			&:checked + .#{$classname}__label__icon
				display: inline-block
		&__icon
			padding-left: em(20px)
			display: inline-block
			vertical-align: middle
			margin-right: em(10px)
			position: absolute
			left: 3px
			top: 0px
			bottom: 0px
			margin: auto
