<div>
  <div class="container--dashboard">
    <div ng-class="{'header--sticky-nav': activeMenu}" class="header header--schedule">
      <div class="logo-wrap">
        <a ui-sref="main.dashboard" class="ilogo"></a>
      </div>
      <div class="header-menu-wrapper">
          <a href ng-click="showGuide()"
             class="btn-sticky-show-guide"><i class="ischedule-guide"></i></a>
          <a href="//mouseplanner.com/booking/" class="hide-mobile">Vacation Quote</a>
          <a href="//mouseplanner.com/planning-services" class="hide-mobile">Planning Packages</a>
          <div class="header__menu visible-sm"><a ng-click="activeMenu = !activeMenu" class="btn--menu js-menu-sticky">MENU<br/><i class="icn-menu-mobile"></i></a></div>
          <a href class="logout-link" logout-link>Log out</a>
      </div>
    </div>
  </div>
  <div class="container--dashboard">
    <div class="dashboard">
      <div class="dashboard__header">
        <div class="dashboard__header-profile">
          <div class="dashboard__header-profile-name">{{ config.user.firstname }}'s Dashboard</div>
        </div>
      </div>
      <div class="dashboard__body">
        <div class="dashboard__preview">
          <div class="dashboard__preview-image"><img src="../mpservices/images/preview_logo.png"/></div>
          <div class="dashboard__preview-description">
            <div class="dashboard__preview-title">If you can dream it, you can do it. - <span>Walt Disney</span></div>
            <div class="dashboard__preview-buttons">
              <a href ng-if="userCanSubscribe" ng-click="toggleSubscriptionPopup()"
                 class="btn-sticky btn-sticky-purchase btn-sticky--subscribe">Purchase</a>
              <a href ng-click="learnMore()"
                 class="btn-sticky btn-sticky-learn-more">Learn more</a>
            </div>
          </div>
        </div>
        <div class="dashboard__plans">

          <div ng-show="currentUserInfo.role_id == 1" class="dashboard__admin-search">
            <div class="search-field">
              <input type="text" placeholder="Search for an email" ng-keyup="pageChanged(currentPage, searchPlans, filterSelect)" ng-model="searchPlans">
            </div>
            <div class="filter-field">
              <label> Sort by: </label><br>
              <select ng-model="filterSelect" ng-change="pageChanged(currentPage, searchPlans, filterSelect)">
                <option value="startTravelDate">Start travel date</option>
              </select>
            </div>
          </div>

          <div class="dashboard__plans-body">
            <div ng-if="currentUserInfo.role_id != 1"  class="dashboard__plans-wrapper">
              <div ng-repeat="plan in sortVacation" mp-plan class="plan">

                <div class="plan__head"><a ng-click="editPlan(plan);">{{ plan.name }}</a></div>
                <div class="plan__body">
                  <div ng-if="plan.startTravelDate != undefined && plan.endTravelDate != undefined && (plan.startTravelDate | date: 'MMM yyyy') == (plan.endTravelDate  | date: 'MMM yyyy')">
                    <div ng-if="(plan.endTravelDate | date: 'MMM') == (plan.endTravelDate  | date: 'MMM')" class="plan__date">{{ plan.startTravelDate | date: 'd' }} - {{ plan.endTravelDate | date: 'd' }} {{ plan.startTravelDate | date: 'MMM yyyy' }}</div>
                    <div ng-if="(plan.startTravelDate | date: 'MMM') != (plan.endTravelDate  | date: 'MMM')" class="plan__date">{{ plan.startTravelDate | date: 'd MMM' }} - {{ plan.endTravelDate | date: 'd MMM' }} {{ plan.startTravelDate | date: 'yyyy' }}</div>
                  </div>
                  <div ng-if="plan.startTravelDate != undefined && plan.endTravelDate != undefined && (plan.startTravelDate | date: 'MMM yyyy') != (plan.endTravelDate  | date: 'MMM yyyy')">
                    <div class="plan__date">{{ plan.startTravelDate | date: 'd MMM yyyy' }} - {{ plan.endTravelDate  | date: 'd MMM yyyy' }}</div>
                  </div>
                </div>
                <div class="plan__footer">
                  <div class="plan__footer-bg"></div>
                  <div class="plan__footer-op">
                    <ul>
                      <li><a href="javascript:void(0);" class="dash-min-menu"><i class="idash-icn-menu"></i></a>
                        <ul>
                          <!-- removing our share icon -->
                          <!-- TODO: implement social sharing -->
                          <!-- <li><a href="javascript:void(0);"><i class="icn-share"></i></a></li> -->
                          <li><a ng-click="editPlan(plan);"><i class="icn-edit"></i></a></li>
                          <li><a ng-click="removePlan(plan);"><i class="icn-trash"></i></a></li>
                          <li><a ng-click="duplicatePlan(plan);"><i class="icn-copy"></i></a></li>
                          <li><a ng-click="showMousages(mousages);"><i class="icn-mousages"></i></a>
                            <div ng-if="(mousages | filter:{read: 0}).length > 0" class="plan__footer-op-num">{{ (mousages | filter:{read: 0}).length }}</div>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="plan__footer-score">
                  <div class="plan__footer-score__title">Trip<br> Score</div>
                  <div class="plan__footer-score__number">{{ plan.mouse_plan.tripScore }}</div>
                </div>
              </div>
              <div class="plan new_plan" ng-click="newPlan(dashboard.trip);">
                <div class="add-plan-link">
                  <i class="addblockmobile"></i>
                  <a class="add-plan-link_text clearfix">Add New Plan</a>
                </div>
              </div>
            </div>
            <div ng-if="currentUserInfo.role_id == 1" dir-paginate="users in sortVacation | itemsPerPage: usersPerPage" total-items="totalUsers" class="dashboard__plans-wrapper">
                <div class="dashboard__plans-head">{{users.user.firstname}}</div>

                <div ng-repeat="plan in users.user.vacations" mp-plan class="plan">

                  <div class="plan__head"><a ng-click="editPlan(plan);">{{ plan.name }}</a></div>
                  <div class="plan__body">
                    <div ng-if="plan.startTravelDate != undefined && plan.endTravelDate != undefined && (plan.startTravelDate | date: 'MMM yyyy') == (plan.endTravelDate  | date: 'MMM yyyy')">
                      <div ng-if="(plan.endTravelDate | date: 'MMM') == (plan.endTravelDate  | date: 'MMM')" class="plan__date">{{ plan.startTravelDate | date: 'd' }} - {{ plan.endTravelDate | date: 'd' }} {{ plan.startTravelDate | date: 'MMM yyyy' }}</div>
                      <div ng-if="(plan.startTravelDate | date: 'MMM') != (plan.endTravelDate  | date: 'MMM')" class="plan__date">{{ plan.startTravelDate | date: 'd MMM' }} - {{ plan.endTravelDate | date: 'd MMM' }} {{ plan.startTravelDate | date: 'yyyy' }}</div>
                    </div>
                    <div ng-if="plan.startTravelDate != undefined && plan.endTravelDate != undefined && (plan.startTravelDate | date: 'MMM yyyy') != (plan.endTravelDate  | date: 'MMM yyyy')">
                      <div class="plan__date">{{ plan.startTravelDate | date: 'd MMM yyyy' }} - {{ plan.endTravelDate  | date: 'd MMM yyyy' }}</div>
                    </div>
                  </div>
                  <div class="plan__footer">
                    <div class="plan__footer-bg"></div>
                    <div class="plan__footer-op">
                      <ul>
                        <li><a href="javascript:void(0);" class="dash-min-menu"><i class="idash-icn-menu"></i></a>
                          <ul>
                            <!-- removing our share icon -->
                            <!-- TODO: implement social sharing -->
                            <!-- <li><a href="javascript:void(0);"><i class="icn-share"></i></a></li> -->
                            <li><a ng-click="editPlan(plan);"><i class="icn-edit"></i></a></li>
                            <li><a ng-click="removePlan(plan);"><i class="icn-trash"></i></a></li>
                            <li><a ng-click="duplicatePlan(plan);"><i class="icn-copy"></i></a></li>
                            <li><a ng-click="showMousages(mousages);"><i class="icn-mousages"></i></a>
                              <div ng-if="(mousages | filter:{read: 0}).length > 0" class="plan__footer-op-num">{{ (mousages | filter:{read: 0}).length }}</div>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="plan__footer-score">
                    <div class="plan__footer-score__title">Trip<br> Score</div>
                    <div class="plan__footer-score__number">{{ plan.mouse_plan.tripScore }}</div>
                  </div>
                </div>
              </div>
            <div ng-if="currentUserInfo.role_id == 1">
              <dir-pagination-controls on-page-change="pageChanged(newPageNumber, searchPlans, filterSelect)" max-size="7" direction-links="true" boundary-links="true" auto-hide="false" ></dir-pagination-controls>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="container--dashboard">
      <div class="footer__social-networks">
        <div class="line social-title">Get Social with MousePlanner</div>
        <ul>
          <li><a href="https://www.facebook.com/mouseplanner" target="_blank"><i class="icn-faceebook"></i></a></li>
          <li><a href="https://www.youtube.com/c/mouseplanner" target="_blank"><i class="icn-youtube"></i></a></li>
          <li><a href="https://www.instagram.com/mouseplanner/" target="_blank"><i class="icn-instagram"></i></a></li>
          <li><a href="https://www.pinterest.com/mouseplanner/" target="_blank"><i class="icn-pinterest"></i></a></li>
          <li><a href="mailto:support@mouseplanner.com" target="_blank"><i class="icn-mail"></i></a></li>
        </ul>
      </div>
      <div class="footer__copyright">
        <div class="line">© {{config.validation.year.max}} MousePlanner®. All rights reserved. All Disney artwork, properties & logos © Disney. All Disney artwork, copyrights, trademarks, service marks, and trade names are proprietary to Walt Disney Company. This site is not affiliated in any way with Walt Disney Company or any of its affiliates or subsidiaries. For official information on Walt Disney World visit <a href="https://www.disney.com" class="link--transparent">www.disney.com.</a></div>
      </div>
      <div class="footer__description">

      </div>
      <div class=" footer__description footer__policy-links"><a class="link--transparent" href="//mouseplanner.com/terms-and-conditions">Terms Of Use</a> | <a href="//mouseplanner.com/privacy-policy" class="link--transparent">Privacy Policy</a> | <a class="link--transparent" href="mailto:support@mouseplanner.com" target="_blank">Contact Us</a></div>
    </div>
  </div>
  <div>
    <div stickynavigation="activeMenu"></div>
  </div>
  <subscription-purchase ng-show="showSubscriptionPopup" user="config.user" show="showSubscriptionPopup"></subscription-purchase>
</div>
