<div class="container">
  <div ng-class="{'header--sticky-nav': activeMenu}" class="header header--schedule">
    <div class="logo-wrap">
      <a ui-sref="main.dashboard({tripId:vacation.trip.id})" class="ilogo"></a>
    </div>
    <div class="scheduler__subscribe visible-sm-flex">
      <a href ng-if="userCanSubscribe" ng-click="toggleSubscriptionPopup()" class="btn-sticky btn-sticky--schedule">Purchase</a>
    </div>
    <div class="header-menu-subscribe">
      <div class="scheduler__subscribe hide-mobile">
        <a href ng-if="userCanSubscribe" ng-click="toggleSubscriptionPopup()" class="btn-sticky btn-sticky--schedule">Purchase</a>
      </div>
      <div class="header-menu-wrapper">
        <a href ng-click="showGuide()"
           class="btn-sticky-show-guide"><i class="ischedule-guide"></i></a>
        <a href="//mouseplanner.com/booking/" class="hide-mobile">Vacation Quote</a>
        <a href="//mouseplanner.com/planning-services" class="hide-mobile">Planning Packages</a>
        <a href class="hide-mobile" ui-sref="main.dashboard({tripId: vacation.trip.id})">My Dashboard</a>
        <div class="header__menu visible-sm"><a ng-click="activeMenu = !activeMenu" class="btn--menu js-menu-sticky">MENU<br/><i class="icn-menu-mobile"></i></a></div>
        <a href class="logout-link" logout-link>Log out</a>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="scheduler">
    <div class="scheduler__header">
      <div class="scheduler__header-wrap">
        <input ng-model="vacation.data.name" ng-model-options="{ debounce: 500 }" class="scheduler__title edit-single-line" required>
        <div class="scheduler__calendar date-desktop">{{ toUTCDate(vacation.data.startTravelDate) | date:'mediumDate' }} - {{toUTCDate(vacation.data.endTravelDate) | date:'mediumDate'}}</div>
        <div class="scheduler__calendar date-mobile">{{ toUTCDate(vacation.data.startTravelDate) | date:'shortDate' }} - {{toUTCDate(vacation.data.endTravelDate) | date:'shortDate'}}</div>
      </div>
      <div class="scheduler__score">
        <div class="trip-score">
          <div class="trip-score__name">Trip Score</div>
          <div class="trip-score__result">
            <div class="trip-score__number">{{ vacation.data.mouse_plan.tripScore }}</div>
            <div class="trip-score__help"><a href="javascript:void(0);" data-hint="Using a scale from 1 to 100, your Trip Score tells you how well you've maximized the magic! It's based on the vacation preferences you've shared and optimal time in the parks. Use it to compare different options and choose the best one!" class="hint--bottom hint--bounce hint-bottom-max">What is this?</a></div>
          </div>
        </div>
      </div>
      <div id="mousagesView" class="scheduler__mousage-view">
        <div id="mousages" class="mousage-view" uib-popover-template="'views/templates/mousages-popover.html'" popover-placement="bottom-left" popover-trigger="outsideClick" popover-is-open="mousagesPopover.open">
          <div class="mousage-view__alert"><span>Mousages</span><i class="imousage"></i>
            <div ng-if="vacation.mousages.length > 0" class="mousage-view__number">{{ (vacation.mousages | filter:{'read':0}).length }}</div>
          </div>
        </div>
      </div>
    </div>
    <div style="width: 100%;overflow:hidden;" class="clearfix">
      <div ng-if="config &amp;&amp; config.notification.working" class="notification fade {{ config.notification.cssClass }}">
        <div class="notification__bg"></div>
        <div class="notification__icon-left"><i class="{{ config.notification.cssIcon1 }}"></i></div>
        <div class="notification__info">{{ config.notification.textNotification }}</div>
        <div class="notification__icon-right"><i class="{{ config.notification.cssIcon2 }}"></i></div>
      </div>
    </div>
    <div class="scheduler__body">
      <div ng-class="{ 'parks--active': showparks }" class="scheduler__activities">
        <div class="scheduler__activities-head">
          <div style="display: inline-block;" ng-hide="schedulerConfig.viewActive == 'day'">
            <button ng-click="showparks = !showparks" class="btn btn--transparent visible-lg"><span ng-if="!showparks">Show Parks</span><span ng-if="showparks">Hide Parks</span><i class="iarrow"></i></button></div>
          <div class="scheduler__activities--right">
            <a ng-click="changeViewScheduler('week');" ng-class="{ 'active': schedulerConfig.viewActive == 'week' }" style="padding: 8px 0px;" class="btn btn--transparent js-sticky-week">Week</a>
            <a ng-click="changeViewScheduler('day');" ng-class="{ 'active': schedulerConfig.viewActive == 'day' }" style="padding: 8px 0px; margin-right: 20px;" class="btn btn--transparent">Day</a>
            <a ng-click="prevDay();" class="btn btn--default"><i class="ileft"></i></a>
            <a ng-click="nextDay();" class="btn btn--default"><i class="iright"></i></a>
          </div>
          <div class="visible-mobile-tablet"><a ng-click="addBlockMobile();" class="btn--block add-activities-mobile js-addblock-mobile"><i style="vertical-align: middle;" class="addblockmobile"></i><span>Add More</span></a><a ng-click="showparks = !showparks" class="btn btn--transparent btn--parks"><span ng-if="!showparks">Show Parks</span><span ng-if="showparks">Hide Parks</span><i class="iarrow"></i></a></div>
        </div>
        <div class="scheduler__activities-sub">
          <div class="park">
            <div class="park__body">
              <div class="parks">
                <div class="parks__nav">
                  <div class="parks__group">
                    <div class="parks__tabs">
                      <div ng-repeat="block in block_types | filter:{name:'park'}:true" title="{{ block.name }}" mp-park-block href="javascript:void(0);" ng-class="{ 'parks__tab--active': header.tabCurrent == block.id }" class="parks__tab tab-{{ block.cssClass }}">
                        <div ng-click="header.tabCurrent = block.id;" class="parks__tab-frame visible-inline-mobile-tablet parks__tab-no-image">
                          <i class="object-box--clear" ng-class="main.switchColors(park.initials, 'background')">{{park.name}}</i>
                        </div>
                        <div class="parks__tab-frame visible-lg parks__tab-no-image">
                          <i class="object-box--clear" ng-class="main.switchColors(park.initials, 'background')">{{park.name}}</i>
                        </div>
                        <div class="parks__content tab-{{ block.cssClass }}">
                          <div class="parks__content-image"><img ng-if="block.menu_image" ng-src=""></div>
                          <div class="parks__content-header visible-mobile-tablet"><a href="javascript:void(0);" ng-click="header.tabCurrent = -1;" class="parks__content-header-back js-back-parks"><i class="icn-up-mobile"></i>BACK</a>
                            <div class="parks__content-header-img">
                            </div>
                          </div>
                          <div ng-if="vacation.data.edgeDate" class="parks__edge-date-alert">
                            <p>Planning this far in advance of your trip is a great idea to ensure availability at Disney resorts. Please note that park schedules won't be available until {{maxEdgeDate}}.</p>
                            <p>Please check back then to finalize your MousePlan before making dining and Fastpass+ reservations. Until then, you can explore MousePlanner, learn more about Disney vacations, and book your resort, if you haven't already.</p>
                          </div>
                          <div ng-if="block.in_plan === 1 && !vacation.data.edgeDate" class="parks__content-content">
                            <div class="parks__content-schedule">
                              <div class="parks__schedule">
                                <div class="parks__schedule-header">
                                  <div class="parks__schedule-header-cell desktop">Park hours</div>
                                  <div class="parks__schedule-header-cell desktop">Daily Schedule</div>
                                  <div class="parks__schedule-header-cell mobile">Park Hours and Schedule</div>
                                </div>
                                <div class="parks__schedule-footer mobile"><span><i class="istart"></i>= AM Magic Hours</span><span><i class="istart-pm"></i>= PM Magic Hours</span></div>
                                <div ng-repeat="detail in details" class="parks__schedule-row">
                                  <div class="parks__schedule-cell">
                                    <div class="parks__schedule-day">{{ detail.day }}</div>
                                    <div class="parks__schedule-1">{{ detail.park_hours.split(' - ')[0] }}</div>&nbsp;&ndash;
                                    <div class="parks__schedule-2">{{ detail.park_hours.split(' - ')[1] }}<i ng-if="detail.emh.indexOf('Magic Hours AM') > -1" class="istart"></i><i ng-if="detail.emh.indexOf('Magic Hours PM') > -1" class="istart-pm"></i></div>
                                  </div>
                                  <div class="parks__schedule-cell">
                                    <div ng-repeat="event in detail.events track by $index" class="parks__schedule-cell-item">{{ event }}</div>
                                    <div ng-if="detail.emh != ''" class="parks__schedule-cell-item">{{ detail.emh }}</div>
                                    <div ng-if="detail.events.length == 0 && detail.emh == ''" class="parks__schedule-cell-item">&nbsp;</div>
                                  </div>
                                </div>
                                <div class="parks__schedule-footer desktop"><span><i class="istart"></i>= AM Magic Hours</span><span><i class="istart-pm"></i>= PM Magic Hours</span></div>
                              </div>
                            </div>
                          </div>
                          <div ng-if="block.in_plan === 0 && !vacation.data.edgeDate" class="parks__content-content">
                            <div class="parks__content-schedule">
                              <div class="parks__schedule-header alt">
                                <div class="parks__schedule-header-cell">Operating Hours</div>
                              </div>
                              <div class="parks__schedule">
                                <div ng-repeat="detail in details" class="parks__schedule-row alt">
                                    <div class="parks__schedule-cell">
                                      <div class="parks__schedule-day">{{ detail.day }}</div>
                                    </div>
                                    <div class="parks__schedule-cell">
                                      <div class="parks__schedule-1">{{ detail.park_hours.split(' - ')[0] }}</div>&nbsp;&ndash;
                                      <div class="parks__schedule-2">{{ detail.park_hours.split(' - ')[1] }}</div>
                                    </div>
                                </div>
                              </div>
                              <div class="parks__schedule-footer">&nbsp;</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div ng-hide="schedulerConfig.viewActive == 'day'" class="scheduler__activities-body js-sticky-wrap">
          <div class="scheduler__activities-sticky js-sticky">
            <div class="activity__note">
              <div class="activity__head">Add Activities to Plan</div>
              <div class="activity__body more-activities"></div>
            </div>
            <div class="activity__list">
              <div ng-repeat="blockType in blockTypes" type="{{blockType.block.block_type_id}}" class="object-box {{blockType.cssClass}}" data-drag="true" data-jqyoui-options="{revert:'invalid', helper:'clone'}" jqyoui-draggable="{animate:true}" style="cursor: -webkit-grab; cursor: -moz-grab;">{{blockType.name}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="scheduler__block">
        <div class="scheduler__calendar-fixed">
          <div ng-class="{ 'scheduler__calendar-daily--day': schedulerConfig.viewActive == 'day' }" class="scheduler__days-static">
            <div ng-click="viewDay(header.currentDay - 1);" style="cursor:pointer;" class="scheduler__days-static__day-head">
              <div style="width: 100%" class="parks-header__item">
                <div class="parks-header__item-head">{{ vacation.data.mouse_plan.days[header.currentDay - 1].date | date : 'EEEE' }}</div>
                <div class="parks-header__item-body">
                  <div ng-repeat="park in prevDayParks = (vacation.data.mouse_plan.days[header.currentDay - 1].blocks | parkBlocks:block_types)"
                       ng-class="{ 'park__more-frame': prevDayParks.length > 1, 'park__more-frame-2x': prevDayParks.length == 1 }">
                    <div class="object-box--clear" ng-class="main.switchColors(park.subtype, 'color')">{{park.subtype}}</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="scheduler__days-static__day">Early morning</div>
            <div class="scheduler__days-static__day">morning</div>
            <div class="scheduler__days-static__day">afternoon</div>
            <div class="scheduler__days-static__day">late afternoon</div>
            <div class="scheduler__days-static__day">evening</div>
            <div class="scheduler__days-static__day">late evening</div>
            <div class="scheduler__days-static__day">late night</div>
          </div>
          <div id="container-days" class="scheduler__days">
            <div ng-repeat="day in vacation.data.mouse_plan.days" data-index="{{ $index }}" ng-class="{ 'scheduler__calendar-daily--day': schedulerConfig.viewActive == 'day', 'active': $index===header.currentDay }" class="scheduler__calendar-daily scheduler__calendar--day indexDay{{ $index }}" mp-day>
              <div class="scheduler__calendar-daily-head {{(dayParks.length ? dayParks[0].cssClass : 'gray')}}">
                <div class="scheduler__calendar-daily-parks">
                  <div ng-repeat="park in dayParks = ( day.blocks | parkBlocks:block_types )"
                       class="park__only-frame {{ park.cssClass }}">
                    <div class="object-box__logo-no-img object-box--clear" ng-class="main.switchColors(park.subtype, 'color')">{{park.subtype}}</div>
                  </div>
                </div>
                <div ng-if="day.blocks.length > 0" class="scheduler__calendar-daily-head__date">{{ toUTCDate(day.date) | date : 'MMM dd' }}</div>
                <div ng-if="day.blocks.length == 0" style="color: #39516c;" class="scheduler__calendar-daily-head__date">{{ toUTCDate(day.date) | date : 'MMM dd' }}</div>
                <div ng-if="day.blocks.length > 0" class="scheduler__calendar-daily-head__day">{{ toUTCDate(day.date) | date : 'EEEE' }}</div>
                <div ng-if="day.blocks.length == 0" style="color: #39516c;" class="scheduler__calendar-daily-head__day">{{ toUTCDate(day.date) | date : 'EEEE' }}</div>
                <div ng-show="schedulerConfig.viewActive == 'week' && day.blocks.length > 0" class="scheduler__calendar-daily-head__notes">
                  <div class="scheduler__calendar-daily-head__notes-item"><a class="js-note-view" ng-click="getNotes(day)" popover-placement="bottom-left" popover-trigger="click outsideClick"><i class="inote-dark"></i></a>
                  </div>
                </div>
              </div>
              <div id="day{{ $index }}" class="scheduler__calendar-daily-body" data-drop="true" jqyoui-droppable="{onDrop: 'addDayBlock(day)'}">
                <div mp-add-activity></div>
                <div ng-repeat="block in day.blocks | filter:{parent_id: '!'}" mp-day-block ng-include="'views/templates/mp-day-block.html'"></div>
              </div>
            </div>
            <div ng-if="schedulerConfig.viewActive == 'day'" class="scheduler__calendar-daily scheduler__calendar-daily--day right-sidebar">
              <div class="scheduler__calendar-daily-head">
                <div class="parks-header">
                  <div ng-repeat="day in vacation.data.mouse_plan.days" data-index="{{ $index }}" ng-if="$index > header.currentDay" ng-click="viewDay($index);" style="cursor: pointer;" class="parks-header__item">
                    <div class="parks-header__item-head">{{ day.date | date : 'EEEE' }}</div>
                    <div class="parks-header__item-body">
                      <div ng-repeat="park in dayParks=( day.blocks | parkBlocks:block_types )" ng-class="{ 'park__more-frame': dayParks.length > 1, 'park__more-frame-2x': dayParks.length == 1 }">
                        <div class="object-box--clear" ng-class="main.switchColors(park.subtype, 'color')">{{park.subtype}}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="scheduler__calendar-daily-body">
                <div class="mousage mousage--visible">
                  <div mp-day>
                    <div class="mousage__header">Notes for {{ day.date | date : 'EEEE' }}</div>
                    <div class="mousage__body">
                      <div class="mousage__item mousage__item--active">
                        <div class="mousage__item__head">
                          <div class="mousage__item__head-name">{{ day.date | date : 'EEEE, MMM dd' }}</div><a href="javascript:void(0);" ng-click="addNote(day);" class="btn btn--add-note btn--xs">+ Add Note</a>
                        </div>
                        <div ng-repeat="note in schedulerConfig.notes | filter:{noteable_type: 'day'} | filter:{noteable_id: day.id}:true track by $index" class="mousage__item__body-sm">
                          <div class="mousage__actions"><a ng-click="removeNote(note);" class="mousage__item__footer-right btn--link-sm"><i class="itrash"></i></a><a href="javascript:void(0);" ng-click="editNote(note);" class="mousage__item__footer-right btn--link-sm"><i class="ieditmousage"></i></a></div>{{ note.text }}
                        </div>
                      </div>
                      <div ng-repeat="block in day.blocks" class="mousage__item mousage__item--active" mp-day-block>
                        <div class="mousage__item__head">
                          <div class="mousage__item__head-name">{{ block.name }}</div><a ng-click="addNote(block);" class="btn btn--add-note btn--xs">+ Add Note</a>
                        </div>
                        <div ng-repeat="note in schedulerConfig.notes | filter:{noteable_type: 'block'} | filter:{noteable_id: block.id}:true track by $index" class="mousage__item__body-sm">
                          <div class="mousage__actions"><a ng-click="removeNote(note);" class="mousage__item__footer-right btn--link-sm"><i class="itrash"></i></a><a ng-click="editNote(note);" class="mousage__item__footer-right btn--link-sm"><i class="ieditmousage"></i></a></div><span>{{ note.text }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <solidbar></solidbar>
    <backandnext></backandnext>
    <div style="width: 100%;overflow:hidden;" class="clearfix">&nbsp;</div>
  </div>
</div>
<div>
  <div stickynavigation="activeMenu"></div>
</div>
<subscription-purchase user="config.user" show="showSubscriptionPopup"></subscription-purchase>
