
<div ng-controller="StickynavCtrl" class="container--tripHeader">
  <div ng-class="{ 'header--sticky-nav': vacation.data.stepNumber &gt;= 5 }" class="header header--schedule">
    <div class="logo-wrap">
        <a ui-sref="main.dashboard({tripId:vacation.trip.id})" class="ilogo"></a>
    </div>
    <a href class="logout-link" logout-link>Log out</a>
  </div>
</div>
<div class="container--trip">
  <div ng-if="config &amp;&amp; config.notification.working" class="notification fade {{ config.notification.cssClass }}">
    <div class="notification__bg"></div>
    <div class="notification__icon-left"><i class="{{ config.notification.cssIcon1 }}"></i></div>
    <div class="notification__info">{{ config.notification.textNotification }}</div>
    <div class="notification__icon-right"><i class="{{ config.notification.cssIcon2 }}"></i></div>
  </div>
  <div ui-view></div>
</div>
<div ng-controller="StickynavCtrl">
  <ul ng-if="vacation.data.stepNumber >= 6" class="sticky-nav">
    <li><a href="javascript:void(0);" class="checklist">
        <div class="sticky-nav__image"><i class="inav-checklist"></i></div>
        <div class="sticky-nav__text">Checklist</div></a></li>
    <li><a href="http://mouseplanner.com/profile/#" class="profile">
        <div class="sticky-nav__image"><i class="inav-profile"></i></div>
        <div class="sticky-nav__text">Profile</div></a></li>
    <li><a ui-sref="main.dashboard({tripId: vacation.trip.id})" class="dashboard">
        <div class="sticky-nav__image"><i class="inav-dashboard"></i></div>
        <div class="sticky-nav__text">Dashboard</div></a></li>
    <li><a href="http://mouseplanner.com/tools/" class="planning-tools">
        <div class="sticky-nav__image"><i class="inav-planning-tools"></i></div>
        <div class="sticky-nav__text">Planning Tools</div></a></li>
    <li><a href="http://mouseplanner.com/bookit/#" class="book-it">
        <div class="sticky-nav__image"><i class="inav-book-it"></i></div>
        <div class="sticky-nav__text">Book It</div></a></li>
  </ul>
</div>
