<div class="header-nav">
  <div class="group">
    <div class="step-number bg-primary-red">Step 5</div>
    <div class="step-name">What do you love?</div>
  </div>
</div>
<div class="container-form">
  <div class="headline">
    <h3 class="headline__sub-main">Disney vacations are unique to each person. Answer these last 4 questions and we’ll use the information we’ve gathered so far to generate a menu of activities we think you’ll love. You select your favorites to build your Wish List and we’ll use that to prioritize your time in parks.</h3>
  </div>
  <form name="mpForm" novalidate="novalidate">
    <div class="container-form-body">
      <div class="panel-group">
        <div id="section1" ng-class="{ 'panel--accordion--active': accordion.itemActive == 1, 'panel--accordion--success': formInside1.$valid && vacation.data.interest_types.length,'panel--accordion--error': ( submitted || traveler.submitted || formInside1.$dirty ) && !vacation.data.interest_types.length}" ng-form="formInside1" class="panel panel--default panel--accordion">
          <div ng-click="(accordion.itemActive == 1) ? accordion.itemActive = -1: accordion.itemActive = 1" class="panel__heading">
            <div class="panel__heading__check-status"></div><span class="required">1. Select interests that appeal to your party</span>
            <div class="panel__heading__arrow"></div>
          </div>
          <div class="panel__collapse">
            <div class="panel__body">
              <div class="grid">
                <div ng-repeat="interestType in vacation.options.interestTypes" class="grid__col--4 grid__col--4--without-margin">
                  <div class="form-group">
                    <div class="checkbox">
                      <label class="checkbox__label">
                        <input type="checkbox" name="interestType" ng-checked="isSelected(interestType, vacation.data.interest_types)" ng-model="interestTypeValidator" ng-click="toggleSelection(interestType, vacation.data.interest_types)" ng-required="!vacation.data.interest_types.length" class="checkbox__label__input"/><i class="checkbox__label__icon"></i>{{ interestType.name }}
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="grid">
                <div class="grid__col--12 text-center"><a href="javascript:void(0)" ng-click="accordion.itemActive = 2; config.go.section('section2');" class="btn btn--warning"><i class="iclose-and-move-off"></i>&nbsp;Close and move to next section</a></div>
              </div>
            </div>
          </div>
        </div>
        <div id="section2" ng-class="{ 'panel--accordion--active': accordion.itemActive == 2, 'panel--accordion--success': formInside2.$valid && vacation.data.characters.length,'panel--accordion--error': ( submitted || traveler.submitted || formInside2.$dirty) && !vacation.data.characters.length}" ng-form="formInside2" class="panel panel--default panel--accordion">
          <div ng-click="(accordion.itemActive == 2) ? accordion.itemActive = -1: accordion.itemActive = 2" class="panel__heading">
            <div class="panel__heading__check-status"></div><span class="required">2. Select your favorite Disney characters</span>
            <div class="panel__heading__arrow"></div>
          </div>
          <div class="panel__collapse">
            <div class="panel__body">
              <div class="grid">
                <div ng-repeat="favoriteCharactersType in vacation.options.favoriteCharactersTypes" class="grid__col--4 grid__col--4--without-margin">
                  <div class="form-group">
                    <div class="checkbox">
                      <label class="checkbox__label">
                        <input type="checkbox" name="favoriteCharactersType" ng-checked="isSelected(favoriteCharactersType, vacation.data.characters)" ng-model="favoriteCharactersTypeValidator" ng-click="toggleSelection(favoriteCharactersType, vacation.data.characters)" ng-required="!vacation.data.characters.length" class="checkbox__label__input"/><i class="checkbox__label__icon"></i>{{ favoriteCharactersType.name }}
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="grid">
                <div class="grid__col--12 text-center"><a href="javascript:void(0)" ng-click="accordion.itemActive = 3; config.go.section('section3');" class="btn btn--warning"><i class="iclose-and-move-off"></i>&nbsp;Close and move to next section</a></div>
              </div>
            </div>
          </div>
        </div>
        <div id="section3" ng-class="{ 'panel--accordion--active': accordion.itemActive == 3, 'panel--accordion--success': formInside3.$valid && vacation.data.dining_preferences.length, 'panel--accordion--error': ( submitted || traveler.submitted || formInside3.$dirty) && !vacation.data.dining_preferences.length}" ng-form="formInside3" class="panel panel--default panel--accordion">
          <div ng-click="(accordion.itemActive == 3) ? accordion.itemActive = -1: accordion.itemActive = 3" class="panel__heading">
            <div class="panel__heading__check-status"></div><span class="required">3. Select dining options which appeal to you</span>
            <div class="panel__heading__arrow"></div>
          </div>
          <div class="panel__collapse">
            <div class="panel__body">
              <div class="grid">
                <div ng-repeat="diningPreferenceType in vacation.options.diningPreferenceTypes" class="grid__col--4 grid__col--4--without-margin">
                  <div class="form-group">
                    <div class="checkbox">
                      <label class="checkbox__label">
                        <input type="checkbox" name="diningPreferenceType" ng-checked="isSelected(diningPreferenceType, vacation.data.dining_preferences)" ng-model="diningPreferenceTypeValidator" ng-click="toggleSelection(diningPreferenceType, vacation.data.dining_preferences)" ng-required="!vacation.data.dining_preferences.length" class="checkbox__label__input"/><i class="checkbox__label__icon"></i>{{ diningPreferenceType.name }}
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="grid">
                <div class="grid__col--12 text-center"><a href="javascript:void(0)" ng-click="accordion.itemActive = 4; config.go.section('section4');" class="btn btn--warning"><i class="iclose-and-move-off"></i>&nbsp;Close and move to next section</a></div>
              </div>
            </div>
          </div>
        </div>
        <div id="section4" ng-class="{ 'panel--accordion--active': accordion.itemActive == 4, 'panel--accordion--success': vacation.data.parks.length }" ng-form="formInside4" class="panel panel--default panel--accordion">
          <div ng-click="(accordion.itemActive == 4) ? accordion.itemActive = -1: accordion.itemActive = 4" class="panel__heading">
            <div class="panel__heading__check-status"></div><span>4. Select your level of interest in visiting each theme park.</span>
            <div class="panel__heading__arrow"></div>
          </div>
          <div class="panel__collapse">
            <div style="overflow: hidden;" class="panel__body">
              <div class="grid">
                <div class="grid__col--12 text-center">
                  <div class="form-group form-group--only">
                    <label>Skip this step to let MousePlanner make suggestions based on what we know so far.</label>
                  </div>
                </div>
              </div>
              <div class="grid">
                <div class="grid__col--12">
                  <div class="form-group form-group--only text-center"><a href="javascript:void(0);" ng-click="skip(); submitted = true; formInside4.valid = true;" class="btn btn--warning"><i class="iskip"></i>&nbsp;Skip and let us pick</a></div>
                </div>
              </div>
              <div class="grid">
                <div class="grid__col--12">
                  <div class="form-group form-group--only text-center">
                  </div>
                  <div class="form-group form-group--only">
                    <div class="grid grid__hearts-container grid__hearts-activities">
                      <div class="grid__col--12">
                        <div class="grid">
                          <div class="grid__col--12">
                            <div class="grid__col--3 text-right"><b>Maybe</b></div>
                            <div class="grid__col--3"><i class="iheart-on"></i></div>
                          </div>
                        </div>
                        <div class="grid">
                          <div class="grid__col--12">
                            <div class="grid__col--3 text-right"><b>Probably</b></div>
                            <div class="grid__col--3"><i class="iheart-on"></i>&nbsp;&nbsp;&nbsp;<i class="iheart-on"></i></div>
                          </div>
                        </div>
                        <div class="grid">
                          <div class="grid__col--12">
                            <div class="grid__col--3 text-right"><b>Absolutely</b></div>
                            <div class="grid__col--3"> <i class="iheart-on"></i>&nbsp;&nbsp;&nbsp;<i class="iheart-on"></i>&nbsp;&nbsp;&nbsp;<i
                                    class="iheart-on"></i></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="grid grid-activities">
                <div ng-repeat="parkInterest in (vacation.options.parks | park:vacation.options.parkExceptions) " class="grid__col--6 grid__col--6--without-margin">
                  <div class="card card--flip">
                    <div ng-class="{ 'hover': parkInterest.flip }" style="margin: 0 auto;" class="card-flipper-container">
                      <div class="card-flipper">
                        <div class="card-flipper__front card-flipper__front-white">
                          <div class="card__title text-center">{{ parkInterest.name }}</div>
                          <div class="card__ranking text-center">
                            <div class="rating">
                              <input type="radio" name="parkInterest{{ parkInterest.id }}" id="parkInterest{{ parkInterest.id }}1" ng-value="3" ng-checked="heartValue(3, parkInterest)" ng-click="selectedHeart(3, parkInterest);" class="rating__input"/>
                              <label for="parkInterest{{ parkInterest.id }}1" class="rating__item">
                                <div class="rating__item__icon"></div>
                              </label>
                              <input type="radio" name="parkInterest{{ parkInterest.id }}" id="parkInterest{{ parkInterest.id }}2" ng-checked="heartValue(2, parkInterest)" ng-value="2" ng-click="selectedHeart(2, parkInterest);" class="rating__input"/>
                              <label for="parkInterest{{ parkInterest.id }}2" class="rating__item">
                                <div class="rating__item__icon"></div>
                              </label>
                              <input type="radio" name="parkInterest{{ parkInterest.id }}" id="parkInterest{{ parkInterest.id }}3" ng-value="1" ng-checked="heartValue(1, parkInterest)" ng-click="selectedHeart(1, parkInterest);" class="rating__input"/>
                              <label for="parkInterest{{ parkInterest.id }}3" class="rating__item">
                                <div class="rating__item__icon"></div>
                              </label>
                            </div>
                          </div>
                          <div class="card__bottom text-center"><a href="javascript:void(0)" ng-click="parkInterest.flip = true;" class="btn btn--link">Learn More</a></div>
                        </div>
                        <div ng-mouseleave="parkInterest.flip = false;" class="card-flipper__back card-flipper__back-white">
                          <div class="card-flipper__link text-right"><a ng-href="{{ parkInterest.linkto }}" target="_blank"><i class="iexternal-link"></i></a></div>
                          <div class="card-flipper__description card-flipper__description--step-5">{{ parkInterest.description }}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="grid">
        <div class="grid-12">
          <div class="indication">Indicates required field</div>
          <solidbar></solidbar>
        </div>
      </div>
    </div>
  </form>
  <div class="container-form-footer">
    <backandnext></backandnext>
  </div>
</div>
