<div class="" ng-if="!userIsAuthorized">
    <div class="container--error">
      <div class="header header--error">
        <div class="logo-wrap">
          <a ui-sref="main.dashboard" class="ilogo"></a>
        </div>
        <a href class="logout-link" logout-link>Log out</a>
      </div>

      <div class="error__404" ng-if="errorCode === '404'">
        <div class="text-error--wrapper">
          <span class="text-error__404-number" aria-hidden="true">4</span>
          <img class="text-error__404-image" src="/images/girl-head.png" aria-hidden="true"></span>
          <span class="text-error__404-number" aria-hidden="true">4</span>
        </div>
        <h2 class="text-error__404-heading">Ooops! Page not found</h2>
        <div class="text-error__404-description">
          There must have been an error with this page.</br>
          Go to the <a ui-sref="main.dashboard">home page</a> or back to the <a href="javascript:history.back();">previous page</a>.
        </div>
      </div>

      <div class="error__500" ng-if="errorCode === '500'">
        <div class="text-error--wrapper">
          <span class="text-error__500-number" aria-hidden="true">5</span>
          <img class="text-error__500-image" src="/images/girl-head.png" aria-hidden="true"></span>
          <span class="text-error__500-number" aria-hidden="true">0</span>
        </div>
        <h2 class="text-error__500-heading">Internal server error!</h2>
        <div class="text-error__500-description">
          There must have been an error with this page.</br>
          Go to the <a ui-sref="main.dashboard">home page</a> or back to the <a href="javascript:history.back();">previous page</a>.
        </div>
      </div>

  </div>
</div>
