<div class="header-nav">
  <div class="group">
    <div class="step-number bg-primary-red">Step 2:</div>
    <div class="step-name">Who is going?</div>
  </div>
</div>
<div class="container-form">
  <form name="mpForm" novalidate="novalidate">
    <div class="container-form-body">
      <div class="panel-group">
        <div ng-class="{ 'panel--accordion--active': traveler.active, 'panel--accordion--success': formInside.$valid,'panel--accordion--error': ((submitted || innerSubmitted) && formInside.$invalid) }" ng-repeat="traveler in vacation.data.travelers track by $index" ng-form="formInside" novalidate="novalidate" class="panel panel--default panel--accordion fade">
          <div ng-click="traveler.active = !traveler.active" class="panel__heading">
            <div class="panel__heading__check-status"> </div><span ng-show="(traveler.firstname != null && traveler.firstname != '' && traveler.firstname != undefined) || (traveler.lastname != null && traveler.lastname != '' && traveler.lastname != undefined)">{{ traveler.firstname }} {{ traveler.lastname }}</span><span ng-hide="(traveler.firstname != null && traveler.firstname != '' && traveler.firstname != undefined) || (traveler.lastname != null && traveler.lastname != '' && traveler.lastname != undefined)">Guest</span><a href="javascript:void(0);" ng-hide="traveler.active" class="btn btn--md btn--warning panel__heading__btn-edit"> <i class="iedit"></i>Edit</a>
            <div class="panel__heading__arrow"></div>
          </div>
          <div class="panel__collapse">
            <div class="panel__body">
              <div class="grid grid--form">
                <div class="grid__col--12">
                  <div class="form-group">
                    <label class="form-group__label required">Will this guest be at least 18 years of age on the trip start date?</label>
                  </div>
                </div>
                <div class="grid__col--4">
                  <div class="form-group" ng-if="vacation.options.prefixTitleTypes">
                    <div class="radio" ng-repeat="type in travelerAgeTypes" ng-init="traveler.is_adult = getTravelerType(traveler)">
                      <label class="radio__label">
                        <input type="radio" name="is_adult_{{$parent.$index}}" ng-model="traveler.is_adult" ng-value="type.value" required="required" class="radio__label__input"><i class="radio__label__icon"></i>{{type.label}}
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="grid">
                <div class="grid__col--2">
                  <div class="form-group form-group--only">
                    <label class="form-group__label required">Title</label>
                    <select name="prefixTitleId" ng-model="traveler.prefix_title_type_id" ng-options="title.id as title.name for title in vacation.options.prefixTitleTypes | filter:isAdult(traveler.is_adult)" mp-required="mp-required" ng-class="{ 'form-group__control--error': (submitted || innerSubmitted || formInside.prefixTitleId.$dirty) && (formInside.prefixTitleId.$invalid) }" class="form-group__control" ng-disabled="traveler.is_adult == null"></select>
                    <div ng-if="(submitted || innerSubmitted || formInside.prefixTitleId.$dirty) && formInside.prefixTitleId.$invalid" class="message message--error fade"><span ng-if="formInside.prefixTitleId.$invalid">Please select title.</span></div>
                  </div>
                </div>
                <div class="grid__col--5">
                  <div class="form-group form-group--only">
                    <label class="form-group__label required">First Name</label>
                    <input type="text" name="firstname" placeholder="First Name" ng-model="traveler.firstname" required="required" ng-pattern="config.validation.guestName.pattern" ng-class="{ 'form-group__control--error': (submitted || innerSubmitted || formInside.firstname.$dirty) && (formInside.firstname.$invalid) }" class="form-group__control"/>
                    <div ng-if="(submitted || innerSubmitted || formInside.firstname.$dirty) && formInside.firstname.$invalid" class="message message--error fade"><span ng-if="formInside.firstname.$error.required">Please enter a first name.</span><span ng-if="formInside.firstname.$error.pattern">Please enter a valid first name.</span></div>
                  </div>
                </div>
                <div class="grid__col--5">
                  <div class="form-group form-group--only">
                    <label class="form-group__label required">Last Name</label>
                    <input type="text" name="lastname" placeholder="Last Name" ng-model="traveler.lastname" required="required" ng-pattern="config.validation.guestName.pattern" ng-class="{ 'form-group__control--error': (submitted || innerSubmitted || formInside.lastname.$dirty) && (formInside.lastname.$invalid) }" class="form-group__control"/>
                    <div ng-if="(submitted || innerSubmitted || formInside.lastname.$dirty) && formInside.lastname.$invalid" class="message message--error fade"><span ng-if="formInside.lastname.$error.required">Please enter a last name.</span><span ng-if="formInside.lastname.$error.pattern">Please enter a valid last name.</span></div>
                  </div>
                </div>
              </div>
              <div class="grid">
                <div class="grid__col--7">
                  <div ng-if="traveler.is_adult === 0" class="form-group form-group--only">
                    <label class="form-group__label required">Birthday<a href="javascript:void(0);" class="btn--info-plus tooltip">&nbsp;<i></i>
                        <div class="tooltip__description"><span>Disney requires birthdates to set up your My Disney Experience account.</span></div></a></label>
                    <div class="grid">
                      <div class="grid__col--3 grid__col--without-pad">
                        <div class="form-group">
                          <select ng-model="traveler.monthOfBirth" name="monthOfBirth" ng-options="month.id as month.name for month in config.options.ofBirth" ng-class="{ 'form-group__control--error': (submitted || innerSubmitted || formInside.monthOfBirth.$dirty) && (formInside.monthOfBirth.$invalid) }" class="form-group__control" required="required">
                            <option value="">Month</option>
                          </select>
                          <div ng-if="(submitted || innerSubmitted || formInside.monthOfBirth.$dirty) && formInside.monthOfBirth.$invalid" class="message message--error fade"><span ng-if="formInside.monthOfBirth.$error.required">Please enter the month of birth.</span></div>
                        </div>
                      </div>
                      <div class="grid__col--3 grid__col--without-pad">
                        <div class="form-group">
                          <select ng-model="traveler.yearOfBirth" name="yearOfBirth" ng-options="year.id as year.name for year in config.options.yearsOfBirth" ng-class="{ 'form-group__control--error': (submitted || innerSubmitted || formInside.yearOfBirth.$dirty) && (formInside.yearOfBirth.$invalid) }" class="form-group__control" required="required">
                            <option value="">Year</option>
                          </select>
                          <div ng-if="(submitted || innerSubmitted || formInside.yearOfBirth.$dirty) && formInside.yearOfBirth.$invalid" class="message message--error fade"><span ng-if="formInside.yearOfBirth.$error.required">Please enter the year of birth.</span></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="grid__col--5">
                  <div class="form-group form-group--only">
                    <label class="form-group__label">Height at time of travel</label>
                    <select ng-model="traveler.traveler_height_id" name="heightId" ng-options="height.id as height.name for height in vacation.options.travelerHeights" class="form-group__control"></select>
                  </div>
                </div>
              </div>
              <div class="grid">
                <div class="grid__col--12">
                  <div class="form-group form-group--only">
                    <label class="form-group__label">Please select any accessibility requirements</label>
                    <div class="selector-group">
                      <div ng-repeat="accessibility in vacation.options.accessibilityTypes" class="selector selector--inside">
                        <label class="selector__label">
                          <input type="checkbox" name="accessibility" ng-checked="accessibilitySelected(traveler, accessibility)" ng-click="changeAccessibility(traveler, accessibility);" class="selector__label__input"/>
                          <div class="selector__label__square only">
                            <div class="selector__label__square__icon"><i class="icon {{ accessibility.img }}"></i></div>{{ accessibility.name }}
                          </div>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="grid">
                <div class="grid__col--12">
                  <div class="form-group text-center"><a ng-click="updateTraveler(formInside, traveler); editNextTraveler(traveler); innerSubmitted = true;" class="btn btn--warning"> <i class="isave-guest-on"></i>&nbsp;Save Guest</a><a ng-click="removeTraveler(traveler);" class="btn btn--link">Remove Guest</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="grid">
        <div class="grid-12">
          <div class="form-group form-group--only text-center"><a ng-click="addTraveler();" class="btn btn--primary"><i class="iadd-on"></i>&nbsp;Add another guest</a></div>
        </div>
      </div>
      <div class="grid">
        <div class="grid-12">
          <div class="indication">Indicates required field</div>
          <solidbar></solidbar>
        </div>
      </div>
    </div>
    <div class="container-form-footer">
      <backandnext></backandnext>
    </div>
  </form>
</div>
