<div class="registration-area login-block" ng-if="!userIsAuthorized">
  <div class="castle"></div>
  <div class="registration-holder">
    <span class="registration-page-illustr"></span>
    <div class="logo-wrap">
      <a href="//mouseplanner.com"  class="ilogo"></a>
    </div>

    <div class="form-frame">
      <div class="wrap-block">
        <h1 class="form-title">Log In</h1>
        <div class="block-wrap">
          <div class="cover-block" ng-show="disableButton"></div>
          <div class="btns-group">
            <div class="btn btn-google" id="my-signin2" ng-disabled="disableButton" ng-click="login.googleButtonClick()"></div>
            <a class="btn btn-facebook" href ng-disabled="disableButton" ng-click="login.facebookButtonClick()"><i class="icn-facebook-lrg"></i> Facebook</a>
          </div>

          <div class="facebook-error" ng-if="facebookRegError">
            <div class="error-mes" ng-if="facebookRegError.code == 91">
              Sorry – we couldn't get your email address from Facebook.<br>
              Please sign up using an email and password.
            </div>
            <div class="error-mes" ng-if="facebookRegError.code != 91">
              Service is temporarily unavailable.<br>Please try again later or register with your email.
            </div>
          </div>

          <h3 class="form-subtitle"><span>Or, Log in with email</span></h3>
          <div ng-if="login.error && login.error.error" ng-switch="login.error.error">
            <div class="error-mes error-mes-inner" ng-switch-when="invalid_credentials">
              Oops! Did you forget your password? Can we help you <a ui-sref="passwordResetEmail">recover it</a>?
            </div>
            <div class="error-mes error-mes-inner" ng-switch-when="not_confirmed">
              Email is not confirmed.
            </div>
            <div class="error-mes error-mes-inner" ng-switch-default>
              {{login.error.message ? login.error.message : ''}}
            </div>
          </div>
        </div>

        <form class="registration-form" novalidate name="loginForm" ng-submit="login.submit(loginForm);">
          <div class="form-group form-group-email">
            <input type="email" name="email"
                   ng-class="{'item-error': (loginForm.email.$error && loginForm.$submitted && !loginForm.email.$valid) || login.error}"
                   class="form-control"
                   placeholder="Email"
                   ng-model="login.data.username"
                   required>
            <div ng-messages="loginForm.email.$error">
              <div class="error-mes" ng-message="required">Field cannot be blank</div>
              <div class="error-mes" ng-message="email">Invalid Email</div>
            </div>
          </div>
          <div class="form-group form-group-pass">
            <input type="password" name="pass"
                   ng-class="{'item-error': (loginForm.pass.$error && loginForm.$submitted && !loginForm.pass.$valid) || login.error}"
                   class="form-control"
                   placeholder="Password"
                   ng-model="login.data.password"
                   required>
            <div ng-messages="loginForm.pass.$error">
              <div class="error-mes" ng-message="required">Field cannot be blank</div>
            </div>
          </div>
          <div class="txt-inform"><a class="link-inline" ui-sref="passwordResetEmail">Forgot Password?</a></div>
          <button type="submit" id="login-button" ng-disabled="disableButton" tabindex="3" class="btn btn--sm btn--success">Continue Planning</button>
        </form>

        <p class="txt-inform">Don't have an account? <a href ng-click="goToRegistration()">Sign up</a></p>
      </div>
    </div>
  </div>
</div>
