<div class="registration-area password-page">
  <div class="registration-holder">
    <div class="logo-wrap">
      <a href="//mouseplanner.com"  class="ilogo"></a>
    </div>

    <div class="form-frame">
      <!--EMAIL FORM-->
      <div ng-if="pageMode === 'enterEmail'">
        <h1 class="form-title">Forgot your password?</h1>
        <div class="password-reset-illustr"></div>
        <p class="txt-inform">We can help! Enter email below</p>

        <div ng-if="passResetEmail.serverError">
          <div class="error-mes error-mes-inner" ng-repeat="error in passResetEmail.serverError">{{error}}</div>
        </div>

        <form class="registration-form" novalidate name="emailForm" ng-submit="passResetEmail.submit(emailForm);">
          <div class="form-group form-group-email">
            <input type="email" name="email"
                   ng-class="{'item-error': emailForm.email.$error && emailForm.$submitted && !emailForm.email.$valid}"
                   class="form-control"
                   placeholder="Email"
                   ng-model="passResetEmail.data.email"
                   required>
            <div ng-messages="emailForm.email.$error">
              <div class="error-mes" ng-message="required">Field cannot be blank</div>
              <div class="error-mes" ng-message="email">Invalid email</div>
            </div>
          </div>
          <button ng-disabled="disableEmailButton" class="btn btn--success">Reset Password</button>
        </form>
      </div>
      <!--EMAIL FORM END-->


      <!--EMAIL SEND SUCCESS-->
      <div ng-if="pageMode === 'emailSuccess'" class="email-success">
        <span class="registration-page-illustr"></span>
        <h1 class="form-title">Thanks!</h1>
        <p>Check your email and click the link to reset your password</p>
      </div>
      <!--EMAIL SEND SUCCESS END-->


      <!--PASSWORD FORM-->
      <div ng-if="pageMode === 'enterPassword'" class="reset-password-page">
        <h1 class="form-title">Reset Password</h1>
        <p class="txt-inform"><i>Passwords require a minimum of 8 characters,<br />with one capital letter and one number</i></p>

        <div ng-if="passReset.serverError">
          <div class="error-mes error-mes-inner" ng-repeat="error in passReset.serverError">{{error}}</div>
        </div>

        <form class="registration-form" novalidate name="passForm" ng-submit="passReset.submit(passForm);">
          <div class="form-group form-group-pass">
            <input type="password" name="password"
                   ng-class="{'item-error': passForm.password.$error && passForm.$submitted && !passForm.password.$valid}"
                   class="form-control"
                   placeholder="New Password"
                   ng-model="passReset.data.password"
                   required
                   pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
            <div ng-messages="passForm.password.$error">
              <div class="error-mes" role="alert" ng-message="required">Field cannot be blank</div>
              <div class="error-mes" role="alert" ng-message="pattern">
                Passwords need a minimum of 8 characters with at least one uppercase letter and a number.
              </div>
            </div>
          </div>

          <div class="form-group form-group-pass-confirm">
            <input type="password" name="password_confirmation"
                   ng-class="{'item-error': passForm.password_confirmation.$error && passForm.$submitted && !passForm.password_confirmation.$valid}"
                   class="form-control"
                   placeholder="Confirm New Password"
                   ng-model="passReset.data.password_confirmation"
                   compare-to="passReset.data.password" required>
            <div ng-messages="passForm.password_confirmation.$error">
              <div class="error-mes" role="alert" ng-message="required">Field cannot be blank</div>
              <div class="error-mes" role="alert" ng-message="compareTo">Both passwords should match</div>
            </div>
          </div>
          <button ng-disabled="disablePassButton" class="btn btn--success">Reset</button>
        </form>
      </div>
      <!--PASSWORD FORM END-->
    </div>
  </div>
</div>
