<div class="header-nav">
  <div class="group">
    <div class="step-number bg-primary-red">Step 4:</div>
    <div class="step-name">Vacation Style</div>
  </div>
</div>
<div class="container-form">
  <form name="mpForm" novalidate="novalidate">
    <div class="container-form-body">
      <div class="grid grid--form">
        <div class="grid__col--12">
          <div class="form-group">
            <label class="form-group__label required">What is your family's thrill level?</label>
            <div class="selector-group">
              <div ng-repeat="thrillLevelType in vacation.options.thrillLevelTypes" class="selector">
                <label class="selector__label">
                  <input type="radio" name="thrillLevelType" ng-value="{{ thrillLevelType.id }}" ng-model="vacation.data.thrill_level_type_id" mp-required="mp-required" ng-change="config.go.section('paceType');" class="selector__label__input"/>
                  <div class="selector__label__square"><span class="selector__label__square__front"><b>{{ thrillLevelType.name }} <br><br></b>{{ thrillLevelType.description }}</span></div>
                </label>
              </div>
            </div>
            <div ng-if="(submitted || mpForm.thrillLevelType.$dirty) && mpForm.thrillLevelType.$invalid" class="message message--error fade"><span ng-if="mpForm.thrillLevelType.$error.required || mpForm.thrillLevelType.$error.mpRequired">Please complete this question before proceeding.</span></div>
          </div>
        </div>
      </div>
      <div id="paceType" ng-if="mpForm.thrillLevelType.$valid" class="grid grid--form fade">
        <div class="grid__col--12">
          <div class="form-group">
            <label class="form-group__label required">What is your preferred pace?</label>
            <div class="selector-group">
              <div ng-repeat="paceType in vacation.options.paceTypes" class="selector">
                <label class="selector__label">
                  <input type="radio" name="paceType" ng-value="{{ paceType.id }}" ng-model="vacation.data.pace_type_id" mp-required="mp-required" ng-change="config.go.section('budgetType');" class="selector__label__input"/>
                  <div class="selector__label__square"><span class="selector__label__square__front"><b>{{ paceType.name }}<br><br></b>{{ paceType.description }}</span></div>
                </label>
              </div>
            </div>
            <div ng-if="(submitted || mpForm.paceType.$dirty) && mpForm.paceType.$invalid" class="message message--error fade"><span ng-if="mpForm.paceType.$error.required || mpForm.paceType.$error.mpRequired">Please complete this question before proceeding.</span></div>
          </div>
        </div>
      </div>
      <div id="budgetType" ng-if="mpForm.paceType.$valid" class="grid grid--form fade">
        <div class="grid__col--12">
          <div class="form-group">
            <label class="form-group__label required">What is budget for this trip?</label>
            <div class="selector-group">
              <div ng-repeat="budgetType in vacation.options.budgetTypes" class="selector">
                <label class="selector__label">
                  <input type="radio" name="budgetType" ng-value="{{ budgetType.id }}" ng-model="vacation.data.budget_type_id" mp-required="mp-required" ng-change="config.go.section('beginDay');" class="selector__label__input"/>
                  <div class="selector__label__square"><span class="selector__label__square__front">{{ budgetType.name }}</span></div>
                </label>
              </div>
            </div>
            <div ng-if="(submitted || mpForm.budgetType.$dirty) && mpForm.budgetType.$invalid" class="message message--error fade"><span ng-if="mpForm.budgetType.$error.required || mpForm.budgetType.$error.mpRequired">Please complete this question before proceeding.</span></div>
          </div>
        </div>
      </div>
      <div id="beginDay" ng-if="mpForm.budgetType.$valid" class="grid grid--form fade">
        <div class="grid__col--7 grid__col--without-pad">
          <div class="form-group">
            <label class="form-group__label required">The earliest we want to leave the room each morning is</label>
          </div>
        </div>
        <div class="grid__col--5">
          <div class="form-group">
            <div mp-timepicker-custom="utcTime.startTime" ng-model="utcTime.startTime" name="beginDay" placeholder="Begin Day" min="startDayMin" max="startDayMax"></div>
            <div class="message message--error fade" ng-show="mpForm.beginDay.$error.dayTimeError">Sorry, the day shouldn't start before 6 AM</div>
          </div>
        </div>
      </div>
      <div id="endDay" ng-if="mpForm.beginDay.$valid" class="grid grid--form fade">
        <div class="grid__col--7 grid__col--without-pad">
          <div class="form-group">
            <label class="form-group__label required">The latest we want to get back each night is</label>
          </div>
        </div>
        <div class="grid__col--5">
          <div mp-timepicker-custom="utcTime.endTime" ng-model="utcTime.endTime" name="endDay" placeholder="End Day" min="endDayMin" max="endDayMax"></div>
          <div class="message message--error fade" ng-show="mpForm.endDay.$error.dayTimeError">Sorry, the end of the day could be from 8 PM to 3 AM</div>
        </div>
      </div>
      <div id="timeFlexibilityType" ng-if="mpForm.endDay.$valid" class="grid grid--form fade">
        <div class="grid__col--12 grid__col--without-pad">
          <div class="form-group">
            <label class="form-group__label required">How flexible are you on these times?</label>
            <div class="selector-group">
              <div ng-repeat="timeFlexibilityType in vacation.options.timeFlexibilityTypes" class="selector">
                <label class="selector__label">
                  <input type="radio" name="timeFlexibilityType" ng-value="{{ timeFlexibilityType.id }}" ng-model="vacation.data.time_flexibility_type_id" mp-required="mp-required" ng-change="config.go.section('napType');" class="selector__label__input"/>
                  <div class="selector__label__square"><span class="selector__label__square__front">{{ timeFlexibilityType.name }}</span></div>
                </label>
              </div>
            </div>
            <div ng-if="(submitted || mpForm.timeFlexibilityType.$dirty) && mpForm.timeFlexibilityType.$invalid" class="message message--error fade"><span ng-if="mpForm.timeFlexibilityType.$error.required || mpForm.timeFlexibilityType.$error.mpRequired">Please complete this question before proceeding.</span></div>
          </div>
        </div>
      </div>
      <div id="napType" ng-if="mpForm.timeFlexibilityType.$valid" class="grid grid--form fade">
        <div class="grid__col--12 grid__col--without-pad">
          <div class="form-group">
            <label class="form-group__label required">How do you feel about naps?</label>
            <div class="selector-group">
              <div ng-repeat="napType in vacation.options.napTypes" class="selector">
                <label class="selector__label">
                  <input type="radio" name="napType" ng-value="{{ napType.id }}" ng-model="vacation.data.nap_type_id" mp-required="mp-required" class="selector__label__input"/>
                  <div class="selector__label__square"><span class="selector__label__square__front">{{ napType.name }}</span></div>
                </label>
              </div>
            </div>
            <div ng-if="(submitted || mpForm.napType.$dirty) && mpForm.napType.$invalid" class="message message--error fade"><span ng-if="mpForm.napType.$error.required || mpForm.napType.$error.mpRequired">Please complete this question before proceeding.</span></div>
          </div>
        </div>
      </div>
      <div class="grid">
        <div class="grid-12">
          <div class="indication">Indicates required field</div>
          <solidbar></solidbar>
        </div>
      </div>
    </div>
    <div class="container-form-footer">
      <backandnext></backandnext>
    </div>
  </form>
</div>
