<div class="registration-area" ng-if="!userIsAuthorized">
  <div class="registration-holder">
    <div class="logo-wrap">
      <a href="//mouseplanner.com"  class="ilogo"></a>
    </div>

    <div class="registration-success" ng-if="registrationSuccess">
      <span class="registration-page-illustr"></span>
      <h1 class="form-title">Almost there!</h1>
      <p>We've sent you an email to confirm your email address. Please check your email and click the Confirm button to get started!</p>
    </div>

    <div class="form-frame" ng-if="!registrationSuccess">
      <div class="castle"></div>
      <span class="registration-page-illustr"></span>
      <div class="wrap-block">
        <h1 class="form-title">Sign up now!</h1>
        <div class="block-wrap">
          <div class="cover-block" ng-show="disableButton"></div>
          <div class="btns-group">
            <div class="btn btn-google" id="my-signin2" ng-disabled="disableButton" ng-click="registration.googleButtonClick()"></div>
            <a class="btn btn-facebook" ng-disabled="disableButton" href ng-click="registration.facebookButtonClick()"><i class="icn-facebook-lrg"></i> Facebook</a>
          </div>

          <div class="facebook-error" ng-if="facebookRegError">
            <div class="error-mes" ng-if="facebookRegError.code == 91">
              Sorry – we couldn't get your email address from Facebook.<br>
              Please sign up using an email and password.
            </div>
            <div class="error-mes" ng-if="facebookRegError.code !== 91">
              Service is temporarily unavailable.<br>Please try again later or register with your email.
            </div>
          </div>

          <h3 class="form-subtitle"><span>Or, Sign up with email</span></h3>
        </div>

        <form class="registration-form" novalidate name="registrationForm" ng-submit="registration.submit(registrationForm);">
        <div class="error-mes" ng-if="regServerUnavailable">
          <p>Service is temporarily unavailable. Please try again later.</p>
        </div>

        <div class="form-group form-group-name">
          <input name="firstname"
                 type="text"
                 ng-class="{'item-error': registrationForm.firstname.$error && registrationForm.$submitted && !registrationForm.firstname.$valid}"
                 class="form-control"
                 placeholder="Name"
                 ng-model="registration.data.firstname"
                 required>
          <div ng-messages="registrationForm.firstname.$error">
            <div class="error-mes" role="alert" ng-message="required">Field cannot be blank</div>
          </div>
        </div>

        <div class="form-group form-group-email">
          <input type="email" name="email"
                 ng-class="{'item-error': registration.emailErrorClass(registrationForm)}"
                 class="form-control"
                 placeholder="Email"
                 pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                 ng-keyup="registration.onEmailChange(registrationForm)"
                 ng-model="registration.data.email"
                 required>
          <div ng-messages="registrationForm.email.$error">
            <div class="error-mes" ng-message="required">Field cannot be blank</div>
            <div class="error-mes" ng-message="email">Invalid email</div>
            <div class="error-mes" ng-message="pattern">Invalid email</div>
            <div class="error-mes" ng-message="emailExist">Looks like there's already an account associated with that email. Did you want to <a href ng-click="goToLogin()">log in?</a></div>
          </div>
        </div>

        <div class="form-group form-group-pass">
          <input type="password" name="password"
                 ng-class="{'item-error': registrationForm.password.$error && registrationForm.$submitted && !registrationForm.password.$valid}"
                 class="form-control"
                 placeholder="Password"
                 ng-model="registration.data.password"
                 required
                 pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
          <div ng-messages="registrationForm.password.$error">
            <div class="error-mes" role="alert" ng-message="required">Field cannot be blank</div>
            <div class="error-mes" role="alert" ng-message="pattern">
              Passwords need a minimum of 8 characters with at least one uppercase letter and a number.
            </div>
          </div>
        </div>

        <div class="form-group form-group-pass-confirm">
          <input type="password" name="password_confirmation"
                 ng-class="{'item-error': registrationForm.password_confirmation.$error && registrationForm.$submitted && !registrationForm.password_confirmation.$valid}"
                 class="form-control"
                 placeholder="Confirm Password"
                 ng-model="registration.data.password_confirmation"
                 compare-to="registration.data.password" required>
          <div ng-messages="registrationForm.password_confirmation.$error">
            <div class="error-mes" role="alert" ng-message="required">Field cannot be blank</div>
            <div class="error-mes" role="alert" ng-message="compareTo">Both passwords should match</div>
          </div>
        </div>
        <button type="submit" ng-disabled="disableButton" id="login-button" class="btn btn--success">Sign up</button>
      </form>

        <p class="txt-success">Already have an Account <a href ng-click="goToLogin()">Log In</a></p>

        <div class="agreement">
        <p>By signing up you agree to MousePlanner's<br>
          <a href="//www.mouseplanner.com/terms-and-conditions">Terms of Service</a> and
          <a href="//www.mouseplanner.com/privacy-policy">Privacy Policy</a>
        </p>
      </div>
    </div>
  </div>
  </div>
  </div>
