<div class="registration-area">
  <div class="registration-holder">
    <div class="logo-wrap">
      <a href="//mouseplanner.com" class="ilogo"></a>
    </div>
    <div class="verified-expired" ng-if="verifiedExparied">
      <h3 class="subtitle">
        Hmm, looks like you’ve already signed up.<br>Did you want to <a href ng-click="goToLogin()">Log In</a>?
      </h3>
    </div>
    <div class="verified-success" ng-if="verifiedSuccess">
      <div class="txt-success">
        <h3>Success!</h3>
        <p>Now you can <a href ng-click="goToLogin()">Log In</a> with your new account.</p>
      </div>
    </div>
  </div>
</div>
