<div class="header-nav">
  <div class="group">
    <div class="step-number bg-primary-red">Step 1:</div>
    <div class="step-name">Getting Started</div>
  </div>
</div>
<div class="container-form">
  <form name="mpForm" novalidate="novalidate">
    <div class="container-form-body">
      <div class="panel-group">
        <div class="panel panel--default">
          <div class="panel__body">
            <div class="form-group">
              <label class="form-group__label"> <span class="required">Name this trip</span><a href="javascript:void(0);" class="btn--info-plus tooltip">&nbsp;<i></i>
                  <div class="tooltip__description"><span>You can create multiple trip plans to customize itineraries for smaller groups in your travel party.</span></div></a></label>
              <input type="text" name="tripName" placeholder="Trip Name" ng-model="vacation.data.name " required="required" maxlength="40" ng-class="{ 'form-group__control--error': ((submitted || mpForm.tripName.$dirty) && mpForm.tripName.$invalid) }" class="form-group__control"/>
              <div ng-if="(submitted || mpForm.tripName.$dirty) && mpForm.tripName.$invalid" class="message message--error fade"><span ng-if="mpForm.tripName.$error.required">Please enter a name for this Trip before continuing.</span></div>
            </div>
          </div>
        </div>
        <div class="panel panel--default">
          <div class="panel__body">
            <div class="form-group">
              <label class="form-group__label required">How many times have you been to Disney World?</label>
              <div class="content-input">
                <input id="tripCount" type="number" name="tripCount" ng-model="vacation.trip.tripCount" string-to-number="string-to-number" min="0" max="99" value="0" required="required" ng-class="{ 'form-group__control--error': ((submitted || mpForm.tripCount.$dirty) && mpForm.tripCount.$invalid) }" class="form-group__control"/>
                <button ng-click="increment(1)" class="arrow-up"><img src="../mpservices/images/assets/icn-up.png" alt="arrow-up"/></button>
                <button ng-click="increment(-1)" class="arrow-down"><img src="../mpservices/images/assets/icn-down.png" alt="arrow-down"/></button>
              </div>
              <div ng-if="(submitted || mpForm.tripCount.$dirty) && mpForm.tripCount.$invalid" class="message message--error fade"><span ng-if="mpForm.tripCount.$error.required">Please complete this question to help us provide the right detail to help you plan your next vacation.</span><span ng-if="!mpForm.tripCount.$error.required &&( mpForm.tripCount.$error.min || mpForm.tripCount.$error.max)">Please enter a number between 0 to 99.</span></div>
            </div>
            <div ng-if="vacation.trip.tripCount > 0" class="form-group fade">
              <label class="form-group__label required">When was your last visit?</label>
              <div class="content-input">
                <input id="count" type="number" name="lastVisit" ng-model="vacation.trip.lastVisit" placeholder="4 digit year" min="{{main.config.minLastVisit}}" max="{{maxLastVisit}}" ng-required="vacation.trip.tripCount > 0" minView="date" ng-class="{ 'form-group__control--error': ((submitted || mpForm.lastVisit.$dirty) && mpForm.lastVisit.$invalid) }" class="form-group__control"/>
                <button ng-click="incrementLV(1)" class="arrow-up"><img src="../mpservices/images/assets/icn-up.png" alt="arrow-up"/></button>
                <button ng-click="incrementLV(-1)" class="arrow-down"><img src="../mpservices/images/assets/icn-down.png" alt="arrow-down"/></button>
              </div>
              <div ng-if="(submitted || mpForm.lastVisit.$dirty) && mpForm.lastVisit.$invalid" class="message message--error fade"><span ng-if="mpForm.lastVisit.$error.required">Please enter a year so we can include updates since your last trip.</span><span ng-if="mpForm.lastVisit.$error.min || mpForm.lastVisit.$error.max">Please enter a year between {{ main.config.minLastVisit }} to {{ maxLastVisit }}.</span></div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="form-group__label">Disney can make special events extra special. Will you be celebrating something?</label>
        <div class="selector-group selector-group--col-7">
          <div ng-repeat="celebrationType in vacation.options.celebrationTypes" class="selector fade">
            <label class="selector__label">
              <input type="checkbox" name="celebratingType" ng-checked="celebrationSelected(celebrationType)" ng-click="changeItemCelebration(celebrationType);" class="selector__label__input"/>
              <div class="selector__label__square">
                <div class="selector__label__square__icon"><i class="icon {{ celebrationType.img }}"></i></div>{{ celebrationType.name }}
              </div>
            </label>
          </div>
        </div>
        <div ng-if="(submitted || mpForm.celebratingType.$dirty) && mpForm.celebratingType.$invalid" class="fade"><span ng-if="mpForm.celebratingType.$error.required" class="fade text-error">Required field.</span></div>
      </div>
      <div class="grid">
        <div class="grid-12">
          <div class="indication">Indicates required field</div>
          <solidbar></solidbar>
        </div>
      </div>
    </div>
    <div class="container-form-footer">
      <backandnext></backandnext>
    </div>
  </form>
</div>
