<div>
  <div class="container--dashboard">
    <div class="header header--schedule">
      <div class="logo-wrap">
        <a ui-sref="main.dashboard" class="ilogo"></a>
      </div>
      <a href class="logout-link" logout-link>Log out</a>
    </div>
  </div>
  <div class="container--dashboard">
    <div class="dashboard">
      <div class="dashboard__header">
        <div class="dashboard__header-profile">
          <div class="dashboard__header-profile-name">Dashboard</div>
        </div>
      </div>
      <div class="dashboard__body">
        <h1 class="dashboard__title">IF YOU CAN DREAM IT,<br/>YOU CAN DO IT.
          <div class="small">Walt Disney</div>
        </h1>

        <div class="dashboard__plans">
          <div class="dashboard__plans-head">Your MousePlans</div>
          <div class="dashboard__plans-body">
            <div>
              <div ng-repeat="plan in vacation" class="plan">
                <div class="plan__head"><a>{{ plan.name }}</a></div>
                <div class="plan__footer">
                  <div class="plan__footer-bg"></div>
                  <div class="plan__footer-op">
                    <ul>
                      <li><a href="javascript:void(0);" class="dash-min-menu"><i class="idash-icn-menu"></i></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="plan__footer-score">
                  <div class="plan__footer-score__title">Trip Score</div>
                </div>
              </div>
              <div class="plan new_plan">
                <div class="add-plan-link">
                  <i class="addblockmobile"></i>
                  <a class="add-plan-link_text clearfix">Add New Plan</a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="dashboard__footer">
    <div class="dashboard__footer-image"><img src="../mpservices/images/img-children.png"/></div>
    <div class="dashboard__footer-description">
      <div class="dashboard__footer-subtitle">Make More Magic!</div>
      <div class="dashboard__footer-title">The simplest way to plan your dream Disney vacation.</div>
      <a href ng-if="userCanSubscribe" ng-click="toggleSubscriptionPopup()" class="btn-sticky btn-sticky_btn-cta btn-sticky--subscribe"><i class="ireoptimize-on"></i>Subscribe to MousePlanner</a>
    </div>
  </div>
  <div class="footer">
    <div class="container--dashboard">
      <div class="footer__social-networks">
        <div class="line social-title">Get Social with MousePlanner</div>
        <ul>
          <li><a href="https://www.facebook.com/mouseplanner" target="_blank"><i class="icn-faceebook"></i></a></li>
          <li><a href="https://www.youtube.com/c/mouseplanner" target="_blank"><i class="icn-youtube"></i></a></li>
          <li><a href="https://www.instagram.com/mouseplanner/" target="_blank"><i class="icn-instagram"></i></a></li>
          <li><a href="https://www.pinterest.com/mouseplanner/" target="_blank"><i class="icn-pinterest"></i></a></li>
          <li><a href="mailto:support@mouseplanner.com" target="_blank"><i class="icn-mail"></i></a></li>
        </ul>
      </div>
      <div class="footer__copyright">
        <div class="line">© {{config.validation.year.max}} MousePlanner®. All rights reserved. All Disney artwork, properties & logos © Disney. All Disney artwork, copyrights, trademarks, service marks, and trade names are proprietary to Walt Disney Company. This site is not affiliated in any way with Walt Disney Company or any of its affiliates or subsidiaries.  For official information on Walt Disney World visit <a href="https://www.disney.com" class="link--transparent"> https://www.disney.com.</a></div>
      </div>
      <div class="footer__description">

      </div>
      <div class=" footer__description footer__policy-links"><a class="link--transparent" href="//mouseplanner.com/terms-and-conditions">Terms Of Use</a> | <a href="//mouseplanner.com/privacy-policy" class="link--transparent">Privacy Policy</a> | <a class="link--transparent" href="mailto:support@mouseplanner.com" target="_blank">Contact Us</a></div>
    </div>
  </div>
  <div>
    <div stickynavigation="activeMenu"></div>
  </div>

  <subscription-purchase user="user" mode="'page'" show="true"></subscription-purchase>
</div>
