<div class="header-nav">
  <div class="group">
    <div class="step-number bg-primary-red">Step 3:</div>
    <div class="step-name">Trip Details</div>
  </div>
</div>
<div class="container-form">
  <form name="mpForm" novalidate="novalidate">
    <div class="container-form-body">
      <div class="panel panel--default">
        <div class="panel__body">
          <div class="grid grid--form">
            <div class="grid__col--5 grid__col--without-pad">
              <div class="form-group">
                <label class="form-group__label"> <span class="required">When would you like to travel?</span><a href="javascript:void(0)" class="form-group__help form-group__help--italic tooltip tooltip--link">What if I don't know my dates yet?
                    <div class="tooltip__description"><span>We'll need confirmed travel dates to finalize your MousePlan, but you can enter potential dates now and edit your vacation profile when travel is confirmed. You can re-optimize your plan after changes are made.</span></div></a></label>
              </div>
            </div>
            <div class="grid__col--7 grid__col--without-pad">
              <div class="grid__col--6">
                <div class="form-group form-group--has-feedback">
                  <input type="text" name="startTravelDate" class="form-group__control" uib-datepicker-popup="{{main.config.datePickerFormat}}" ng-model="localDate.startTravelDate" is-open="popup1.opened" ng-required="true" close-text="Close" ng-click="popup1.opened = true" show-button-bar="false" datepicker-options="main.config.datePickerOptions" />
                  <span class="form-group__feed" ng-click="popup1.opened = true"><i class="idatepicker"></i></span>
                  <div ng-if="(submitted || mpForm.startTravelDate.$dirty) && mpForm.startTravelDate.$invalid" class="message message--error fade"><span ng-if="mpForm.startTravelDate.$error.min">Minimum date is {{ now }}.</span></div>
                  <div ng-if="(submitted || mpForm.startTravelDate.$dirty) && mpForm.startTravelDate.$invalid" class="message message--error fade"><span ng-if="mpForm.startTravelDate.$error.parse">incorrect date format.</span></div>
                  <!--<div class="message message&#45;&#45;error fade" ng-if="maxArrangeDate">Sorry, trip range should be less than 15 days</div>-->
                </div>
              </div>
              <div class="grid__col--6">
                <div class="form-group form-group--has-feedback">
                  <input type="text" name="endTravelDate" class="form-group__control" uib-datepicker-popup="{{main.config.datePickerFormat}}" ng-model="localDate.endTravelDate" is-open="popup2.opened" ng-required="true" close-text="Close" ng-click="popup2.opened = true" show-button-bar="false" datepicker-options="main.config.datePickerOptions" />
                  <span class="form-group__feed" ng-click="popup2.opened = true"><i class="idatepicker"></i></span>
                  <div ng-if="(submitted || mpForm.endTravelDate.$dirty) && mpForm.endTravelDate.$invalid" class="message message--error fade"><span ng-if="mpForm.endTravelDate.$error.min">Minimum date is {{ minDateToShow }}.</span></div>
                  <div ng-if="(submitted || mpForm.endTravelDate.$dirty) && mpForm.endTravelDate.$invalid" class="message message--error fade"><span ng-if="mpForm.endTravelDate.$error.parse">incorrect date format.</span></div>
                  <!--<div ng-if="(submitted || mpForm.endTravelDate.$dirty) && mpForm.endTravelDate.$invalid" class="message message&#45;&#45;error fade"><span ng-if="maxArrangeDate">Sorry, trip range should be less than 15 days</span></div>-->
                  <!--<div class="message message&#45;&#45;error fade" ng-if="vacation.data.endTravelDate.maxArrangeDate">Sorry, trip range should be less than 15 days</div>-->
                  <div class="message message--error fade" ng-if="localDate.endTravelDate.maxArrangeDate">Sorry, trip range should be less than 15 days</div>
                </div>
              </div>
            </div>
            <div ng-if="vacation.data.edgeDate" class="grid grid--form">
              <div class="grid__col--12 grid__col--without-pad">
                <div class="alert alert alert--green alert--bold">Planning this far in advance of your trip is a great idea to ensure availability at Disney resorts. Please note that park schedules won't be available until {{maxEdgeDate}}. Please check back then to finalize your MousePlan before making dining and Fastpass+ reservations. Until then, you can explore MousePlanner, learn more about Disney vacations, and book your resort, if you haven't already.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div ng-if="mpForm.startTravelDate.$valid && mpForm.endTravelDate.$valid" class="panel panel--default fade">
        <div class="panel__body">
          <div class="grid grid--form">
            <div class="grid__col--12 grid__col--without-pad">
              <div class="form-group">
                <label class="form-group__label required">Will you be staying at a Disney Resort?</label>
                <div class="selector-group">
                  <div ng-repeat="bookedPlaceType in vacation.options.bookedPlaceTypes" class="selector selector--inside">
                    <label class="selector__label">
                      <input type="radio" name="booked" ng-value="{{ bookedPlaceType.id }}" ng-model="vacation.data.booked_place_type_id" mp-required="mp-required" class="selector__label__input"/>
                      <div class="selector__label__square"><span class="selector__label__square__front">{{ bookedPlaceType.name }}</span></div>
                    </label>
                  </div>
                </div>
                <div ng-if="(submitted || mpForm.booked.$dirty) && mpForm.booked.$invalid" class="message message--error fade"><span ng-if="mpForm.booked.$error.required || mpForm.booked.$error.mpRequired">Please complete this question before proceeding.</span></div>
              </div>
            </div>
          </div>
          <div ng-if="vacation.data.booked_place_type_id == 2 && mpForm.booked.$valid && vacation.data.booked_place_type_id != 0" class="grid grid--form fade">
            <div class="grid__col--5 grid__col--without-pad">
              <div class="form-group">
                <label class="form-group__label required">Which Disney Resort?</label>
              </div>
            </div>
            <div class="grid__col--6 grid__col--without-pad">
              <div class="form-group">
                <select name="resort" ng-model="vacation.data.resort_id" ng-options="resort.id as resort.name for resort in vacation.options.resorts" mp-required="mp-required" class="form-group__control"></select>
                <div ng-if="(submitted || mpForm.resort.$dirty) && mpForm.resort.$invalid" class="message message--error fade"><span ng-if="mpForm.resort.$error.required || mpForm.resort.$error.mpRequired">Please complete this question before proceeding.</span></div>
              </div>
            </div>
          </div>
          <div ng-if="vacation.data.booked_place_type_id == 2 && mpForm.resort.$valid" class="grid grid--form fade">
            <div class="grid__col--12 grid__col--without-pad">
              <div class="form-group">
                <label class="form-group__label required">Will you be using the Disney Dining Plan? If so, which one?</label>
                <div class="selector-group">
                  <div ng-repeat="diningPlan in vacation.options.diningPlanTypes" class="selector selector--inside">
                    <label class="selector__label">
                      <input type="radio" name="diningPlan" ng-value="{{ diningPlan.id }}" ng-model="vacation.data.dining_plan_type_id" mp-required="mp-required" class="selector__label__input"/>
                      <div class="selector__label__square">
                        <span class="selector__label__square__front" ng-bind-html="diningPlan.name"></span>
                      </div>
                    </label>
                  </div>
                </div>
                <div ng-if="(submitted || mpForm.diningPlan.$dirty) && mpForm.diningPlan.$invalid" class="message message--error fade"><span ng-if="mpForm.diningPlan.$error.required || mpForm.diningPlan.$error.mpRequired">Please complete this question before proceeding.</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div ng-if="vacation.data.booked_place_type_id == 1" class="grid grid--form">
        <div class="grid__col--12 grid__col--without-pad">
          <div class="alert alert alert--green alert--bold">Excellent! We can help you decide and get you the lowest Disney prices.<br/>Let's come back to this once we finish designing your MousePlan.</div>
        </div>
      </div>
      <div ng-if="vacation.data.booked_place_type_id == 1 && mpForm.booked.$valid || vacation.data.booked_place_type_id == 2 && mpForm.diningPlan.$valid || vacation.data.booked_place_type_id == 3" class="panel panel--default fade">
        <div class="panel__body">
          <div class="grid grid--form">
            <div class="grid__col--5 grid__col--without-pad">
              <div class="form-group">
                <label class="form-group__label required">How many days will you visit Disney Parks?</label>
              </div>
            </div>
            <div class="grid__col--7 grid__col--without-pad">
              <div class="form-group">
                <select ng-model="vacation.data.visitDays" name="visitDay" ng-options="visitDayOp.id as visitDayOp.name for visitDayOp in config.options.dayVisitDisneyPark" mp-required="mp-required" ng-class="{ 'form-group__control--error': ((submitted || mpForm.visitDay.$dirty) && mpForm.visitDay.$invalid ) }" class="form-group__control"></select>
                <div ng-if="vacation.data.visitDays == 11" class="message message--success fade">You may want an annual pass for more than 10 days. <a href="https://disneyworld.disney.go.com/passes/" target="_blank">Learn More</a>.</div>
                <div ng-if="(submitted || mpForm.visitDay.$dirty) && mpForm.visitDay.$invalid" class="message message--error fade"><span ng-if="mpForm.visitDay.$error.mpRequired"> Please complete this question before proceeding.</span><span ng-if="!mpForm.visitDay.$error.mpRequired &&( mpForm.visitDay.$error.min || mpForm.visitDay.$error.max)">Please enter a number between 1 to more.</span></div>
              </div>
            </div>
          </div>
          <div ng-if="mpForm.visitDay.$valid" class="grid grid--form fade">
            <div class="grid__col--5 grid__col--without-pad">
              <div class="form-group">
                <label class="form-group__label required">Do you want to visit more than one park a day?</label>
              </div>
            </div>
            <div class="grid__col--7 grid__col--without-pad">
              <div class="form-group">
                <div ng-repeat="interestVisitParkType in vacation.options.interestVisitParkTypes" class="radio">
                  <label class="radio__label">
                    <input type="radio" name="interestVisitPark" ng-value="{{ interestVisitParkType.id }}" ng-model="vacation.data.interest_visit_park_type_id" mp-required="mp-required" class="radio__label__input"/><i class="radio__label__icon"></i>{{ interestVisitParkType.name }}
                  </label>
                </div>
                <div ng-if="(submitted || mpForm.interestVisitPark.$dirty) && mpForm.interestVisitPark.$invalid" class="message message--error fade"><span ng-if="mpForm.interestVisitPark.$error.required || mpForm.interestVisitPark.$error.mpRequired">Please complete this question before proceeding.</span></div>
              </div>
            </div>
          </div>
          <div ng-if="mpForm.interestVisitPark.$valid && vacation.data.interest_visit_park_type_id" class="grid grid--form fade">
            <div class="grid__col--5 grid__col--without-pad">
              <label class="form-group__label required">What about a Disney Water Park?</label>
            </div>
            <div class="grid__col--7 grid__col--without-pad">
              <div ng-repeat="interestWaterParkType in vacation.options.interestWaterParkTypes" class="radio">
                <label class="radio__label">
                  <input type="radio" name="interestWaterPark" ng-value="{{ interestWaterParkType.id }}" ng-model="vacation.data.interest_water_park_type_id" mp-required="mp-required" class="radio__label__input"/><i class="radio__label__icon"></i>{{ interestWaterParkType.name }}
                </label>
              </div>
              <div ng-if="(submitted || mpForm.interestWaterPark.$dirty) && mpForm.interestWaterPark.$invalid" class="message message--error fade"><span ng-if="mpForm.interestWaterPark.$error.required || mpForm.interestWaterPark.$error.mpRequired">Please complete this question before proceeding.</span></div>
            </div>
          </div>
        </div>
      </div>
      <div ng-if="(vacation.data.booked_place_type_id == 1 && mpForm.interestWaterPark.$valid || vacation.data.booked_place_type_id == 2 && mpForm.interestWaterPark.$valid || vacation.data.booked_place_type_id == 3)" class="panel panel--default fade">
        <div class="panel__body">
          <div ng-if="vacation.data.booked_place_type_id == 1 || (vacation.data.booked_place_type_id == 2 || vacation.data.booked_place_type_id == 3) && mpForm.interestWaterPark.$valid" class="grid grid--form fade">
            <div class="grid__col--5 grid__col--without-pad">
              <div class="form-group">
                <label class="form-group__label required">Are you flying or driving?</label>
              </div>
            </div>
            <div class="grid__col--7 grid__col--without-pad">
              <div class="form-group"><span>
                  <div class="radio">
                    <label class="radio__label">
                      <input type="radio" name="flying" ng-value="1" ng-model="vacation.data.isFlying" required="required" class="radio__label__input"/><i class="radio__label__icon"></i>Flying
                    </label>
                  </div>
                  <div class="radio">
                    <label class="radio__label">
                      <input type="radio" name="flying" ng-value="0" ng-model="vacation.data.isFlying" required="required" class="radio__label__input"/><i class="radio__label__icon"></i>Driving
                    </label>
                  </div>
                  <div ng-if="(submitted || mpForm.flying.$dirty) && mpForm.flying.$invalid" class="message message--error fade"><span ng-if="mpForm.flying.$error.required || mpForm.flying.$error.mpRequired">Please complete this question before proceeding.</span></div></span></div>
            </div>
          </div>
          <div ng-if="mpForm.flying.$valid && vacation.data.isFlying >= 0" class="grid grid--form fade">
            <div class="grid__col--5 grid__col--without-pad">
              <div class="form-group">
                <label ng-if="vacation.data.isFlying" class="form-group__label">Please provide your flight arrival and departure times, so we can plan your travel days.</label>
                <label ng-if="!vacation.data.isFlying" class="form-group__label">Please estimate your resort arrival and departure times, so we can plan your travel days.</label>
              </div>
            </div>
            <div class="grid__col--7 grid__col--without-pad">
              <div class="grid__col--6">
                <div class="form-group">
                  <div mp-timepicker-custom="localDate.arrivalDate" name="arrival" placeholder="Arrival"></div>
                </div>
              </div>
              <div class="grid__col--6">
                <div class="form-group">
                  <div mp-timepicker-custom="localDate.departureDate" name="departure" placeholder="Departure"></div>
                </div>
              </div>
            </div>
          </div>
          <div ng-if="vacation.data.booked_place_type_id == 3" class="grid grid--form fade">
            <div class="grid__col--12 grid__col--without-pad">
              <div class="form-group">
                <label class="form-group__label">Where are you staying?</label>
              </div>
              <div class="grid">
                <div class="grid__col--4">
                  <autocomplete attr-class="form-group__control" attr-placeholder="Hotel Name" ng-model="vacation.data.hotelName" data="hotels" on-select="completAddressZip" on-type="updateHotels"></autocomplete>
                </div>
                <div class="grid__col--4">
                  <input type="text" placeholder="Street Address" ng-model="vacation.data.streetAddress" class="form-group__control"/>
                </div>
                <div class="grid__col--4">
                  <input type="text" placeholder="ZIP Code" ng-model="vacation.data.zipCode" class="form-group__control"/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="grid">
        <div class="grid-12">
          <div class="indication">Indicates required field</div>
          <solidbar></solidbar>
        </div>
      </div>
    </div>
    <div class="container-form-footer">
      <backandnext></backandnext>
    </div>
  </form>
</div>
