<div class="header-nav">
  <div class="group">
    <div class="step-number bg-primary-red">Step 6</div>
    <div class="step-name">Pick your favorites</div>
  </div>
</div>
<div class="container-form">
  <div class="headline">
    <h3 class="headline__sub-main">We've selected the activities we think your party will be most interested in.<br>Select your level of interest to help us build your custom Wish List.</h3>
  </div>
  <form name="mpForm" novalidate="novalidate">
    <div class="container-form-body">
      <div class="grid">
        <div class="grid__col--12">
          <div class="form-group form-group--only text-center">
          </div>
          <div class="form-group form-group--only">
            <div class="grid grid__hearts-container">
              <div class="grid__col--6">
                <div class="grid">
                  <div class="grid__col--5 text-right key-label"><b>Maybe</b></div>
                  <div class="grid__col--7"><i class="iheart-on"></i></div>
                </div>
                <div class="grid">
                  <div class="grid__col--5 text-right key-label"><b>Probably</b></div>
                  <div class="grid__col--7"><i class="iheart-on"></i>&nbsp;&nbsp;&nbsp;<i class="iheart-on"></i></div>
                </div>
                <div class="grid">
                  <div class="grid__col--5 text-right key-label"><b>Absolutely</b></div>
                  <div class="grid__col--7"><i class="iheart-on"></i>&nbsp;&nbsp;&nbsp;<i class="iheart-on"></i>&nbsp;&nbsp;&nbsp;<i
                          class="iheart-on"></i></div>
                </div>
              </div>
              <div class="grid__col--6 hearts-container-6">
                <div class="grid">
                  <div class="grid__col--12 form-group--only-item">
                    <i class="fa fa-bolt icon-fastpass" aria-hidden="true"></i><a href="javascript:void(0)" class="tooltip tooltip--link form-group--only-item-description"><b>FastPass+ eligible</b>
                    <div class="tooltip__description"><span>You can make an advance reservation for this experience, called a FastPass. Guests can make up to 3 advance reservations each day of their trip.</span></div></a>
                  </div>
                </div>
                <div class="grid">
                  <div class="grid__col--12 form-group--only-item">
                    <i class="icn-accessibility"></i><a href="javascript:void(0)" class="tooltip tooltip--link form-group--only-item-description"><b>Accessibility-related alert</b>
                    <div class="tooltip__description"><span>Alerts indicate that there's info related to accessibility preferences that you selected earlier. To view accessibility details on each attraction, click Details.</span></div></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-group">
        <div ng-class="{ 'panel--accordion--active': accordion.itemActive == $index }" ng-form="formInside" ng-repeat="park in parks" id="section{{ $index }}" class="panel panel--default panel--accordion">
          <div ng-click="(accordion.itemActive === $index) ? accordion.itemActive = -1: accordion.itemActive = $index;" class="panel__heading">
            <span class="panel__heading__text" ng-class="main.switchColors(park.initials, 'color')">{{ park.name }}® Park</span><a ng-show="accordion.itemActive === $index" ng-click="skip($index + 1, park); config.go.section('section' + ($index + 1));" class="btn btn--md btn--warning panel__heading__btn-edit"><i class="iskip"></i>&nbsp;&nbsp;Skip and let us pick!</a>
            <div class="panel__heading__arrow"></div>
          </div>
          <div class="panel__collapse">
            <div class="panel__body">
              <div class="grid">
                <div ng-repeat="experience in experiences | filter:vacation.filters.experiencePark(park)" class="grid__col--4 grid__col--4--without-margin">
                  <div style="z-index: {{ vacation.options.experiences.length - $index }};" class="card card--flip">
                    <div ng-class="{ 'hover': experience.flip }" style="margin: 0 auto;" class="card-flipper-container">
                      <div class="card-flipper">
                        <div class="card-flipper__front card-flipper__front-white">
                          <div class="flag">
                            <span ng-show="vacation.flags.newExperience(experience)" class="flag__new"><i class="icn-new"></i></span>
                            <span ng-show="vacation.flags.mobilityDisability(experience)" title="{{ experience.facets.mobilityDisabilities[0].value }}" class="flag__indicator"><i class="icn-accessibility"></i></span>
                            <span ng-show="vacation.flags.serviceAnimal(experience)" title="Service Animals {{ experience.facets.serviceAnimals[0].value }}" class="flag__indicator"><i class="icn-accessibility"></i></span>
                            <span ng-show="vacation.flags.visualDisability(experience)" title="No accommodation for visual disability" class="flag__indicator"><i class="icn-accessibility"></i></span>
                            <span ng-show="vacation.flags.hearingDisability(experience)" title="No accommodation for hearing disability" class="flag__indicator"><i class="icn-accessibility"></i></span>
                            <span ng-show="vacation.flags.fastpass(experience)" class="flag__indicator"><i class="fa fa-bolt icon-fastpass"></i></span>
                          </div>
                          <div class="card-flipper__content">
                            <div title="experience.name" class="card__title text-center text-uppercase">{{ experience.name }}</div>
                            <div class="card__ranking text-center">
                              <div class="rating">
                                <input type="radio" name="experience{{ experience.id }}" id="experience{{ experience.id }}1" ng-value="3" ng-checked="heartValue(3, experience)" ng-click="selectedHeart(3, experience, park);" class="rating__input"/>
                                <label for="experience{{ experience.id }}1" class="rating__item">
                                  <div class="rating__item__icon"></div>
                                </label>
                                <input type="radio" name="experience{{ experience.id }}" id="experience{{ experience.id }}2" ng-value="2" ng-checked="heartValue(2, experience)" ng-click="selectedHeart(2, experience, park);" class="rating__input"/>
                                <label for="experience{{ experience.id }}2" class="rating__item">
                                  <div class="rating__item__icon"></div>
                                </label>
                                <input type="radio" name="experience{{ experience.id }}" id="experience{{ experience.id }}3" ng-value="1" ng-checked="heartValue(1, experience)" ng-click="selectedHeart(1, experience, park);" class="rating__input"/>
                                <label for="experience{{ experience.id }}3" class="rating__item">
                                  <div class="rating__item__icon"></div>
                                </label>
                              </div>
                            </div>
                          </div>
                          <div class="card__bottom text-center"><a id="popoverMobile" href="javascript:void(0)" ng-class="{ 'popover--active': experience.popoverActive }" ng-click="showPopoverDetails(experience, vacation);" class="btn btn--link popover--bottom">Details </a><a id="popoverDesktop" href="javascript:void(0)" ng-class="{ 'popover--active': experience.popoverActive }" ng-click="experience.popoverActive = !experience.popoverActive;" class="btn btn--link popover--bottom">Details
                            <div style="font-size: 10px; line-height: 15px;" id="popover__description" class="popover__description popover__description__center">
                              <div class="popover__body">
                                <p> <b>It’s a Match!</b>&nbsp; Highlighted text matches your vacation profile.</p>
                                <div ng-if="experience.facets.age.length && experience.facets.age.length > 0"><b>Ages:&nbsp;</b><span ng-repeat="a in experience.facets.age" ng-class="{ 'badge-line--success': vacation.checked.age(a) }" class="badge-line">{{ a.value }},&nbsp;</span></div>
                                <div ng-if="experience.facets.interests.length && experience.facets.interests.length > 0"><b>Interest:&nbsp;</b><span ng-repeat="i in vacation.park.interests.get(experience)" ng-class="{ 'badge-line--success': vacation.checked.interests(i) }" class="badge-line">{{ i.value }},&nbsp;</span></div>
                                <div ng-if="experience.facets.height.length && experience.facets.height.length > 0"><b>Height:&nbsp;</b><span ng-repeat="h in experience.facets.height" ng-class="{ 'badge-line--success': vacation.checked.height(h) }" class="badge-line">{{ h.value }},&nbsp;</span></div>
                                <div ng-if="experience.facets.thrillFactor.length && experience.facets.thrillFactor.length > 0"><b>Thrill Factors:&nbsp;</b><span ng-repeat="t in experience.facets.thrillFactor" class="badge-line">{{ t.value }},&nbsp;</span></div>
                                <div ng-if="experience.facets.mobilityDisabilities.length && experience.facets.mobilityDisabilities.length > 0"><b>Mobility Disabilities:&nbsp;</b><span ng-repeat="t in experience.facets.mobilityDisabilities" ng-class="{ 'badge-line--success': vacation.checked.accessibility(t) }" class="badge-line">{{ t.value }},&nbsp;</span></div>
                                <div ng-if="experience.facets.serviceAnimals.length && experience.facets.serviceAnimals.length > 0"><b>Service Animals:&nbsp;</b><span ng-repeat="t in experience.facets.serviceAnimals" ng-class="{ 'badge-line--success': vacation.checked.accessibility(t) }" class="badge-line">{{ t.value }},&nbsp;</span></div>
                                <div ng-if="experience.facets.hearingandVisualDisability.length && experience.facets.hearingandVisualDisability.length > 0"><b>Hearing and Visual Disability:&nbsp;</b><span ng-repeat="t in experience.facets.hearingandVisualDisability" ng-class="{ 'badge-line--success': vacation.checked.accessibility(t) }" class="badge-line">{{ t.value }},&nbsp;</span></div>
                              </div>
                            </div></a>
                          </div>
                        </div>
                        <div ng-mouseleave="experience.flip = false;" class="card-flipper__back card-flipper__back-white">
                          <div style="visibility: hidden;" class="card-flipper__link text-right"><a ng-href="javascript:void(0);" ng-click="external('https://disneyworld.disney.go.com', experience.webLinks.wdwDetail.href)"><i class="iexternal-link"></i></a></div>
                          <div title="{{ experience.descriptions.shortDescription.sections.body }}" class="card-flipper__description card-flipper__description--step-6">
                            <div ng-if="experience.descriptions.shortDescription.sections.body" ng-bind-html="experience.descriptions.shortDescription.sections.body"></div>
                            <div ng-if="!(experience.descriptions.shortDescription.sections.body)">No description available.</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="grid">
                <div class="grid__col--12 text-center"><a ng-click="accordion.itemActive = $index + 1; config.go.section('section' + ($index + 1));" ng-if="($index + 1) < parks.length" class="btn btn--warning"><i class="iclose-and-move-off"></i>&nbsp;Next park</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="grid">
        <div class="grid-12">
          <div class="indication">Indicates required field</div>
          <solidbar></solidbar>
        </div>
      </div>
    </div>
  </form>
  <div class="container-form-footer">
    <backandnext></backandnext>
  </div>
</div>
<script id="externallink" type="text/ng-template">
  <iframe style="width:100%; height: 500px" src="{{ external.url }}"></iframe>
</script>
