.wrap-content
  position: relative

.container
  position: relative
  max-width: $gr
  margin: 0 auto
  @extend %clearfix
  @media (max-width: $sm)
    padding-left: 0px
    padding-right: 0px
    
  &--trip
    max-width: em(960px)
    margin: 0 auto
  &--tripHeader
    max-width: em($gr)
    margin: 0 auto
  &--dashboard
    max-width: $gr
    margin: 0px auto
  &--error
    max-width: $gr
    margin: 0px auto
