// Grid Container
.grid
	@extend %clearfix
	width: 100%
	margin-bottom: 15px
	[class*="grid__col--"] > &
		width: 100%
	&:last-child
		margin-bottom: 0px
	&__hearts-container
		display: flex
		align-items: center
		@media (max-width: $sm - 10)
			flex-direction: column
.grid--form
	margin-bottom: 35px
	&:last-child
		margin-bottom: 0px

.grid-activities
	display: flex
	flex-wrap: wrap
	width: 58%
	justify-content: center
	margin: 0 auto
	@media (max-width: 950px)
		width: 65%
	@media (max-width: $xs)
		width: 100%
