// Grid Columns
@for $i from 1 through $grid-col-count
	$context: g-context($grid-col-width, $grid-col-count, $grid-gutter-width)
	$target: ($grid-col-width * $i) + ($grid-gutter-width * ($i - 1))
	.grid__col--#{$i}
		width: percentage($target / $context)
		@extend %col
		&:first-child
			margin-left: 0px
		&--without-margin
			margin-left: 0px
			margin-right: 0px
			margin-bottom: 10px
		@media (max-width: $sm - 10)
			width: 100%
			margin-left: 0px
			margin-right: 0px
	.hearts-container-#{$i}
		@media (max-width: $sm - 10)
			margin-top: 20px
		@media (max-width: $xs - 100)
			.form-group--only-item
				white-space: nowrap
	.grid__hearts-activities
		.grid > .grid__col--#{$i}
			display: flex
			justify-content: center
			white-space: nowrap

.grid__col--without-pad
	padding: 0px !important
// wishlist cards
.row
	margin-right: -15px
	margin-left: -15px
.col-xs-12, .col-sm-6, .col-md-4
	position: relative
	min-height: 1px
	padding-right: 15px
	padding-left: 15px
	margin-bottom: 10px
.col-xs-12
	float: left
.col-xs-12
	width: 100%
@media (min-width: 600px)
	.col-sm-6
		float: left
	.col-sm-6
		width: 50%
@media (min-width: 800px)
	.col-md-4
		float: left
	.col-md-4
		width: 33.33333333%
