.action
  //need for correct scrolling on iOS devices
  -webkit-overflow-scrolling: touch
  display: flex
  flex-direction: column
  box-shadow: 0.7px 0.7px 4.9px 0.2px rgba(156, 156, 156, 0.53)
  background: #f9f9f9
  border: 1px solid #d8dae0
  border-radius: 4px
  padding: 10px 15px
  z-index: 99
  width: 260px
  position: absolute
  left: 100%
  margin-left: 15px
  @media (max-width: 1000px)
    position: fixed !important
    top: 0 !important
    left: 0 !important
    right: 0 !important
    bottom: 0 !important
    width: 100% !important
    padding: 0px
    margin-left: 0
  &:before
    content: ''
    position: absolute
    border-width: 1px
    border-color: transparent
    background: #f9f9f9
    transform: rotate(45deg) !important
    margin-top: 3px
    width: 8px
    height: 8px
    border-bottom: 1px solid rgba(156, 156, 156, 0.5)
    border-left: 1px solid rgba(156, 156, 156, 0.5)
    top: 0
    left: -6px
  &__wrapper
    @media (max-width: 1000px)
      display: flex
      flex-direction: column
      height: 100%
  &__layer
    background: transparent
    opacity: 0.1
    position: fixed
    top: 0px
    left: 0px
    right: 0px
    bottom: 0px
    z-index: 98
    display: none
  &__nav
    padding: 16px 10px
    height: 50px
    display: none
    a
      text-decoration: none
      color: #414042
      font-size: 16px
      font-weight: 300
      display: inline-block
    @media (max-width: 1000px)
      display: block
  &__close-desktop
    display: flex
    justify-content: flex-end
    align-items: center
    @media (max-width: 1000px)
      display: none
  &__head
    text-align: center
    padding: 5px 5px 10px
    font-size: 14px
    font-weight: 400
    color: #37495a
    position: relative
    text-transform: capitalize
    @media (max-width: 1000px)
      margin-bottom: 15px
      font-size: 18px
    &--left
      float: left
    &--right
      float: right
  &__body
    padding: 3px 0px
    display: flex
    flex-direction: column
    flex: 1 0 0
    overflow: auto
  &__list
    &-item
      margin-bottom: 10px
      &:last-child
        margin-bottom: 0px
      .object-box
        margin-right: 0px
        @media (max-width: 1000px)
          width: 100%
  &--fastpass
    max-height: 250px
    overflow-y: auto
  &__parks
    @media (max-width: 1000px)
      position: absolute
      top: 0
      left: 0
      bottom: 0
      right: 0
      margin: auto
      width: 226px
      height: 260px
    &-list
      display: block
      margin-bottom: 2px
      &:last-child
        margin-bottom: 0px
      &-item
        position: relative
        display: inline-block
        width: 70px
        height: 68px
        background: white
        border-radius: 8px
        margin-right: 5px
        &:last-child
          margin-right: 0px
        &__frame
          position: absolute
          margin: 6px
          border-radius: 6px
          background: white
          top: 0px
          bottom: 0px
          left: 0px
          right: 0px
        &--blue
          background: #609dea
        &--green
          background: $color-puerto-rico
        &--purple
          background: #ab92e9
        &--pink
          background: #dc6187
        &--yellow
          background: $color-goldenrod
        &--light-blue
          background: #56c1e7
        img
          position: absolute
          top: 0px
          left: 0px
          right: 0px
          bottom: 0px
          margin: auto
  &__datetime
    position: relative
    $datetime: &
    &-picker
      display: none
      background: white
      border: 1px solid #ECECEC
      border-radius: 5px
      z-index: 9
      width: 100%
      padding: 5px
      > table
        margin: 0 auto
      &.active
        display: block
      input
        font-size: 12px
        max-height: 30px
        max-width: 60px
        border-radius: 5px
      .btn
        padding: 0px
        font-size: 15px
        border-radius: 4px
      .btn-default
        padding: 6px 5px
        font-size: 12px
        border-radius: 5px
        background: $color-primary !important
      .am-pm
        button
          width: 30px
  &__list
    list-style-type: none
    padding-left: 0px
    font-size: 14px
    margin: 0px
    max-height: 250px
    overflow-y: scroll
    li
      margin-bottom: 15px
    @media (max-width: 1000px)
      left: 0
      right: 0
      top: 0
      bottom: 0
  &__form
    $form: &
    padding: 0px 15px
    border-radius: 6px
    @media (max-width: 1000px)
      text-align: center
    &.normal
      @media (max-width: 1000px)
        position: static
        width: auto
        height: auto
        text-align: left
    &--blue
      background: #609dea
      padding: 10px 10px
      #{ $form }-input
        background: transparent !important
        border: 1px solid white !important
        color: white !important
      #{ $form }-label
        color: white !important
    &--green
      background: $color-puerto-rico
      padding: 10px 10px
      #{ $form }-input
        background: transparent !important
        border: 1px solid white !important
        color: white !important
      #{ $form }-label
        color: white !important
    &--purple
      background: #ab92e9
      padding: 10px 10px
      #{ $form }-input
        background: transparent !important
        border: 1px solid white !important
        color: white !important
      #{ $form }-label
        color: white !important
    &--pink
      background: #dc6187
      padding: 10px 10px
      #{ $form }-input
        background: transparent !important
        border: 1px solid white !important
        color: white !important
      #{ $form }-label
        color: white !important
    &--yellow
      background: $color-goldenrod
      padding: 10px 10px
      #{ $form }-input
        background: transparent !important
        border: 1px solid white !important
        color: white !important
      #{ $form }-label
        color: white !important
    &--light-blue
      background: #56c1e7
      padding: 10px 10px
      #{ $form }-input
        background: transparent !important
        border: 1px solid white !important
        color: white !important
      #{ $form }-label
        color: white !important
    &-controls
      display: inline-block
      color: black
      @media (max-width: 1000px)
        text-align: center
        width: 100%
        & .form-group__control
          max-width: 100%
          & .uib-daypicker
            width: 100%
    &-control-image
      display: inline-block
      position: relative
      width: 60px
      height: 60px
      background: white
      border-radius: 6px
      vertical-align: top
      margin-right: 10px
      img
        position: absolute
        top: 0px
        left: 0px
        right: 0px
        bottom: 0px
        margin: auto
      @media (max-width: 1000px)
        margin-right: 0
        margin-bottom: 10px
    &-control
      margin-bottom: 10px
      display: block
      &:last-child
        margin-top: 10px
    &-label
      font-size: 10px !important
      font-weight: 400 !important
      color: #414042 !important
      margin-bottom: 5px
      display: block
      @media (max-width: 1000px)
        font-size: 14px !important
    &-input
      border: 1px solid #c8c8c8 !important
      background: white !important
      height: 30px !important
      width: 200px !important
      color: #414042 !important
      font-size: 14px !important
      font-weight: 400 !important
      border-radius: 10px !important
      text-transform: capitalize
      padding: 0 0 0 5px
      &::-webkit-inner-spin-button
        display: none
      &::-webkit-clear-button
        display: none
      input
        border: 0px solid #c8c8c8 !important
        background: transparent !important
        height: 30px !important
        width: 110px !important
        color: #414042 !important
        font-size: 14px !important
        font-weight: 400 !important
        border-radius: 0px !important
      @media (max-width: 1000px)
        width: 100% !important
        font-size: 16px !important
        height: 60px !important
    &-btn
      text-decoration: none
      font-size: 14px
      font-weight: 400
      color: #404041
      border-radius: 3px
      padding: 8px 10px
      display: inline-block
      background: white
      border-radius: 6px
      &--primary
        background: $color-primary
        color: white
        padding: 8px 10px
        border-radius: 6px
      &.primary
        @media (max-width: 1000px)
          background: $color-primary
          color: white
          font-size: 16px
          line-height: 16px
          padding: 10px 20px
      @media (max-width: 1000px)
        margin-top: 10px
        background: $color-primary
        color: white
        font-size: 16px
        line-height: 16px
        padding: 10px 20px
