.activity
  &__note
    background: transparent
    padding: 20px 10px 20px 20px
    vertical-align: middle
  &__head
    font-size: 20px
    font-weight: 400
    color: $color-viking
    margin: -7px 0 0 0
  &__body
    font-size: 12px
    font-weight: 400
    color: black
    margin: 10px 0px -5px 0px
  &__list
    display: flex
    background: #f5f5f5
    margin: 15px 0 0 -95px

