.alert
  +bg-colors($ui-colors)
  color: white
  padding: em(10px) em(15px)
  font-size: em(16px)
  line-height: 1.1em
  text-align: center
  &--bold
    font-weight: $font-weight--bold
  &--green
    color: $color-puerto-rico
