.badge
  font-size: 10px
  background: transparent
  border: 1px solid $color-tertiary
  border-radius: 10px
  padding: 3px 8px
  margin-right: 1px
  margin-bottom: 1px
  display: inline-block
  &--success
    border-color: $eastern-blue
    background: $eastern-blue
    color: white
  &--error
    border-color: $cinnabar
    color: white
.badge-line
  font-size: 10px
  &--success
    color: $eastern-blue
