.btn
  color: white
  padding: 13px 16px 11px
  text-decoration: none
  display: inline-block
  font-size: em(18px)
  font-weight: $font-weight--medium
  +border-radius(10px)
  +bg-colors($ui-colors)
  border: 1px solid transparent
  &:focus
    outline: none
.btn[disabled]
  cursor: not-allowed
  filter: alpha(opacity=65)
  -webkit-box-shadow: none
  box-shadow: none
  opacity: .65
  background: $alto !important
.btn--sm
  padding: 5px 10px
  font-size: 18px
  line-height: 18px
.btn--xs
  padding: 5px
  font-size: 12px
  font-weight: 400
.btn--add-note
  color: #414042
.btn--md
  padding: 10px 10px
  font-size: 18px
  line-height: 18px
.btn--default-v2
  background: #e6e7e8
  color: #414042
  font-size: 16px
.btn--link
  font-size: 14px
  line-height: 18px
  font-weight: $font-weight--medium
  color: lighten($black, 10%)
  &:hover
    color: black
    text-decoration: underline
  &:active
    color: lighten($black, 5%)
    text-decoration: underline
  &-sm
    font-size: 12px
    text-decoration: underline
    color: black
    font-weight: 400
    &:hover,
    &:active,
    &.active
      color: $color-viking
.btn--menu
  font-size: 15px
  color: #37495a
  text-decoration: none
  display: inline-block
  text-align: center
  i
    display: inline-block
    margin-top: 5px
  &:hover
    color: black
    .idash
      +sprite($idashboard-on)
.btn--warning
  color: black
.btn--info-plus
  display: inline-block
  i
    display: inline-block
    +sprite($iinfo-off)
  &:hover
    i
      +sprite($iinfo-on)
.btn--transparent
  font-size: 18px
  font-weight: 400
  color: #414042
  background: transparent
  border-color: transparent
  border-radius: 0px
  &:hover,
  &:active,
  &.active
    color: $color-viking
  &-v2
    font-size: 16px
    i
      +sprite($dash-icn-left)
.btn-disabled
  font-size: 18px
  font-weight: 400
  color: #414042
  background: transparent
  border-color: transparent
  border-radius: 0px
.btn-radius
  border-radius: 18px
  background-color: #e6e7e8
  color: #414042
  font-size: 14px
  padding: 6px 13px
  text-decoration: none
  &--active
    background-color: #38516c
    color: white
  &:active,
  &:hover
    background-color: #38516c
    color: white
.btn-success
  padding: 10px 15px
  background: $color-viking
  border: 1px solid $color-viking
  color: white
.btn-default
  padding: 10px 15px
  background: white
  border: 1px solid $color-tertiary
  color: black
.btn--block
  background: #d9f1f1
  padding: 7px 10px
  font-size: 14px
  color: black
  text-align: center
  vertical-align: middle
  max-width: 85px
  font-weight: 400
  span
    display: inline-block
    width: 100%
.btn-sticky
  padding: 8px 10px
  font-size: 18px
  line-height: 18px
  font-weight: 400
  display: inline-block
  text-decoration: none
  color: white
  i
    margin-right: 7px
    display: inline-block
    vertical-align: top
  &--subscribe
    background: $color-puerto-rico
  &--schedule
    background: #E94E3E
  &--planning-tools
    background: #f99c77
  &--dashboard
    background: $color-goldenrod
  &--profile
    background: #609dea
  &--checklist
    background: $color-puerto-rico
  &_btn-cta
    padding: 20px
  &-purchase
    text-transform: uppercase
    border-radius: 15px
    padding: 15px 50px
    font-size: 15px
    box-shadow: inset 0 10px 25px  -18px #236d59, inset 0 -10px 25px  -18px #236d59
    &:hover
      background: lighten($color-puerto-rico, 10%)
      transition: all .3s
  &-learn-more
    color: $color-puerto-rico
    background: transparent
    border: 3px solid $color-puerto-rico
    padding: 5px 15px
  &-show-guide
    display: flex
    align-items: center

