.card
  background-color: #f1f1f1
  width: 100%
  height: 170px
  padding: 14px 10px 10px
  position: relative
  &--flip
    padding: 0px
    background: transparent
    z-index: 2
  &__title
    font-size: 14px
    font-weight: 100
    max-height: 43px
    text-overflow: ellipsis
    text-transform: capitalize
  &__ranking
    height: 15px
    position: absolute
    top: 0px
    bottom: 0px
    margin: auto
    left: 0px
    right: 0px
  &__bottom
    position: absolute
    bottom: 0px
    left: 0px
    right: 0px
