.checklist
  &__head
    color: white
    font-size: 14px
    line-height: 14px
    font-weight: 700
    padding: 15px 15px 10px
    text-transform: uppercase
    background: $color-puerto-rico
    overflow: hidden
    -webkit-border-radius: 5px 5px 0 0
    -moz-border-radius: 5px 5px 0 0
    border-radius: 5px 5px 0 0
    button
      background: transparent
      border: 1px solid transparent
      float: right
      display: inline-block
      vertical-align: middle
      cursor: pointer
      -webkit-outline: 1px solid transparent
      -moz-outline: 1px solid transparent
      -ms-outline: 1px solid transparent
      outline: 1px solid transparent
  &__body
    padding: 15px 15px
    background: #f9f9f9
    max-height: 650px
    overflow-y: auto
    -webkit-border-radius: 0 0 5px 5px
    -moz-border-radius: 0 0 5px 5px
    border-radius: 0 0 5px 5px
    @media (max-width: $sm - 10)
      max-height: none
  &__group
    &-head
      text-transform: uppercase
      font-size: 14px
      line-height: 14px
      font-weight: 400
      color: $color-puerto-rico
      padding-top: 5px
      padding-bottom: 10px
    &-body
      margin-bottom: 10px
  &__item
    padding: 10px 30px 10px 10px
    margin-bottom: 10px
    font-size: 14px
    line-height: 14px
    font-weight: 400
    background: white
    position: relative
    &:last-child
      margin-bottom: 0px
    &-close
      display: inline-block
      position: absolute
      top: 10px
      right: 10px
.box-shadow
  -webkit-box-shadow: 0.7px 0.7px 14.6px 0.5px rgba(156, 156, 156, 0.8) !important
  box-shadow: 0.7px 0.7px 14.6px 0.5px rgba(156, 156, 156, 0.8) !important
  @media (max-width: $sm - 10)
    box-shadow: none !important

.checklist__body .badge-line
  font-size: 14px