.checkbox
  +checkbox_radio('checkbox')
  &__label
    padding-left: 35px
    &__input
      &:checked + .checkbox__label__icon
        +sprite($check-simple-on)
    &__icon
      +sprite($check-simple-off)
  &-simple
    &__label
      padding-left: 15px
      position: relative
      display: inline-block
    &__input
      display: none
      &:checked + .checkbox-simple__icon
        +sprite($imarkread-on)
    &__icon
      +sprite($imarkread)
      display: inline-block
      position: absolute
      left: 0px
      top: 1px
      margin: auto
  &-simple-checklist
    &__label
      padding-left: 20px
      position: relative
      display: inline-block
    &__input
      display: none
      &:checked + .checkbox-simple-checklist__icon
        +sprite($imarkread-green-on)
    &__icon
      +sprite($imarkread)
      display: inline-block
      position: absolute
      left: 0px
      top: 1px
      margin: auto
