.dashboard
  &__admin-search
    @media (max-width: $xs)
      flex-direction: column
      align-items: baseline
    display: flex
    margin: 40px 0
    align-items: flex-end
    .search-field
      margin-right: 40px
      @media (max-width: $xs + 80px)
        margin-bottom: 40px
    input, select
      max-width: 200px
      min-width: 200px
      margin: 0 1%
      background: 0 0
      border-left: 0
      border-right: 0
      border-top: 0
      border-radius: 0
      border-bottom: 1px solid rgba(45, 45, 45, 1)
      outline: 0
      padding: 0
      vertical-align: bottom
      text-align: inherit
      transition: ease .5s
      &[placeholder]
        color: #2d2d2d
      &[-webkit-input-placeholder]
        color: #2d2d2d
      &:-ms-input-placeholder
        color: #2d2d2d
      &::-ms-input-placeholder
        color: #2d2d2d
      &:focus
        box-shadow: none
        border-left: 0
        border-right: 0
        border-top: 0
        border-bottom: 2px solid rgba(0, 0, 0, 1)
        border-radius: 0
        transition: ease .5s
    select
      background: whitesmoke
  &__header
    height: 58px
    @media (max-width: $sm - 10)
      height: auto
    &-profile
      width: 50%
      float: left
      @media (max-width: $sm - 10)
        width: 100%
      &-name
        background: $color-secondary
        color: white
        padding: 13px 48px
        padding-left: 30px
        font-size: 32px
        font-weight: 400
        line-height: 33px
        display: inline-block
        @media (max-width: $sm)
          padding-left: 7px
          padding-right: 7px
        @media (max-width: $sm - 10)
          width: 100%
          padding: 13px
          text-align: center
    &-op
      width: 50%
      float: left
      text-align: right
      vertical-align: top
      padding-top: 7px
      white-space: nowrap
      padding-right: 30px
      a,
      .dropdown,
      .dashboard__name-trip
        vertical-align: top
      .dropdown
        position: relative
        display: inline-block
        a.btn--transparent-v2
          i
            +sprite($dash-icn-left)
            margin-left: 8px
        .dropdown-list
          z-index: 9
          padding-left: 0px
          margin-left: 0px
          list-style: none
          margin-top: 10px
          background: #fff
          min-width: 234px
          -moz-border-radius: 5px
          -webkit-border-radius: 5px
          border-radius: 5px
          -moz-box-shadow: 0.5px 0.9px 3.9px 0.1px rgba(156, 156, 156, 0.53)
          -webkit-box-shadow: 0.5px 0.9px 3.9px 0.1px rgba(156, 156, 156, 0.53)
          box-shadow: 0.5px 0.9px 3.9px 0.1px rgba(156, 156, 156, 0.53)
          font-size: 14px
          text-align: left
          position: absolute
          right: 0
          @media (max-width: $sm - 10)
            left: 0
            position: fixed
            z-index: 9999
            top: 0
            margin-top: 0px
            padding: 20px
            text-align: center
            overflow: auto
            height: 100vh
            box-shadow: 0.7px 0.7px 4.9px 0.2px rgba(156, 156, 156, 0.53)
            background: #f9f9f9
            border: 1px solid #d8dae0
          li
            position: relative
            z-index: 2
            overflow: hidden
            &:nth-child(2)
              border-radius: 5px 5px 0 0
            &:last-child
              border-radius: 0 0 5px 5px
          li.first
            position: absolute
            top: -14px
            background: transparent !important
            width: 100%
            z-index: 1
            a
              background: transparent !important
            &:before
              position: absolute
              content: ""
              background: #FFF
              width: 14px
              height: 14px
              -webkit-border-radius: 3px 0 0 0
              -moz-border-radius: 3px 0 0 0
              border-radius: 3px 0 0 0
              transform: rotate(45deg)
              border-top: 1px solid rgb(236, 236, 236)
              border-left: 1px solid rgb(236, 236, 236)
              top: 7px
              right: 11px
              @media (max-width: $sm - 10)
                left: 0px
                right: 40px
                margin: 0 auto
              @media (max-width: $xs - 10)
                left: 56px
                right: 40px
                margin: 0 auto
          a
            text-decoration: none
            color: #414042
            line-height: 30px
            font-weight: 300
            padding: 10px
            display: block
            &:hover,
            &:active,
            &.active
              background-color: #5cc9d3
              color: #fff
        &:hover,
        &:active,
        &.active
          a.btn--transparent-v2
            color: $color-viking
            i
              +sprite($icn-up)
              margin-left: 2px
          .dropdown-list
            display: block

      @media (max-width: $sm - 10)
        width: 100%
        background: white
        text-align: left
        padding-left: 21px
        white-space: normal
  &__name-trip
    display: inline-block
    color: $color-primary
    padding: 10px
    font-size: 18px
    font-weight: 400
    @media (max-width: $sm)
      overflow: hidden
      text-overflow: ellipsis
      white-space: nowrap
    @media (max-width: $sm - 10)
      font-size: 32px
      width: 100%
      overflow: initial
      white-space: normal
  &__body
    background: url(../../mpservices/images/dashboard_background.png) no-repeat top
    min-height: 500px
    background-size: contain
    color: #37495a
    font-weight: 500
    font-size: 16px
    @media (max-width: $sm)
      min-height: 420px
    @media (max-width: 600px)
      background-image: url(../../mpservices/images/dashboard_background_sm.png)
  &__footer
    background: url(../../mpservices/images/img-clouds.png) top #f4f8fc
    background-size: cover
    min-height: 222px
    text-align: center
    padding: 30px 10px
    margin-top: 15px
    @media (max-width: $sm - 10)
      background-image: url(../../mpservices/images/img-clouds-sm.png)
    &-image
      display: inline-block
      padding: 0px 14px
      vertical-align: top
      width: 250px
      @media (max-width: $sm - 10)
        margin-bottom: 15px
      img
        width: 100%
        height: auto
    &.schedule
      background: #959595
      min-height: auto
      .dashboard__footer-description
        display: flex
        align-items: center
        justify-content: flex-end
        @media (min-width: $sm - 10)
          padding-right: 5%
        @media (max-width: $sm - 10)
          flex-direction: column
        a
          margin: 0
      .dashboard__footer-subtitle
        color: #fff
        margin-right: 30px
        @media (max-width: $sm - 10)
          margin: 0 0 20px 0
    &-description
      display: inline-block
      padding: 0px 14px
      vertical-align: top
      text-align: left
      a
        margin: 30px 0 0
        vertical-align: top
        @media (max-width: $sm - 10)
          max-width: 100%
      a .inav-book-it
        vertical-align: text-top
      @media (max-width: $sm - 10)
        text-align: center
        a
          margin: 30px 0
    &-subtitle
      color: #37495a
      font-size: 24px
      font-weight: 400
      line-height: 24px
      padding: 10px 0px
      @media (max-width: $sm - 10)
        padding-bottom: 0px
    &-title
      color: #f96f57
      font-size: 41px
      font-weight: 700
      line-height: 40px
      padding: 14px 0px
      width: 525px
      overflow-wrap: break-word
      @media (max-width: $sm - 10)
        font-size: 34px
        width: auto
  &__preview
    min-height: 222px
    text-align: center
    padding: 30px 10px
    @media (max-width: $sm - 10)
      padding: 90px 10px 0
    &-image
      display: inline-block
      padding: 0px 14px
      vertical-align: top
      @media (max-width: $sm - 10)
        margin-bottom: 15px
    &-description
      display: inline-block
      padding: 30px 14px 0
      vertical-align: top
      text-align: left
      @media (max-width: $sm - 10)
        padding: 0 14px
    &-title
      color: $color-puerto-rico
      font-size: 33px
      font-weight: 700
      line-height: 40px
      padding: 14px 0px
      overflow-wrap: break-word
      span
        font-style: italic
        font-weight: 400
      @media (max-width: $sm - 10)
        font-size: 34px
        width: auto
    &-buttons
      text-align: center
      a
        margin: 20px
  &__title
    color: white
    margin: 50px 12.5% 95px
    font-size: 41px
    font-weight: 700
    display: inline-block
    line-height: 45px
    @media (max-width: 900px)
      margin: 50px 2.5% 95px
    @media (max-width: $sm - 10)
      font-size: 28px
      line-height: 28px
      width: 100%
      margin-top: 37px
      margin-left: 0px
      margin-right: 0px
      padding: 0px 7px 0px 21px
      .small
        font-size: 14px
    .small
      font-size: 16px
      color: white
      text-align: center
      font-style: italic
      font-weight: 100
      line-height: 15px
  &__plans
    background: white
    +border-radius(4px)
    margin: 0px 10.5%
    padding: 30px
    min-height: 200px
    @media (max-width: 900px)
      margin: 0px 2.5%
    &-head
      font-size: 18px
      font-weight: 700
      padding: 4px 0px 15px
      width: 100%
      color: #37495a
      margin: 0 1%
    &-body
      overflow: hidden
    &-wrapper
      display: flex
      flex-wrap: wrap

.body-no-scroll
  @media (max-width: $sm - 10)
    //overflow: hidden
