.datetime
  $base: &
  position: relative
  &__picker
    display: none
    position: absolute
    z-index: 9
    padding: 0px 8px
    border: 1px solid #ccc
    background: white
    border-radius: 5px
    &.active
      display: block
    .btn-link
      padding-bottom: 0px !important
      padding-top: 0px !important
    .btn-default
      background: $color-primary !important
    input[type="text"]
      padding-left: 5px !important
      padding-right: 5px !important
.am-pm
  button
    color: white !important
    min-width: 65px
