div [date-picker] .now
  color: #ffffff
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)
  background-color: $cinnabar
  background-image: linear-gradient(to bottom, $cinnabar, $cinnabar)
  background-repeat: repeat-x
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25)

div [date-picker] .active.active
  color: #ffffff
  background-color: $eastern-blue

div [date-picker] .active
  background-image: linear-gradient(to bottom, $eastern-blue, $eastern-blue)
  background-repeat: repeat-x
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25)
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)

.daterangepicker
  display: none
  border: 1px solid #ccc
  box-shadow: 4.8px 5.1px 7px rgba(127, 127, 127, 0.31)
.daterangepicker .input-mini.active
  border: 1px solid $color-viking !important
.daterangepicker
  font-size: 14px !important
.daterangepicker td.active,
.daterangepicker td.active:hover
  background: $color-viking !important
.daterangepicker td.in-range
  background: #e7f7f7 !important
.fa-calendar
  +sprite($icalendar)
  display: inline-block
.uib-datepicker-popup.dropdown-menu
  position: absolute
  top: 100%
  left: 0
  z-index: 1000
  float: left
  min-width: 160px
  padding: 5px 0
  margin: 2px 0 0
  font-size: 14px
  text-align: left
  list-style: none
  background-color: #fff
  -webkit-background-clip: padding-box
  background-clip: padding-box
  border: 1px solid #ccc
  border: 1px solid rgba(0, 0, 0, .15)
  border-radius: 4px
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175)
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175)
.uib-datepicker
  button
    padding: 4px 8px
    border: 0
  thead
    button
      &:hover
        background: $color-tertiary
  tbody
    button
      &.active
        background: $color-primary
        color: white
      &:hover
        background: $color-primary
        color: white
.uib-day
  button
    padding: 4px 8px
    border: 0
.uib-month
  button
    padding: 4px 8px
    border: 0
.uib-year
  button
    padding: 4px 8px
    border: 0
