.container--error

  .error

    &__404,
    &__500
      margin: 0 auto
      padding: 1rem

      .text-error
        display: block

        &--wrapper
          text-align: center
          margin: 4rem auto 2rem

        &__404-number,
        &__500-number
          font-weight: $font-weight--bold
          color: $burnt-sienna
          font-size: 6rem
          margin: 1rem
          @media (min-width: $xs)
            font-size: 10rem
          @media (min-width: $sm)
            font-size: 17rem
            margin: 2rem

        &__404-image,
        &__500-image
          width: 5rem
          @media (min-width: $xs)
            width: 7rem
          @media (min-width: $sm)
            width: auto

        &__404-heading,
        &__500-heading
          font-weight: $font-weight--light
          text-align: center
          color: $grey
          font-size: 2.6rem
          margin: 4rem 0
          @media (min-width: $xs)
            font-size: 4.6rem

        &__404-description,
        &__500-description
          font-weight: $font-weight--medium
          font-size: 1.2rem
          text-align: center
          line-height: 2.5rem
          @media (min-width: $xs)
            font-size: 2rem
          a
            color: $burnt-sienna