.flag
  position: absolute
  top: 0px
  left: 0px
  right: 0px
  width: 100%
  padding: 5px
  &__new
    position: absolute
    left: -8px
    top: -6px
  &__indicator
    float: right
    margin-left: 5px
