.footer
  text-align: center
  width: 100%
  background: #2a3848
  color: white
  padding: 20px 15px 30px
  font-size: 16px
  font-weight: 400
  &__social-networks
    margin-bottom: 25px
    ul
      margin: 0px
      padding: 0px
      list-style: none
      li
        display: inline-block
        padding: 0px 5px
        vertical-align: middle
        &.line
          @media (max-width: $sm)
            width: 100%
            margin-bottom: 15px
        a
          text-decoration: none
          vertical-align: middle
    .social-title
      font-size: 18px
      padding: 10px 0px
      font-weight: 100
      color: #a8a7a7
      margin: 1rem 0
  &__copyright
    font-size: 12px
    line-height: 27px
    color: #a8a7a7
    .line
      display: inline-block
      @media (max-width: $sm)
        width: 100%
  &__description
    font-size: 12px
    line-height: 27px
    color: #a8a7a7
