
.form-group
	$block: &
	margin-bottom: em(24px)
	.content-input
		max-width: em(300px)
	&:last-child
		margin-bottom: 0px
	&__label
		color: black
		font-size: em(18px)
		margin-bottom: em(16px)
		font-weight: $font-weight--light
		max-width: 100%
		display: block
	&__help
		font-weight: $font-weight--light
		font-size: em(14px)
		line-height: em(14px)
		margin-top: em(10px)
		color: black
		display: inline-block
		&--italic
			font-style: italic
			text-decoration: underline
	&__control
		max-width: em(300px)
		&--error
			border: 1px solid $color-secondary !important
			&:focus
				box-shadow: 0 0 5px $color-secondary !important
	&--has-feedback
		position: relative
		display: inline-block
		.form-group__feed
			position: absolute
			right: 0px
			top: 0px
			height: em(45px)
			width: em(36px)
			display: block
			i
				position: absolute
				top: 0px
				right: 0px
				left: 0px
				margin: auto
				bottom: 0px
		.form-group__control
			padding-right: em(36px)
	&--inline
		margin-bottom: 0px !important
		#{$block}__label
			display: inline !important
		#{$block}__control
			&--calendar
				width: 156px !important
	&--only
		margin-bottom: em(16px) !important
		&-item
			display: inline-block
			&-description
				color: #000
				padding-left: 10px
				display: inline-block
				vertical-align: middle
			i
				vertical-align: middle
