.headline
	text-align: center
	color: #333
	&__main
		margin-top: 0px
		margin-bottom: 8px
		font-weight: $font-weight--medium
	&__sub-main
		margin-bottom: 15px
		margin-top: 0px
		padding: 0 18px
		font-weight: $font-weight--medium
		line-height: 1.3
	&--primary
		color: $color-primary
