.content-input
  height: 45px
  position: relative
  .arrow-up,
  .arrow-down
    border: 1px solid transparent
    outline: 1px solid transparent
    background-color: transparent
    cursor: pointer
    position: absolute
    right: 4px
    img
      color: red
  .arrow-up
    top: 0px
  .arrow-down
    bottom: 6px

input[type="number"]
  -moz-appearance: textfield !important

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button
  -webkit-appearance: none
  width: 1em
  border-left: 1px solid $color-tertiary
  opacity: .5
  top: 0
  bottom: 0

input[type="number"]::-ms-clear
  display: none

input[type="number"]::-webkit-inner-spin-button:hover,
input[type="number"]::-webkit-inner-spin-button:active
  box-shadow: 0 0 2px
  opacity: .8

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active
  transition: background-color 5000s ease-in-out 0s
  -webkit-box-shadow: 0 0 0px 1000px #fff inset
  color: transparent !important

select
  +appearance(none)
  background-image: url(../../mpservices/images/assets/select-arrow.png)
  background-position: 96%
  background-position: -webkit-calc(100% - 5px) center
  background-position: right 5px center
  background-repeat: no-repeat
  padding-right: em(25px)
