.link
  font-weight: bold
  text-decoration: none
  color: black
  &:hover,
  &:active
    text-decoration: underline
  &--default
    color: #37495a
  &--transparent
    text-decoration: none
    color: inherit
    &:hover
      text-decoration: underline
