.modal
  $modal: &
  font-size: 16px
  &__head
    font-size: 16px
    font-weight: 400
    color: #404041
    margin-bottom: 5px
  &__learn-more
    h3
      color: #E94E3E
    .marked
      text-decoration: underline
      font-weight: 600
      cursor: pointer
    a
      color: #444
  &__body
    padding: 0px
    margin-bottom: 15px
  &__move
    margin-top: 10px
    text-decoration: underline
    cursor: pointer
  &__footer
    text-align: right
    overflow: hidden
    .btn
      margin-left: 10px
    .btn--sm
      font-size: 12px
    .btn--default
      color: #656565
    &-wrapper
      display: flex
      justify-content: center
  &--checklist,
  &--popover
    @media (max-width: $sm - 10)
      padding-bottom: 0px !important
      padding-top: 0px !important
    .ngdialog-content
      padding: 0px !important
      @media (max-width: $sm - 10)
        position: absolute !important
        top: 0
        left: 0
        right: 0
        bottom: 0
    .modal
      background: #f9f9f9 !important
      -webkit-border-radius: 10px
      -moz-border-radius: 10px
      border-radius: 10px
      @media (max-width: $sm - 10)
        position: absolute !important
        left: 0
        top: 0
        right: 0
        bottom: 0
.ngdialog-content
  background-color: white !important
  padding: 10px 20px !important
// only for confirm-modal
.delete
  margin-top: 15px
  margin-bottom: 20px
  .first
    font-size: 18px
    font-weight: 700
  .last
    font-size: 16px

.center-btn
  text-align: center !important

.ngdialog.ngdialog-theme-default
  padding-bottom: 10px !important
  padding-top: 80px !important
  &.modal--popover
    margin-top: 250px
    @media (max-width: $grid-container-max-width)
      margin-top: 150px
    @media (max-width: $sm - 10)
      margin-top: 0
    .ngdialog-close:before
      color: $white
  .ngdialog-content
    width: 515px

.ngdialog-show-guide
  width: 90%
  //height: 90%
  margin: 0 auto
  @media (max-width: $sm - 10)
    .guide-desktop
      display: none
  @media (min-width: $sm - 10)
    .guide-mobile
      display: none
  .close-guide-btn
    position: absolute
    top: 40px
    right: 75px
    a
      font-size: 22px
      padding: 10px
