.mousage-view
  height: 22px
  position: absolute
  left: 0px
  right: 0px
  top: 0px
  bottom: 0px
  margin: auto
  text-align: center
  cursor: pointer
  a
    text-decoration: none
    color: white
  &__alert
    text-decoration: none
    position: relative
    display: inline-block
    @media (max-width: 1000px)
      span
        display: none
      i
        margin-left: 0px
  &__number
    height: 21px
    width: 21px
    color: $color-secondary
    font-size: 14px
    background: white
    border-radius: 20px
    padding: 3px
    position: absolute
    top: -15px
    right: -16px
