.scheduler__mousage-view
  display: block
  &.active,
  &:focus
    .mousage
      display: block
.mousage
  $mousage: &
  @media (max-width: 1000px)
    position: fixed
    top: 0
    left: 0
    bottom: 0
    right: 0
    min-width: inherit
  &--visible
    display: block !important
    position: static
    max-width: 100%
    min-width: 320px
    box-shadow: none
    max-height: 1020px
    overflow-y: auto
    border-top: 4px solid $color-viking
    border-top-left-radius: 0px
    border-top-right-radius: 0px
    &:before
      display: none
    #{ $mousage }__body
      max-height: 1020px
    #{ $mousage }__header
      border-bottom: 1px solid #ebebeb
      color: #39516c
      font-size: 14px
      background: transparent
      font-weight: 700
  &:before
    position: absolute
    content: ""
    background: $color-viking
    width: 16px
    height: 16px
    border-radius: 3px 0 0 0
    -webkit-transform: rotate(45deg)
    -moz-transform: rotate(45deg)
    -ms-transform: rotate(45deg)
    -o-transform: rotate(45deg)
    transform: rotate(45deg)
    box-shadow: -2px -2px 2px rgba(0,0,0,0.08)
    top: -6px
    right: 50px
    @media (max-width: 1000px)
      display: none
  position: absolute
  top: 30px
  right: -136px
  border-radius: 5px
  min-width: 390px
  box-shadow: -3.2px 5.1px 7px rgba(127, 127, 127, 0.31)
  z-index: 91
  background: #f9f9f9
  &__actions
    padding: 0px 15px
    overflow: hidden
    a
      display: inline-block
      margin-left: 3px
      margin-right: 3px
  &__nav
    padding: 16px 10px
    height: 50px
    display: none
    a
      text-decoration: none
      color: #414042
      font-size: 16px
      font-weight: 300
      display: inline-block
    @media (max-width: 1000px)
      display: block
  &__header
    background: $color-viking
    color: white
    font-size: 18px
    font-weight: 400
    padding: 10px 15px
    font-size: 14px
    border-top-right-radius: 5px
    border-top-left-radius: 5px
    text-transform: uppercase
    @media (max-width: 1000px)
      border-top-right-radius: 0px
      border-top-left-radius: 0px
    &-note
      float: right
      font-size: 14px
      font-weight: 700
      line-height: 18px
  &__body
    background: transparent
    padding: 15px
    color: #414042
    font-size: 16px
    font-weight: 300
    border-radius: 5px
    overflow: auto
    max-height: 500px
    text-transform: capitalize
    @media (max-width: $sm - 10)
      max-height: 100%
      padding-bottom: 100px
  &__item
    $item: &
    border-bottom: 1px solid #ebebeb
    margin-bottom: 15px
    &:last-child
      margin-bottom: 0px
    &__head
      font-size: 18px
      font-weight: 300
      color: black
      padding-top: 15px
      padding-bottom: 10px
      &-name
        display: inline-block
        position: relative
      &-number
        position: absolute
        width: 18px
        height: 18px
        border-radius: 9px
        color: white
        background: $color-cinnabar
        right: -20px
        top: -9px
        font-size: 11px
        padding: 3px
        text-align: center
      a
        text-decoration: none
        float: right
        i
          +sprite($imore-off)
          display: inline-block
        &:hover
          i
            +sprite($imore-on)
    &__body
      padding: 10px 0px 10px
      border-bottom: 1px solid #ebebeb
    &__body-sm
      padding: 10px 8px 10px
      font-size: 14px
      display: none
      background: white
      margin-bottom: 5px
      &:last-child
        margin-bottom: 0px
    &__footer
      overflow: hidden
      padding-top: 15px
      padding-bottom: 15px
      font-size: 11px
      &-right
        float: right
      &-left
        float: left
        margin-right: 10px
      a
        display: inline-block
        margin-right: 4px
        margin-left: 4px
    &--right
      float: right
    &--active
      border-bottom: 0px solid transparent
      #{ $item }__body-sm
        display: block
      #{ $item }__head
        color: $color-viking
        font-weight: 400
        a
          text-decoration: none
          i
            +sprite($iless-off)
            display: inline-block
.btn-mousage
  font-size: 11px
  text-transform: uppercase
  text-decoration: none
  margin-right: 15px
  color: #414042
