.nav-step
	list-style: none
	padding: 0px
	text-align: center
	padding: 0px 0px 0px 10px
	&__item
		display: inline-block
		list-style: none
		margin-left: -5px
		position: relative
		margin-bottom: 30px
		a
			color: darken($color-tertiary, 20%)
			padding: 10px
			font-size: 10px
			font-weight: $font-weight--bold
			background: $color-tertiary
			text-decoration: none
			display: inline-block
			position: relative
			+border-radius(10px)
			padding-left: 33px
			padding-right: 33px
			.page
				width: 40px
				height: 40px
				+border-radius(20px)
				border: 2px solid white
				background: $color-tertiary
				color: darken($color-tertiary, 20%)
				display: inline-block
				position: absolute
				top: 0px
				bottom: 0px
				left: -18px
				margin: auto
				&__number
					width: 30px
					height: 30px
					+border-radius(15px)
					color: darken($color-tertiary, 20%)
					display: inline-block
					position: absolute
					top: 0px
					bottom: 0px
					left: 0px
					right: 0px
					margin: auto
					font-size: 16px
					text-align: center
					font-weight: $font-weight--bold
					line-height: 30px
					i
						display: inline-block
		&--completed
			a
				color: white
				background: $color-primary
				.page
					background: $color-primary
					.page__number
						background: $color-primary
						color: white
		&__text
			position: absolute
			text-align: center
			bottom: -20px
			left: 0px
			right: 0px
			margin: auto
			display: none
			font-size: 10px
			color: white
			font-weight: $font-weight--bold
		&--last
			a
				color: lighten($black, 10%)
				background: lighten($color-warning, 10%)
				.page
					background: lighten($color-warning, 10%)
					.page__number
						background: lighten($color-warning, 10%)
						color: lighten($black, 10%)
		&--current
			a
				color: white
				background: $color-secondary
				.page
					background: $color-secondary
					.page__number
						background: white
						color: $color-secondary
			&.nav-step__item--last
				a
					.page
						.page__number
							background: $color-secondary
			.nav-step__item__text
				display: inline-block
				color: $color-secondary
