.notification
  $block: &
  padding: 13px 40px
  font-size: em(14px)
  display: table
  color: black
  font-weight: $font-weight--medium
  position: fixed
  z-index: 9999
  left: 0px
  right: 0px
  top: 20px
  margin: auto
  width: 290px
  text-align: center
  border-radius: 5px
  &__bg
    background-color: white
    border-radius: 5px
    opacity: 1
    top: 0px
    bottom: 0px
    left: 0px
    right: 0px
    position: absolute
    z-index: 1
  &__icon-left
    position: absolute
    left: 15px
    top: 0px
    bottom: 0px
    margin: auto
    width: 30px
    height: 30px
    +border-radius(15px)
    z-index: 2
    i
      position: absolute
      top: 0px
      bottom: 0px
      left: 0px
      right: 0px
      margin: auto
  &__icon-right
    position: absolute
    right: 15px
    top: 0px
    bottom: 0px
    margin: auto
    width: 30px
    height: 30px
    +border-radius(15px)
    z-index: 2
    i
      position: absolute
      top: 0px
      bottom: 0px
      left: 0px
      right: 0px
      margin: auto
  &__info
    display: table-cell
    vertical-align: middle
    position: relative
    z-index: 2
  &--warning
    #{$block}__bg
      background-color: $saffron
      +box-shadow(0, 2px, 8px, rgba(0, 0, 0, 0.27))
  &--error
    #{$block}__bg
      background-color: $cinnabar
      +box-shadow(0, 2px, 8px, rgba(0, 0, 0, 0.27))
    #{$block}__info
      color: $white
  &--success
    #{$block}__bg
      background-color: $color-puerto-rico
      +box-shadow(0, 2px, 8px, rgba(0, 0, 0, 0.27))
    #{$block}__info
      color: $white
