.note
  position: absolute
  left: -22px
  border-radius: 5px
  min-width: 390px
  max-width: 400px
  box-shadow: 4.8px 5.1px 7px rgba(127, 127, 127, 0.31)
  background: #f9f9f9
  text-align: left
  top: 8px
  z-index: 100
  @media (max-width: $sm - 10)
    min-width: 100%
    height: 50vh
    margin-top: -25vh
  &.active
    display: block
  &:before
    position: absolute
    content: ""
    background: #5cc9d3
    width: 16px
    height: 16px
    border-radius: 3px 0 0 0
    -webkit-transform: rotate(45deg)
    -moz-transform: rotate(45deg)
    -ms-transform: rotate(45deg)
    -o-transform: rotate(45deg)
    transform: rotate(45deg)
    box-shadow: -2px -2px 2px rgba(0,0,0,0.08)
    top: -6px
    left: 20px
    @media (max-width: $xs)
      content: none
  &__actions
    padding: 0px
    overflow: hidden
    a
      display: inline-block
      margin-left: 3px
      margin-right: 3px
  &__header
    background: #5cc9d3
    color: white
    font-size: 14px
    font-weight: 400
    padding: 10px 15px
    border-top-right-radius: 5px
    border-top-left-radius: 5px
    text-transform: uppercase
    &-note
      float: right
      font-size: 14px
      font-weight: 700
      line-height: 18px
  &__body
    background: #f9f9f9
    padding: 15px
    color: #414042
    font-size: 16px
    font-weight: 300
    border-radius: 5px
    overflow: auto
    max-height: 300px
  &__item
    $item: &
    margin-bottom: 15px
    &:last-child
      margin-bottom: 0px
    &__head
      font-size: 18px
      font-weight: 300
      color: black
      padding-top: 15px
      padding-bottom: 20px
      color: $color-primary
      &-name
        display: inline-block
        position: relative
        max-width: 290px
      &-number
        position: absolute
        width: 18px
        height: 18px
        border-radius: 9px
        color: white
        background: $color-primary
        right: -20px
        top: -9px
        font-size: 11px
        padding: 3px
        text-align: center
      a
        text-decoration: none
        float: right
        i
          +sprite($imore-off)
          display: inline-block
        &:hover
          i
            +sprite($imore-on)
    &__body
      padding: 10px 0px 10px
      border-bottom: 1px solid #ebebeb
    &__body-sm
      padding: 10px 8px 10px
      font-size: 14px
      background: white
      margin-bottom: 5px
      line-height: 14px
      &:last-child
        margin-bottom: 0px
    &__footer
      overflow: hidden
      padding-top: 15px
      padding-bottom: 15px
      font-size: 11px
      &-right
        float: right
      &-left
        float: left
        margin-right: 10px
      a
        display: inline-block
        margin-right: 4px
        margin-left: 4px
    &--right
      float: right
    &--active
      border-bottom: 0px solid transparent
      #{ $item }__body-sm
        display: block
      #{ $item }__head
        color: #5cc9d3
        font-weight: 400
        a
          text-decoration: none
          i
            +sprite($iless-off)
            display: inline-block
