.object-box
  $base: &
  display: inline-block
  width: 158px
  color: black
  border: 0px solid transparent
  border-left: 10px solid transparent
  border-radius: 3px
  box-shadow: 0.8px 0.6px 4.9px 0.2px rgba(156, 156, 156, 0.53)
  margin-right: 10px
  font-size: 16px
  font-weight: 400
  padding: 15px 20px
  background: white
  text-decoration: none
  -webkit-transition: -webkit-transform 0.1s ease-out
  #{ $base }__options
    position: absolute
    top: -2px
  &.short 
    #{ $base }__options
      position: absolute
      top: -7px
  &.extra-short 
    #{ $base }__options
      position: absolute
      top: -9px
    #{ $base }__time
      display: none
  &.narrow
    #{ $base }__time, 
    #{ $base }__name
      position: relative
      top: 15px
      padding-left: 1px       
  &:hover
    &>.block-menu
      .object-box__options-item
        background: transparent
        display: inline-block
  &.object-box--show-min
    overflow: hidden
    padding: 1px
    .object-box__time
      display: inline-block
    .object-box__name
      display: inline
    &:hover,
    &:active,
    &:focus
      height: 60px !important
      z-index: 1 !important
      overflow: inherit
      padding: 5px
      .object-box__time
        display: block
      .object-box__name
        display: inline-block
  .object-box
    font-size: 14px
    font-weight: 400
  &__logo
    background: transparent
    border: 0px
    box-shadow: none !important
    &-img
      position: relative
      background: white
      border-radius: 5px
      img
        position: absolute
        top: 0px
        bottom: 0px
        left: 0px
        right: 0px
        margin: auto
      #{ $base }__number
        position: absolute
        color: white
        right: -10px
        top: -10px
  &__add-block
    position: absolute
    width: 100%
    height: 40px
    text-align: center
    top: 0
    bottom: 0
    left: 0
    margin: auto
  &__number
    background-color: #e75844
    border: 2px solid white
    padding: 2px
    font-size: 14px
    font-weight: 400
    border-radius: 10px
    width: 21px
    height: 21px
    text-align: center
    cursor: pointer
    line-height: 14px
  &__options
    height: 20px
    width: 100%
    left: 0px
    top: 3px
    padding: 0px
    text-align: right
    &:hover
      z-index: 4
    &-item
      text-decoration: none
      display: inline-block
      vertical-align: middle
      margin-left: 1px
      position: relative
      padding: 0px 1px 0px
      border-radius: 4px
      -webkit-transition: opacity .3s ease,visibility .3s ease,-webkit-transform .3s cubic-bezier(.71,1.7,.77,1.24)
      -moz-transition: opacity .3s ease,visibility .3s ease,-moz-transform .3s cubic-bezier(.71,1.7,.77,1.24)
      transition: opacity .3s ease,visibility .3s ease,transform .3s cubic-bezier(.71,1.7,.77,1.24)
      display: none
      .inote
        display: inline-block
        +sprite($inote-white)
      &.active
        background: transparent
        display: inline-block
    @media (max-width: $sm - 10)
      .popover
        position: fixed
        left: 22px !important
        top: 50vh !important
        width: 100%
        z-index: 9999
  &__reservation
    background: transparent
    border: 0px
    padding: 5px 10px
    color: white
    &-head
      font-size: 14px
      font-weight: 400
      margin-left: 10px
      margin-top: 10px
      margin-bottom: 5px
      position: relative
      color: white
      padding-right: 15px
      word-wrap: break-word
      a
        display: inline-block
        text-decoration: none
        position: absolute
        right: 0px
        top: 0px
        i
          +sprite($iadd-fastpass)
          display: inline-block
    &-body
      margin-left: 10px
      font-size: 12px
      font-weight: 400
      color: white
  &__time
    font-size: 12px
    margin-bottom: 1px
    color: black
  &__name-resort
    padding: 3px
    display: inline-block
  &__name
    overflow: hidden
    display: inline-block
    max-width: 100%
    &--min
      height: 15px
  &--default // parks
    border-left-color: transparent
    color: #38516c
    background-color: #fff
    #{ $base }__logo
      position: relative
      top: 10px
    #{ $base }__time
      display: none
    &.narrow
      #{ $base }__logo
        padding-left: 3px
  &--warning  // resorts
    background:  #d9f1f1
    color: #37495a
    #{ $base }__time
      display: none
    #{ $base }__name
      position: relative
      top: 15px
    &.short, .extra-short
      #{ $base }__name
        display: none
    &.narrow.med
      #{ $base }__name
        display: none
    &.short-med
      #{ $base }__name
        display: none
  &--primary
    border-left-color: #c2e8e8
    color: #37495a
    #{ $base }__time
      display: block
    &.extra-short
      #{ $base }__time, #{ $base }__name
        display: none
    &.short
      #{ $base }__time, #{ $base }__name
        display: none
    &.object-box.object-box
      #{ $base }__name
        top: 0px
    &.narrow.object-box.object-box
      #{ $base }__name
        top: 15px
      &.short
        #{ $base }__name
          display: none
      &.short-med
        #{ $base }__time
          display: none
  &--inverse // transit
    background: repeating-linear-gradient( 45deg, #e8e8e8, #f5f5f5 2px, #f5f5f5 10px, #f5f5f5 13px )
    color: #656565 !important
    &.narrow
      &.short
        #{ $base }__name
          display: none 
  &--custom
    border: 1px dashed #d8dae0
    color: #939598
    background: white
    #{ $base }__time
      display: block
    &.extra-short
      #{ $base }__time, #{ $base }__name
        display: none
    &.short
      #{ $base }__time, #{ $base }__name
        display: none
    &.object-box.object-box
      #{ $base }__name
        top: 0px
    &.narrow.object-box.object-box
      #{ $base }__name
        top: 15px
      &.short
        #{ $base }__time
          display: none
      &.short-med
        #{ $base }__name
          display: none
      &.med
        #{ $base }__time
          display: none
  &--fixed // transit
    border-left-color: $grey
    color: $grey
  &--empty
    border: 1px dashed #b2b2b2
    color: #b2b2b2
    cursor: pointer
    overflow: hidden
  &--dashed
    border: 1px dashed #b2b2b2
    color: #b2b2b2
    cursor: pointer
    overflow: hidden
    background: transparent
  &--blue
    background: #609dea
    border-radius: 3px
    border-width: 0px
    color: white
    #{ $base }__name--min-force
      border-left-color: #4f8cd9
      color: #4f8cd9
      #{ $base }__time
        color: #4f8cd9
    //.object-box__logo-no-img
    //  color: #609dea
    //  background: white
    &.object-box__logo-no-img
      background: white
  &--light-blue
    background: #56c1e7
    border-radius: 3px
    border-width: 0px
    color: white
    #{ $base }__name--min-force
      border-left-color: #4db4d8
      color: #56c1e7
      #{ $base }__time
        color: #56c1e7
    //.object-box__logo-no-img
    //  color: #56c1e7
    //  background: white
    &.object-box__logo-no-img
      background: white
  &--clear
    border-radius: 3px
    border-width: 0
    &.object-box__logo-no-img
      background: white
  &--pink
    background: #dc6187
    border-radius: 3px
    border-width: 0px
    color: white
    &__time
      color: #dc6187
    #{ $base }__name--min-force
      border-left-color: #c55779
      color: #dc6187
      #{ $base }__time
        color: #dc6187
    //.object-box__logo-no-img
    //  color: #dc6187
    //  background: white
      color: #dc6187
      background: white
  &--purple
    background: #ab92e9
    border-radius: 3px
    border-width: 0px
    color: white
    #{ $base }__name--min-force
      border-left-color: #9e86d8
      color: #ab92e9
      #{ $base }__time
        color: #ab92e9
  &--green
    background: $color-puerto-rico
    border-radius: 3px
    border-width: 0px
    color: white
    #{ $base }__name--min-force
      border-left-color: $color-puerto-rico
      color: $color-puerto-rico
      #{ $base }__time
        color: $color-puerto-rico
  &--yellow
    background: $color-goldenrod
    border-radius: 3px
    border-width: 0px
    color: white
    #{ $base }__name--min-force
      border-left-color: #f3c35f
      color: darken($color-goldenrod, 15%)
      #{ $base }__time
        color: darken($color-goldenrod, 15%)
  &--warning-force
    border-left-color: #c2e8e8
    color: #37495a
    #{ $base }__time
      color: #37495a
  &--transparent
    background: transparent !important
    color: transparent !important
    border: 0px
    box-shadow: none !important
    cursor: auto
    display: none
    #{ $base }__add-block
      display: none
  &--transit-new
    padding-left: 5px !important
    #{ $base }__time
      display: none
    &.short 
      #{ $base }__name
        display: block
    &.extra-short 
      #{ $base }__name
        display: none
  &--moving
    -webkit-transform: scale(0)
    -moz-transform: scale(0)
    -o-transform: scale(0)
    -ms-transform: scale(0)
  &--dragover
    border: 1px dashed black !important
    z-index: 2
  &.no-image
    #{ $base }__logo
      display: none
  &.no-fastpass
    .block-fastpass
      visibility: hidden
