dir-pagination-controls
  display: flex
  margin: 0 1%
.pagination
  display: flex
  padding: 0
  background: $white
  box-shadow: 0 9px 22px -15px black
  li
    display: flex
    &.active
      box-shadow: 0px 2px 6px $grey
      transition: ease .5s
      a
        color: $black
        font-weight: bold
    a
      color: $grey
      text-decoration: none
      padding: 10px
      &:active
        box-shadow: 5px 5px 25px -15px black inset
