.panel
  border-radius: 5px
  background: transparent
  margin-bottom: 10px
  &__heading
    font-size: 24px
    font-weight: $font-weight--medium
    color: black
    padding: 20px
    &__text
      font-family: 'Nunito'
      font-weight: 700
      font-size: 27px
      text-transform: capitalize
  &__body
    padding: 20px
    overflow-y: visible
  &--default
    background-color: $color-tertiary
  &--transparent
    color: white
  &--accordion
    .panel__heading
      position: relative
      cursor: pointer
      padding: 20px 65px 20px 60px
      &__check-status,
      &__icon
        display: block
        position: absolute
        top: 0px
        bottom: 0px
        left: 20px
        margin: auto
        width: 25px
        height: 25px
        i
          position: absolute
          left: 0px
          right: 0px
          top: 0px
          bottom: 0px
          margin: auto
      &__check-status
        +sprite($check-accordion-off)
      &__arrow
        +sprite($arrow-down-accordion)
        display: block
        position: absolute
        top: 30px
        bottom: 0px
        right: 30px
        // margin: auto
      &__btn-edit
        position: absolute
        display: inline-block
        top: 0px
        bottom: 0px
        margin: auto
        height: 42px
        right: 80px
        @media (max-width: $sm - 10px)
          position: initial
          margin-top: 10px
          height: auto
    .panel__collapse
      display: none
      height: 0
      +transition(0.35s)
    &--success
      .panel__heading
        .panel__heading__check-status
          +sprite($check-accordion-on)
    &--error
      .panel__heading
        .panel__heading__check-status
          +sprite($icn-error-quest)
    &--active
      .panel__heading
        .panel__heading__arrow
          +sprite($arrow-up-accordion)
      .panel__collapse
        display: block
        height: auto
