.park
  @media (max-width: 1000px)
    margin-top: 10px
  &__header
    padding: 25px 30px
    overflow: hidden
  &__title
    color: black
    font-size: 18px
    font-weight: 400
    float: left
  &__btn
    float: right
.parks
  display: inline-block
  width: 100%
  max-width: 1208px
  &__edge-date-alert
    max-width: 500px
    padding: 0 10px
    display: inline-block
    text-align: left
    @media (max-width: 1000px)
      max-width: 100%
      padding: 15px
      text-align: justify
  &__group
    display: inline-block
    position: relative
    &-title
      font-size: 16px
      font-weight: 300
      color: black
      margin-bottom: 14px
  &__group-divisor
    display: inline-block
    vertical-align: bottom
    margin-right: 20px
    margin-left: 20px
    @media (max-width: 1000px)
      height: 100px
      overflow: hidden
  &__nav
    @media (max-width: 1000px)
      overflow-x: auto
      white-space: nowrap
      background: #f9f9f9
      padding: 10px
  &__tabs
    width: 100%
    @extend %clearfix
  &__tab
    $tab: &
    vertical-align: top
    text-align: center
    max-width: 130px
    padding: 10px 18px
    display: inline-block
    text-decoration: none
    -moz-border-top-right-radius: 5px
    -webkit-border-top-right-radius: 5px
    border-top-right-radius: 5px
    -moz-border-top-left-radius: 5px
    -webkit-border-top-left-radius: 5px
    border-top-left-radius: 5px
    border: 1px solid transparent
    z-index: 3
    cursor: pointer
    @media (max-width: 1000px)
      padding: 0px
      -moz-border-radius: 5px
      -webkit-border-radius: 5px
      border-radius: 5px
      margin-right: 5px
    &-frame
      width: 100px
      height: 66px
      background: white
      border-radius: 5px
      position: relative
      display: inline-block
      margin-bottom: 10px
      border: 1px solid transparent
      @media (max-width: 1000px)
        margin-bottom: 0px
      i
        position: absolute
        top: 0px
        bottom: 0px
        left: 0px
        right: 0px
        margin: auto
      &-no-image
      white-space: normal
      & > i
        display: flex
        align-items: center
        justify-content: center
        font-size: 19px
        font-style: normal
        font-weight: 500
        text-transform: capitalize
    &-name
      font-size: 16px
      font-weight: 300
      height: 32px
      color: black
    .parks__content
      display: none
    &:hover,
    &:active,
    &--active
      background: #5d9cec
      border-color: #c6c6c6
      border-bottom-color: transparent
      #{$tab}-name
        font-weight: 400
        color: white
      &.tab-blue
        background: #5d9cec
        @media (max-width: 1000px)
          background: transparent
          border: solid 0px transparent
          -moz-box-shadow: 2.4px 1.8px 7px rgba(127, 127, 127, 0.3)
          -webkit-box-shadow: 2.4px 1.8px 7px rgba(127, 127, 127, 0.3)
          box-shadow: 2.4px 1.8px 7px rgba(127, 127, 127, 0.3)
      &.tab-pink
        background: #dc6187
        @media (max-width: 1000px)
          background: transparent
          border: solid 0px transparent
          -moz-box-shadow: 2.4px 1.8px 7px rgba(127, 127, 127, 0.3)
          -webkit-box-shadow: 2.4px 1.8px 7px rgba(127, 127, 127, 0.3)
          box-shadow: 2.4px 1.8px 7px rgba(127, 127, 127, 0.3)
      &.tab-purple
        background: #ab92e9
        @media (max-width: 1000px)
          background: transparent
          border: solid 0px transparent
          -moz-box-shadow: 2.4px 1.8px 7px rgba(127, 127, 127, 0.3)
          -webkit-box-shadow: 2.4px 1.8px 7px rgba(127, 127, 127, 0.3)
          box-shadow: 2.4px 1.8px 7px rgba(127, 127, 127, 0.3)
      &.tab-green
        background: $color-puerto-rico
        @media (max-width: 1000px)
          background: transparent
          border: solid 0px transparent
          -moz-box-shadow: 2.4px 1.8px 7px rgba(127, 127, 127, 0.3)
          -webkit-box-shadow: 2.4px 1.8px 7px rgba(127, 127, 127, 0.3)
          box-shadow: 2.4px 1.8px 7px rgba(127, 127, 127, 0.3)
      &.tab-blue-light,
      &.tab-light-blue
        background: #56c1e7
        @media (max-width: 1000px)
          background: transparent
          border: solid 0px transparent
          -moz-box-shadow: 2.4px 1.8px 7px rgba(127, 127, 127, 0.3)
          -webkit-box-shadow: 2.4px 1.8px 7px rgba(127, 127, 127, 0.3)
          box-shadow: 2.4px 1.8px 7px rgba(127, 127, 127, 0.3)
      &.tab-yellow
        background: $color-goldenrod
        @media (max-width: 1000px)
          background: transparent
          border: solid 0px transparent
          -moz-box-shadow: 2.4px 1.8px 7px rgba(127, 127, 127, 0.3)
          -webkit-box-shadow: 2.4px 1.8px 7px rgba(127, 127, 127, 0.3)
          box-shadow: 2.4px 1.8px 7px rgba(127, 127, 127, 0.3)
    &:hover
      .parks__content
        @media (min-width: 1000px)
          display: block
    &--active
      .parks__content
        color: black
        @media (max-width: 1000px)
          display: block
  &__content
    background: #f4f8fc
    padding: 15px 25px 17px
    margin-right: 5px
    border-bottom-left-radius: 5px
    border-bottom-right-radius: 5px
    z-index: 4
    color: #37495a
    overflow-y: auto
    -moz-box-shadow: 4.8px 5.1px 7px rgba(127, 127, 127, 0.31)
    -webkit-box-shadow: 4.8px 5.1px 7px rgba(127, 127, 127, 0.31)
    box-shadow: 4.8px 5.1px 7px rgba(127, 127, 127, 0.31)
    white-space: nowrap
    position: absolute
    top: 100%
    left: 0px
    z-index: 3
    & > .parks__edge-date-alert
      white-space: normal
    @media (max-width: 1000px)
      overflow: auto
      white-space: nowrap
      -moz-box-shadow: none
      -webkit-box-shadow: none
      box-shadow: none
      margin-right: 0px
    @media (max-width: 1000px)
      display: none
      padding: 0px
      white-space: normal
      position: fixed
      top: 0
      left: 0
      right: 0
      bottom: 0
    &.active
      @media (max-width: 1000px)
        display: block
        position: fixed
        top: 0px
        left: 0px
        right: 0px
        bottom: 0px
        width: 100%
        height: 100%
        z-index: 99
        -moz-border-radius: 0px
        -webkit-border-radius: 0px
        border-radius: 0px
    &-image
      display: inline-block
      vertical-align: top
      @media (max-width: 1000px)
        display: none
    &-schedule
      display: inline-block
      margin-left: 30px
      vertical-align: top
      @media (max-width: 1000px)
        display: block
        width: 100%
        margin-left: 0px
    &-header
      background: #5d9cec
      color: white
      font-size: 14px
      font-weight: 300
      height: 57px
      position: relative
      &-back
        text-decoration: none
        text-transform: uppercase
        color: white
        display: inline-block
        position: absolute
        left: 10px
        top: 16px
      &-img
        position: absolute
        right: 14px
        top: 7px
    &-content
      display: inline-block
      max-width: 100%
      @media (max-width: 1000px)
        max-width: 100%
        padding: 20px 30px
    &.tab-blue
      border-top: 10px solid #5d9cec
      @media (max-width: 1000px)
        background: #f9f9f9
        border-top: 0px
      .parks__content-header
        @media (max-width: 1000px)
          background: #5d9cec
    &.tab-pink
      border-top: 10px solid #dc6187
      @media (min-width: 1000px)
        transform: translateX(-50%)
        left: auto
        right: auto
        margin-right: 0
      @media (max-width: 1000px)
        background: #f9f9f9
        border-top: 0px
      .parks__content-header
        @media (max-width: 1000px)
          background: #dc6187
    &.tab-purple
      border-top: 10px solid #ab92e9
      @media (max-width: 1000px)
        background: #f9f9f9
        border-top: 0px
      .parks__content-header
        @media (max-width: 1000px)
          background: #ab92e9
    &.tab-green
      border-top: 10px solid $color-puerto-rico
      @media (max-width: 1000px)
        background: #f9f9f9
        border-top: 0px
      .parks__content-header
        @media (max-width: 1000px)
          background: $color-puerto-rico
    &.tab-blue-light,
    &.tab-light-blue
      border-top: 10px solid #56c1e7
      @media (min-width: 1000px)
        left: auto
        right: 0
        margin-right: 0
      @media (max-width: 1000px)
        background: #f9f9f9
        border-top: 0px
      .parks__content-header
        @media (max-width: 1000px)
          background: #56c1e7
    &.tab-yellow
      border-top: 10px solid $color-goldenrod
      @media (max-width: 1000px)
        background: #f9f9f9
        border-top: 0px
      .parks__content-header
        @media (max-width: 1000px)
          background: $color-goldenrod
  &__footer
    color: white
    text-align: center
    a
      text-decoration: none
      color: white
      display: inline-block
      width: 100%
      padding: 8px
      font-size: 14px
      font-weight: 300
  &__schedule-header
    display: table-header-group
    &-cell
      display: table-cell
      border-bottom: 1px solid #c1c1c1
      font-size: 16px
      font-weight: 400
      padding-bottom: 5px
      @media (max-width: 1000px)
        font-size: 20px
        font-weight: 700
        border-bottom: 0px
        color: #37495a
      &.desktop
        &:first-child
          padding-right: 30px
        @media (max-width: 1000px)
          display: none
      &.mobile
        display: none
        @media (max-width: 1000px)
          display: table-cell
    &.alt
      display: block
      .parks__schedule-header-cell
        display: block
        text-align: center
        padding-right: 0
  &__schedule
    display: table
    font-size: 14px
    font-weight: 300
    &-row
      display: table-row
      &:hover
        background: lighten($oslo-gray, 30%)
      @media (max-width: 1000px)
        display: block
        margin-bottom: 15px
        &:hover
          background: none
      &.alt
        @media (max-width: 1000px)
          .parks__schedule-cell
            display: inline-block
            vertical-align: middle
            &:first-child
              padding-right: 20px
    &-cell
      display: table-cell
      padding: 3px 10px 3px 0px
      @media (max-width: 1000px)
        display: block
        font-size: 16px
        font-weight: 300
        line-height: 21px
        color: #37495a
        padding-right: 0
      &-item
        display: table-cell
        padding-right: 10px
        @media (max-width: 1000px)
          display: block
          padding-right: 0
        & + &
          padding-left: 10px
          border-left: 1px solid
          @media (max-width: 1000px)
            padding-left: 0
            border-left: none
      &:first-child
        padding-right: 30px
        @media (max-width: 1000px)
          padding-right: 0

      & + &
        max-width: 680px
        overflow-x: scroll
        &::-webkit-scrollbar
          display: none
        @media(max-width: 1360px)
          max-width: 620px
        @media(max-width: 1260px)
          max-width: 435px
        @media(max-width: 1065px)
          max-width: 370px
        @media (max-width: 1000px)
          max-width: 100%
    &-footer
      font-size: 10px
      font-weight: 700
      padding-top: 10px
      span + span
        padding-left: 50px
      @media (max-width: 1000px)
        color: #37495a
        font-size: 14px
        font-weight: 700
        line-height: 30px
      &.mobile
        display: none
        @media (max-width: 1000px)
          display: block
          span
            display: block
            & + span
              padding-left: 0
        & + .parks__schedule-row
          .parks__schedule-cell
            border-top: 20px solid #f4f8fc
            @media (max-width: 1000px)
              border-top: none
      &.desktop
        display: table-cell
        @media (max-width: 1000px)
          display: none
    &-day,
    &-1,
    &-2
      display: inline-block
      position: relative
      .istart, .istart-pm
        position: absolute
        top: -2px
        right: -8px
      @media (max-width: 1000px)
        font-size: 18px
        font-weight: 400
        line-height: 30px
        color: #37495a
.park
  &__only-frame
    width: 100px
    height: 110px
    background: white
    position: relative
    display: flex
    justify-content: center
    align-items: center
    float: left
    &:last-child
      margin-right: 0px
    img
      position: absolute
      top: 0px
      bottom: 0px
      right: 0px
      left: 0px
      margin: auto
    &.blue
      background: #609dea
    &.green
      background: $color-puerto-rico
    &.purple
      background: #ab92e9
    &.pink
      background: #dc6187
    &.yellow
      background: $color-goldenrod
    &.light-blue
      background: #56c1e7
  &__more-frame
    width: 35px
    height: 35px
    background: white
    position: relative
    border-radius: 3px
    display: flex
    align-items: center
    justify-content: center
    float: left
    margin-left: 10px
    margin-bottom: 5px
    &:last-child
      margin-right: 0px
    img
      position: absolute
      top: 0px
      bottom: 0px
      right: 0px
      left: 0px
      margin: auto
  &__more-frame-2x
    width: 60px
    height: 60px
    background: white
    position: relative
    border-radius: 3px
    font-weight: 600
    font-size: 28px
    display: flex
    justify-content: center
    align-items: center
    &:last-child
      margin-right: 0px
    img
      position: absolute
      top: 0px
      bottom: 0px
      right: 0px
      left: 0px
      margin: auto
.parks-header
  width: 100%
  overflow-x: auto
  background: #f9f9f9
  position: absolute
  left: 0px
  right: 0px
  top: 0px
  bottom: 0px
  white-space: nowrap
  text-align: left
  &__item
    width: 25%
    display: inline-block
    border-right: 1px solid #ebebeb
    height: 100%
    vertical-align: top
    text-align: center
    &:last-child
      border-right: 0px
    &-head
      color: #39516c
      font-size: 12px
      font-weight: 500
      padding: 10px 0px 5px
      text-transform: uppercase
      @media (max-width: $sm - 10)
        font-size: 8px
    &-body
      text-align: center
      max-width: 100px
      margin: 0 auto
      display: flex
      justify-content: center
