.plan
  margin: 0px 1%
  width: 31%
  height: 190px
  border-top: 2px solid #e74f44
  float: left
  background: url(../../mpservices/images/blue_background_clear.png)
  background-size: cover
  position: relative
  margin-bottom: 10px
  overflow: hidden
  -moz-box-shadow: 0.5px 0.9px 3.9px 0.1px rgba(156, 156, 156, 0.53)
  -webkit-box-shadow: 0.5px 0.9px 3.9px 0.1px rgba(156, 156, 156, 0.53)
  box-shadow: 0.5px 0.9px 3.9px 0.1px rgba(156, 156, 156, 0.53)
  -moz-border-bottom-left-radius: 4px
  -webkit-border-bottom-left-radius: 4px
  border-bottom-left-radius: 4px
  -moz-border-bottom-right-radius: 4px
  -webkit-border-bottom-right-radius: 4px
  border-bottom-right-radius: 4px
  @media (max-width: $sm - 10)
    width: 100%
    margin-left: 0px
    margin-right: 0px
  &:not(.new_plan)
    &::after
      content: ''
      position: absolute
      top: 25%
      right: 5%
      width: 110px
      height: 110px
      background: url(../../mpservices/images/fireworks-sm.png) no-repeat
  &:hover,
  &:active
    .plan__footer-op
      ul
        li
          .dash-min-menu
            display: none
          ul
            display: inline-block
      display: inline-block
  &__head
    color: white
    font-size: 21px
    font-weight: 400
    line-height: 24px
    padding: 10px 15px
  &__body
    padding: 2px 15px
  &__date
    background: $color-secondary
    color: white
    padding: 4px 5px
    text-transform: uppercase
    font-size: 12px
    font-weight: 700
    display: inline-block
  &__footer
    height: 40px
    bottom: 0px
    width: 100%
    position: absolute
    display: inline-block
    &-bg
      opacity: 0.8
      background-color: #5cc9d3
      position: absolute
      top: 0px
      bottom: 0px
      left: 0px
      right: 0px
    &-op
      position: absolute
      width: 100%
      top: 0px
      bottom: 0px
      z-index: 1
      padding: 0px 18px
      margin: auto
      height: 19px
      ul
        padding: 0px
        margin: 0px
        list-style: none
        li
          display: inline-block
          padding: 0px 7px
          vertical-align: middle
          position: relative
          &:first-child
            padding-left: 0px
          ul
            display: none
        & > li:hover,
        & > li:active,
        & > li.active
          .dash-min-menu
            display: none
          ul
            display: inline-block
      &-num
        background: $color-secondary
        width: 15px
        height: 15px
        border-radius: 50%
        color: white
        font-size: 9px
        text-align: center
        top: -10px
        right: -4px
        position: absolute
        padding: 3px 0px 2px 0px
    &-score
      position: absolute
      z-index: 2
      width: 50px
      height: 50px
      +border-radius(25px)
      background: #feb710
      bottom: 15px
      right: 15px
      text-align: center
      padding: 10px 5px
      &__title
        font-size: 12px
        font-weight: 600
        color: #37495a
        margin-bottom: 2px
      &__number
        color: white
        font-size: 18px
        font-weight: 700

  //including styles for new_plan extends and overwrites the plan styles
  &.new_plan
    background: none
    border: 1px dashed gray
    cursor: pointer
    .add-plan-link
      position: relative
      top: 25%
      text-align: center
      width: 100%
      &_text
        text-align: center
        color: lightgrey
