.popover
  $block: &
  display: block
  position: absolute
  vertical-align: middle
  text-decoration: none
  &--link
    font-size: em(16px)
    color: $grey
    display: inline-block
    padding-top: 10px
    padding-bottom: 10px
    &:hover
      color: black
      text-decoration: underline
  &__header
    padding: 10px 20px
    background-color: #f9f9f9
    +border-radius(6px)
  &__body
    padding: em(10px) em(15px)
  &__description
    &:before
      border: solid
      border-width: 0px 0px 1px 1px
      border-color: transparent transparent #999 #999
      background: white
      bottom: 0px
      top: 0px
      height: 6px
      width: 6px
      margin: auto
      content: ""
      left: -4px
      position: absolute
      z-index: 11
      +transform(rotate(45deg))
      +box-shadow(-1px, 1px, 1px, rgba(57, 81, 104, 0.15))
    display: none
    background: white
    +border-radius(6px)
    color: #656565
    border: 1px solid #999
    bottom: 0
    top: 0
    margin: auto
    left: 101%
    min-height: em(50px)
    position: absolute
    z-index: 10
    font-size: 14px
    line-height: 1.2em
    font-weight: $font-weight--medium
    width: 365px
    font-style: normal
    +box-shadow(0, 1px, 5px, rgba(57, 81, 104, 0.35))
    &__text,
    &__text-with-icon
      vertical-align: middle
      display: table-cell
      i
        position: absolute
        top: 0px
        bottom: 0px
        left: 4px
        margin: auto
      ul
        list-style-type: circle
        padding-left: 17px
        margin: 0px
    &__text-with-icon
      padding-left: 15px
  &:active,
  &--active
    #{$block}__description
      display: table
  &--bottom
    #{$block}__description
      left: 0px
      bottom: initial
      top: 100%
      &:before
        left: 10%
        bottom: initial
        top: -4px
        border-width: 1px 0px 0px 1px
        +box-shadow(-1px, -1px, 1px, rgba(57, 81, 104, 0.15))
        border-color: #999 transparent transparent #999
      &__center
        &:before
          left: 50%
  &--top
    #{$block}__description
      left: 0px
      bottom: initial
      top: initial
      &:before
        left: 10%
        bottom: -4px
        top: initial
        border-width: 0px 1px 1px 0px
        +box-shadow(1px, 1px, 1px, rgba(57, 81, 104, 0.15))
        border-color: transparent #999 #999 transparent
      &__center
        &:before
          left: 50%
  &--error
    #{$block}__description
      display: table
      color: $color-secondary
      border-color: $color-secondary
      +box-shadow(0, 1px, 5px, rgba(233, 78, 62, 0.35))
      &:before
        border-color: transparent transparent $color-secondary $color-secondary !important
        +box-shadow(-1px, 1px, 1px, rgba(233, 78, 62, 0.15))
  &--bottom#{$block}--error
    #{$block}__description
      &:before
        border-color: $color-secondary transparent transparent $color-secondary !important
        +box-shadow(-1px, -1px, 1px, rgba(233, 78, 62, 0.15))
  &--top#{$block}--error
    #{$block}__description
      &:before
        border-color: transparent $color-secondary $color-secondary transparent !important
        +box-shadow(1px, 1px, 1px, rgba(233, 78, 62, 0.15))
