.rating
  $base: &
  unicode-bidi: bidi-override
  direction: rtl
  &__input
    position: absolute
    left: -9999px
  &__item
    display: inline-block
    margin-left: 9px
    margin-right: 9px
    cursor: pointer
    a
      display: inline-block
    &__icon
      +sprite($iheart-off)
      display: inline-block
    #{$base}__input:checked + &,
    &--current
      background-size: auto
      .rating__item__icon
        +sprite($iheart-on)
      & ~ #{$base}__item
        .rating__item__icon
          +sprite($iheart-on)

