.full-height-page
  background: #88f1f5
  background: -moz-linear-gradient(top, #88f1f5 0%, #ffffff 100%)
  background: -webkit-linear-gradient(top, #88f1f5 0%,#ffffff 100%)
  background: linear-gradient(to bottom, #88f1f5 0%,#ffffff 100%)
  display: table

  .wrap-content
    display: table-row
    height: 100%

.castle
  background: url(../../mpservices/images/page-illustr-castle.png) no-repeat 100% 100%
  background-size: contain
  position: fixed
  bottom: 0
  right: -65px
  width: 603px
  height: 463px
  z-index: 0

.registration-area
  font-family: $font-family--secondary
  overflow: hidden
  padding: 0 20px
  display: table-cell
  vertical-align: middle

  .ilogo
    background: url(../../mpservices/images/vertical-logo-hight.png) no-repeat center
    width: 165px
    height: 85px
    margin: 0 auto
    display: block
    max-width: 100%
    background-size: contain

  .form-title
    color: #414042
    font: $font-weight--medium 28px $font-family--secondary
    margin: 8% 0 4%

.registration-holder
  max-width: 466px
  padding: 2% 14px 19px
  background: #fff
  text-align: center
  margin: 1% auto 3%
  box-sizing: border-box
  border-radius: 27px
  +box-shadow(0, 0, 15px, rgba(0, 0, 0, 0.1))
  position: relative
  z-index: 1

.registration-page-illustr
  //background: url(../../mpservices/images/page-illustr-plane.png) no-repeat 0 20%
  background-image: url(../../mpservices/images/page-illustr-magic-wand.png)
  background-size: contain
  background-repeat: no-repeat
  position: absolute
  width: 441px
  height: 374px
  top: 83px
  left: -519px
  z-index: 0
  //top: 72px
  //left: -519px
  //width: 372px
  //height: 244px

//.login-block .registration-page-illustr,
//.registration-success .registration-page-illustr,
//.verified-expired .registration-page-illustr
//  background-image: url(../../mpservices/images/page-illustr-magic-wand.png)
//  width: 441px
//  height: 374px
//  top: 83px
//  left: -519px

.registration-success .registration-page-illustr,
.verified-expired .registration-page-illustr
  left: -472px
  top: 53px

.block-wrap
  padding: 0 4%
  position: relative
  overflow: hidden

.btns-group
  text-align: center
  display: flex
  justify-content: space-between

  .btn
    margin: 0 2%
    font-size: 18px
    line-height: 25px
    color: #e5e5e5
    padding: 7px 16px 4px

    &:first-child
      margin-left: 0

    &:last-child
      margin-right: 0

    .icn-google,
    .icn-facebook-lrg
      margin-right: 7px

    &[disabled]
      cursor: not-allowed
      filter: none !important
      opacity: .5
      color: #e5e5e5 !important

  .btn-google
    background-color: #e22c1b
    flex-basis: 50%

    .abcRioButtonContentWrapper,
    .abcRioButtonContents
      display: none !important
    &[disabled]
      background: #e22c1b !important

  .btn-facebook
    background-color: #1d4a9c
    flex-basis: 50%
    &[disabled]
      background: #1d4a9c !important

  .abcRioButton
    background-color: transparent !important
    box-shadow: none !important
    border-radius: 10px !important
    width: auto !important
    height: auto !important
    margin: -8px -16px -5px !important
    padding: 8px 16px 5px !important
    &:before
      content: ''
      margin-right: 7px
    &:after
      content: 'Google'
      display: inline-block
      vertical-align: middle
      font-size: 19px
      line-height: 25px
      color: #e5e5e5
      margin-top: -3px

.form-subtitle
  color: #323232
  font-size: 20px
  font-weight: $font-weight--medium
  white-space: nowrap
  margin: 7% 0 4%
  text-align: center
  position: relative

  &:before
    content: ""
    height: 1px
    position: absolute
    left: 0
    right: 0
    top: 10px
    background-color: #bcbcbc
    display: block
    z-index: 0

  span
    background: #fff
    display: inline-block
    padding: 0 14px
    position: relative
    z-index: 1

.facebook-error
  .error-mes
    font-size: 14px
    line-height: 1.3
    padding: 9px 10px 2px
    margin: 0 0 -13px
    text-align: center

.error-mes
  font-size: 13px
  line-height: 1.2
  padding: 6px 0 0
  color: #ea4d3e

  a
    color: #ea4d3e
    font-weight: bold

.registration-form
  margin: 0 auto
  max-width: 82%

  input[type="text"],
  input[type="email"],
  input[type="password"]
    border: solid 2px #e1e1e1
    font-size: 19px
    padding: 13px 15px 12px 65px
    height: auto
    min-height: 50px
    background-color: transparent

    &:focus
      border-color: #e1e1e1

    &.item-error
      border-color: #ea4d3e
      box-shadow: 0 0 5px #e24e36
      margin: -1px

      &+.ng-active .error-mes
        margin-bottom: -9px

  .form-group-email,
  .form-group-pass,
  .form-group-pass-confirm,
  .form-group-name
    position: relative
    z-index: 0

    &:before
      content: ''
      display: block
      background-image: url(../../mpservices/images/sprite-icons-form.png)
      background-repeat: no-repeat !important
      background-size: 34px auto
      position: absolute
      top: 2px
      left: 2px
      width: 63px
      height: 47px

  .form-group-email
    &:before
      background-position: 18px 11px

  .form-group-pass
    &:before
      background-position: 18px -160px

  .form-group-pass-confirm
    &:before
      background-position: 18px -350px !important

  .form-group-name
    &:before
      background-position: 15px -528px !important

  .btn--success
    font-size: 20px
    line-height: 26px
    padding: 8px 21px
    min-width: 166px
    cursor: pointer
    margin: 4% 0 3%

    &:hover
      background-color: #3fcf7a

    &:focus
      background-color: #32a963

    &:disabled
      cursor: not-allowed
      filter: none !important
      opacity: .65
      background: $ocean-green !important

  .form-group
    margin-bottom: 1.2em

.registration-success
  padding: 0 4% 6% !important
  p
    margin: 0
    font-size: 1.1em !important
    line-height: 1.3 !important

.verified-expired
  padding: 24px 6% 15px
  line-height: 30px
  p
    margin: 0

.txt-success,
.txt-inform
  color: $color-puerto-rico
  font-size: 18px
  font-weight: 400
  line-height: 1.2
  margin: 2% 0 4%
  a
    color: $ocean-green
    &:hover
      text-decoration: none

  p
    margin: 0 0 2%

.txt-inform
  color: #323232

.form-group + .txt-inform
  margin-top: -13px

.link-inline
  font-size: 16px

.verified-expired
  .subtitle,
  a
    color: #ea4d3e
    margin: 0
    line-height: 1.3

.verified-success
  .txt-success
    margin: 5% 0 4%

    h3
      font-size: 24px
      font-weight: $font-weight--medium
      margin: 28px 0 27px

    p
      color: #323232

.subtitle
  color: #323232
  font-size: 20px
  font-weight: $font-weight--medium
  align-items: center
  margin: 7% 0 4%

.agreement
  color: #b0afaf
  font-size: 14px
  line-height: 1.4
  margin: 4% 0 1%
  p
    margin: 0
  a
    color: #454545
    text-decoration: none

    &:hover
      text-decoration: underline
.error-mes-inner
  font-size: 16px
  color: #ea4d3e
  padding: 0
  margin: -5px 7% 19px
  a
    font-weight: bold
    color: #ea4d3e
    &:hover
      text-decoration: none

.password-reset-illustr
  background: url(../../mpservices/images/page-illustr-reset-password.png) no-repeat 50% 50%
  background-size: auto 190px
  height: 195px
  width: 138px
  margin: 0 auto 31px

.login-block,
.password-page
  .registration-holder
    padding: 2% 14px 3%

  .form-title
    margin: 8% 0 6%

  .form-subtitle
    margin: 9% 0 5%

.email-success,
.registration-success
  padding: 0 25px
  .form-title
    font-size: 35px
    font-weight: 600
    margin: 11% 0 8%
  p
    font-size: 1.2em
    line-height: 1.3

.reset-password-page
  .txt-inform
    margin: 6% 0 8%
    i
      color: #818486
      font-family: $font-family--primary
      font-weight: $font-weight--light
    & + div
      .error-mes-inner
        margin-top: -15px

  .btn--success
    margin: 4% 0 6%

.cover-block
  position: absolute
  width: 100%
  height: 100%
  z-index: 100

.wrap-block
  position: relative
  z-index: 1

@media (max-width: 1680px) and (max-height: 1366px)
  .registration-holder
    max-width: 400px

  .registration-page-illustr
    width: 394px
    top: 60px
    left: -466px

  .registration-form
    //max-width: 65%
    min-width: 280px

    input[type="text"],
    input[type="email"],
    input[type="password"]
      font-size: 17px
      padding: 11px 15px 10px 59px
      min-height: 47px

    .form-group
      margin-bottom: 0.8em

    .form-group-email,
    .form-group-pass,
    .form-group-pass-confirm,
    .form-group-name
      &:before
        width: 55px
        height: 43px
        background-size: 32px auto

    .form-group-email
      &:before
        background-position: 14px 10px
    .form-group-pass
      &:before
        background-position: 15px -153px
    .form-group-pass-confirm
      &:before
        background-position: 15px -330px !important
    .form-group-name
      &:before
        background-position: 15px -499px !important

    .form-frame
      .form-title
        font-size: 26px
        margin: 6% 0 3%

  .form-subtitle
    margin: 6% 0 4%

  .btns-group
    .btn
      margin: 0 2%

  .txt-success
    font-size: 16px

  .agreement
    font-size: 13px

    margin: 3% 0 0

  .form-group + .txt-inform
    margin-top: -8px
    .link-inline
      font-size: 14px

  .login-block
    //.registration-page-illustr
    //  width: 394px
    //  top: 60px
    //  left: -466px

    .form-frame
      .form-title
        margin: 10% 0 6%
    .btn--success
      margin: 4% 0 0

  .password-page
    .registration-area
      .form-frame
        .form-title
          margin: 9% 0 3%

  .registration-success,
  .verified-expired
    .registration-page-illustr
      width: 425px
      left: -454px
      top: 40px

  .email-success,
  .registration-success
    .form-title
      font-size: 30px !important
      margin: 12% 0 8% !important

@media (max-width: 1366px) and (max-height: 768px)
  .full-height-page
    &:after
      right: -86px
      width: 502px

  .registration-area
    .form-frame
      .form-title
        font-size: 25px
        margin: 4% 0 2%

  .form-subtitle
    margin: 25px 0 3%

  .registration-form
    max-width: 80%

    .btn--success
      margin: 3% 0 1%

  .registration-holder
    padding-top: 1.5%

  .block-wrap
    padding: 0 4%

  .btns-group
    .btn
      margin: 0 5px

  .error-mes
    font-size: 13px

  .facebook-error
    .error-mes
      margin: 0 0 -6px

  .login-block,
  .password-page
    .form-frame
      .form-title
        margin: 8% 0 6%

@media (max-width: 1175px)
  .full-height-page
    &:after
      right: -10%

@media (max-width: 1024px)
  .castle,
  .registration-page-illustr
    display: none !important

@media (max-width: 960px)
  .registration-holder
    padding: 3vh 24px 19px

    .form-frame
      .form-title
        font-size: 24px
        margin: 5vh 0 1.5vh

  .txt-success
    font-size: 15px
    margin: 2vh 0 3vh

  .agreement
    margin: 2vh 0 0

@media (max-width: 768px)
  .registration-form
    max-width: 85%

@media (max-width: 680px)
  .registration-holder
    background: rgba(256,256,256,0.93)
    margin: 17px auto
    padding: 2vh 24px 19px

  .form-subtitle
    margin: 3.5vh 0

  .registration-area
    .form-frame
      .form-title
        font-size: 22px

  .login-block .registration-holder,
  .password-page .registration-holder
    padding: 4% 14px 3%

@media (max-width: 500px)
  .btns-group
    margin: 0
    .btn
      margin: 0 2%
      padding: 7px 3px 4px 5px
      margin-right: 4px
      font-size: 16px
      line-height: 21px

      .icn-facebook-lrg
        width: 9px
        height: 24px
        background-size: 22px auto
        background-position: -7px -37px
        margin-right: 4px

    .abcRioButton
      &:before
        width: 26px
        height: 22px
        background-position: 0 1px
        background-size: 26px auto

      &:after
        font-size: 16px
        line-height: 21px

  .full-height-page
    &:before
      display: none

  .registration-area
    .form-frame
      .form-title
        margin: 2.3vh 0 1vh

  .registration-form
    min-width: inherit
    max-width: 90%

    input[type="text"],
    input[type="email"],
    input[type="password"]
      font-size: 15px
      padding: 5px 15px 5px 46px
      min-height: 36px
      background-size: auto 263px

    .form-group-email,
    .form-group-pass,
    .form-group-pass-confirm,
    .form-group-name
      &:before
        width: 41px
        height: 33px
        background-size: 25px auto

    .form-group-email
      &:before
        background-position: 12px 7px
    .form-group-pass
      &:before
        background-position: 12px -119px
    .form-group-pass-confirm
      &:before
        background-position: 12px -258px !important
    .form-group-name
      &:before
        background-position: 12px -390px !important

    .form-group
      margin-bottom: 7px

    .btn--success
      font-size: 18px
      line-height: 20px

    .error-mes
      font-size: 14px

  .form-subtitle
    font-size: 16px

    &:before
      top: 8px

  .agreement
    font-size: 12px
    margin: 1.5vh 0 0

  .txt-success
    margin: 1.5vh 0 2vh

  .form-group + .txt-inform
    margin-top: -2px

  .login-block,
  .password-page
    .registration-holder
      padding-top: 5%

  .txt-inform
    font-size: 15px

  .reset-password-page
    .txt-inform
      & + div
        .error-mes-inner
          margin-top: -5px
          margin-bottom: 16px