.resizable 
  position: relative
  &.no-transition
    // using no transition here to add styles durring resizing
    transition: none !important
    z-index: 9999
    opacity: .75
.rg-bottom
  display: block
  width: 14px
  height: 14px
  line-height: 14px
  position: absolute
  z-index: 1
  -moz-user-select: -moz-none
  -ms-user-select: none
  -webkit-user-select: none
  user-select: none
  background: transparent
  cursor: row-resize
  width: 100%
  bottom: 0
  left: 0
  margin-bottom: -14px
  &span
    position: absolute
    display: none
    margin: 0