.scheduler
  &__subscribe
    display: flex
    align-items: center
    .btn-sticky
      @media (max-width: $sm + 150px)
        font-size: 14px
    @media (max-width: $sm - 10)
      width: 100%
      display: flex
      order: 2
      justify-content: center
      margin-top: 20px
  &__header
    background: white
    padding: 17px 30px
    position: relative
    padding-right: 156px
    height: 64px
    margin-bottom: 10px
    display: flex
    justify-content: space-between
    @media (max-width: 1000px)
      padding: 2px 12px
      padding-right: 65px
    &-wrap
      display: inline-block
      width: 85%
      @media (max-width: 1000px)
        width: 69%
        max-width: 600px
  &__title
    font-size: 30px
    font-weight: 400
    line-height: 30px
    float: left
    color: $color-viking
    width: 50%
    outline: none
    border: none !important
    -webkit-box-shadow: none !important
    -moz-box-shadow: none !important
    box-shadow: none !important
    @media (max-width: 1000px)
      font-size: 22px
      max-width: inherit
      width: 100%
    span
      display: inline-block
    input,
    textarea
      background: transparent !important
      border: 0px solid transparent !important
      border-bottom: 1px solid $color-tertiary !important
      margin: 0px !important
      display: none
      -moz-box-shadow: none !important
      -webkit-box-shadow: none !important
      box-shadow: none !important
      padding: 0px !important
      color: $color-viking
      height: 32px
      -moz-border-radius: 0px !important
      -webkit-border-radius: 0px !important
      border-radius: 0px !important
      &:hover,
      &:focus,
      &:active,
      &.active
        background: transparent !important
        border-bottom: 1px solid $color-tertiary !important
    &:hover,
    &:active,
    &.active
      input
        display: inline-block
      span
        display: none
  &__calendar
    color: $color-viking
    font-size: 18px
    font-weight: 400
    line-height: 36px
    float: left
    margin-left: 40px
    padding: 1px 6px
    border-radius: 5px
    &.date-desktop
      display: block
    &.date-mobile
      display: none
    @media (max-width: $sm - 10)
      &.date-desktop
        display: none
      &.date-mobile
        display: block
    @media (max-width: 1000px)
      margin-left: 0px
      font-size: 14px
  &__score
    color: white
    float: right
  &__mousage-view
    background: $color-secondary
    color: white
    font-size: 16px
    font-weight: 400
    position: absolute
    right: 0px
    bottom: 0px
    top: 0px
    width: 156px
    border-left: 2px solid white
    @media (max-width: 1000px)
      width: 65px
  &__body
    border: 1px solid transparent
    margin-bottom: 50px
  &__activities
    $activities: &
    padding: 0px 25px
    background: white
    border-top-left-radius: 10px
    border-top-right-radius: 10px
    @media (max-width: 1000px)
      padding: 0px 5px
    &-head
      padding: 5px 0px 5px
      height: 47px
      @media (max-width: 1000px)
        padding-bottom: 2px
        overflow: hidden
        height: auto
      .btn
        margin-right: 10px
        padding: 8px 10px
        border-radius: 5px
        vertical-align: bottom
        cursor: pointer
      .btn--disabled
        color: #414042
        cursor: default
        min-width: 120px
        &.active
          color: $color-viking
      .btn--default
        color: #414042
        font-family: Lato
        font-size: 16px
        font-weight: 300
        @media (max-width: 1000px)
          .reoptimize-text
            display: none
      .btn--transparent
        .iarrow
          vertical-align: middle
          margin-left: 5px
          display: inline-block
          +sprite($idown)
        &.btn--parks
          @media (max-width: $sm - 10)
            position: absolute
            top: 8rem
            right: 0rem
            padding-bottom: 0px
      .visible-mobile-tablet
        float: left
        @media (max-width: $sm - 10)
          width: 33%
        .add-activities-mobile
          display: none
          @media (max-width: 1000px)
            display: inline-block
      .visible-desktop
        display: inline-block
        @media (max-width: 1000px)
          display: none
    &-sub
      transition: .5s linear all
      height: 0px
      overflow: hidden
      &:hover
        overflow: inherit
    &-body
      padding: 0px 40px 0 0
      background: transparent
      margin-top: 10px
      @media (max-width: 1000px)
        display: none
    &-sticky
      background: #f5f5f5
      width: 100%
      z-index: 92
      display: flex
      align-items: center
      max-width: 1208px
    &.parks--active
      #{ $activities }-head
        .btn--transparent
          .iarrow
            +sprite($ihide)
      #{ $activities }-sub
        height: 129px
        @media (max-width: 1000px)
          height: 130px
    &--right
      float: right
      .btn.active
        padding-bottom: 4px
        border-radius: 0
        border-bottom: 1px solid
  &__block
    position: relative
    background: white
    padding-right: 40px
    overflow-x: auto
    @media (max-width: $sm - 10)
      padding-right: 0
  &__calendar-frame
    display: table
    background: white
    margin: 0px 25px
    position: absolute
    left: 0px
    top: 80px
    z-index: 1
  &__calendar-row
    display: table-row
  &__calendar-cell
    display: table-cell
    border-bottom: 1px solid #dadada
    border-right: 1px solid #dadada
    width: 170px
    &:last-child
      border-right: 0px
    &:first-child
      width: 120px
  &__calendar-fixed
    position: relative
    margin: 0px 25px
    top: 20px
    z-index: 2
    white-space: nowrap
    @extend %clearfix
    @media (max-width: $sm - 10)
      margin: 0 5px
  &__calendar-daily
    $daily: &
    min-width: 170px
    display: inline-block
    vertical-align: top
    position: relative
    border-left: 1px solid #f0f0f0
    width: 12.3%
    white-space: normal
    @media (max-width: $sm - 10)
      width: 50%
      min-width: 120px
    &--day
      width: 50%
      display: none
      @media (max-width: $sm - 10)
        width: 100%
      &.active, &.right-sidebar
        display: inline-block
      #{ $daily }-head
        height: 110px
        padding: 25px 20px 14px
        margin-bottom: 15px
        &:before
          position: absolute
          content: ""
          background: white
          width: 16px
          height: 16px
          border-radius: 3px 0 0 0
          transform: rotate(45deg)
          bottom: -8px
          left: 0px
          right: 0px
          margin: auto
        &.blue
          background: #5d9cec
        &.pink
          background: #dc6187
        &.purple
          background: #ab92e9
        &.green
          background: $color-puerto-rico
        &.light-blue
          background: #56c1e7
        &.yellow
          background: $color-goldenrod
        &.gray
          background: #f9f9f9
          #{ $daily }-head__date,
          #{ $daily }-head__day
            color: #39516c
      #{ $daily }-head__date
        color: white
      #{ $daily }-head__day
        color: white
      #{ $daily }-parks
        display: block
      &.scheduler__days-static
        height: 1145px
        margin-top: 0px
        .scheduler__days-static__day-head
          display: block
    &-head
      padding: 10px 20px 14px
      height: 59px
      position: relative
      &__notes
        position: absolute
        left: 0px
        top: 0px
        width: 100%
        height: 20px
        text-align: right
        &-item
          vertical-align: middle
          margin: 0 6px
          @media (max-width: $sm - 10)
            .popover
              position: fixed
              left: 22px !important
              top: 50vh !important
              width: 100%
              z-index: 9999
      &__date
        font-size: 12px
        color: #39516c
        font-weight: 400
        margin-bottom: 7px
      &__day
        font-size: 16px
        color: #39516c
        font-weight: 700
        text-transform: uppercase
    &-body
      margin: 0px 6px
      min-height: 1020px
      position: relative
    &--inactive
      opacity: 0.3
    &-parks
      position: absolute
      right: 0px
      top: 0px
      display: none
    .object-box
      width: 100%
      margin-right: 0px
      margin-bottom: 8px
      box-shadow: 0.8px 0.6px 2.7px 0.3px rgba(156, 156, 156, 0.23)
      padding: 5px
      font-size: 14px
      position: absolute
      line-height: 15px
      border-width: 0px
      &__logo
        padding-left: 9px
        padding-top: 9px
        overflow: hidden
        @media (max-width: $sm - 10)
          padding-left: 10px
        &-no-img
          width: 100%
          height: 100%
          max-width: 60px
          max-height: 60px
          display: flex
          align-items: center
          justify-content: center
          text-align: center
          font-weight: 600
          font-size: 28px
      &--fixed
        background-color: #f5f5f5
        color: #939598
        border: 0px solid transparent
        font-size: 14px
        font-weight: 400
        text-align: center
        box-shadow: none
      &--default
      &--primary
        border-width: 0px
        border-left-width: 10px
        border-radius: 0px
        left: -4px
      &--custom
        border: 0px solid transparent
        border-left-color: #f99c77
        border-left-width: 10px
        color: #37495a
      &--warning
        border-width: 0px
        border-radius: 0px
      &--inverse
        border-width: 0px
        box-shadow: none
      &--empty
        box-shadow: none
      &__reservation
        box-shadow: none
        padding-left: 10px
        padding-right: 10px
        @media (max-width: $sm - 10)
          padding-left: 10px
          padding-right: 10px
  &__days
    display: block
    float: left
    vertical-align: top
    width: 90%
    white-space: nowrap
    @media (max-width: $sm - 10)
      width: 82%
  &__days-static
    vertical-align: top
    position: static
    height: 1020px
    color: #939598
    font-size: 16px
    font-weight: 300
    text-transform: uppercase
    display: block
    float: left
    width: 10%
    margin-top: 59px
    @media (max-width: $sm - 10)
      width: 18%
    &__day
      height: 150px
      border-bottom: 1px solid #f0f0f0
      padding: 10px
      width: 100%
      padding-top: 60px
      white-space: normal
      @media(max-width: 1260px)
        padding-top: 60px
        font-size: 14px
      @media(max-width: 1000px)
        font-size: 12px
      @media(max-width: $sm - 10)
        font-size: 10px
      @media (max-width: $xs)
        font-size: 8px
      &:last-child
        border-bottom: 0px
      &-head
        text-align: center
        background: #f9f9f9
        height: 110px
        margin-bottom: 15px
        text-transform: none
        display: none
  .btn-sticky, .btn-sticky_btn-cta
    padding: 15px
.head--calendar
  font-size: 14px
  font-weight: 700
  line-height: 30px
  text-transform: uppercase
  color: black
.cell--early-morning,
.cell--morning,
.cell--afternoon,
.cell--late-afternoon,
.cell--evening,
.cell--late-evening,
.cell--late-night
  height: 150px
  vertical-align: middle
  font-size: 18px
  font-weight: 400
  text-transform: uppercase
  color: #939598
.cell--late-night
  height: 120px
.add-activity-block
  border: 1px dashed gray
  position: absolute
  width: 100%
  left: 0%
  border-radius: 3px
  .add-activity-link
    text-align: center
    color: lightgrey
