.selector-group
	text-align: center
	&--col-6
		.selector
			width: 16% !important
			margin-left: 0.4%
			margin-right: 0.4%
			&:first-child
				margin-left: 0
			&:last-child
				margin-right: 0
			@media (max-width: $sm)
				width: 49% !important
				margin-bottom: em(4px)
