.selector
	vertical-align: top
	display: inline-block
	margin-left: 5px
	margin-right: 5px
	width: 120px
	margin-bottom: 5px
	&__detail
		font-weight: $font-weight--light
		line-height: em(13px)
		position: absolute
		padding: 10px
		top: 0px
		bottom: 0px
		left: 0px
		right: 0px
		background-color: $color-tertiary
		+border-radius(5px)
		+transition(.1s)
		color: $black
		&__header
			font-size: em(15px)
			line-height: em(17px)
			vertical-align: bottom
			margin-bottom: 5px
			font-weight: $font-weight--bold
			text-align: left
			padding-right: 10px
			position: relative
			&__external
				position: absolute
				top: -5px
				right: -5px
				display: block
				height: 16px
				width: 16px
		&__body
			font-size: em(15px)
			line-height: em(17px)
			a
				color: black
	&__label
		position: relative
		margin-bottom: 0px
		cursor: pointer
		&__input
			margin: 0
			padding: 0
			opacity: 0
			position: absolute
			&:hover + .selector__label__square
				background-color: #c6c6c6
				font-weight: $font-weight--light
			&:checked + .selector__label__square
				background-color: $eastern-blue
				color: white
				font-weight: $font-weight--light
				.selector__label__square__icon
					i.icon
						&.ianniversary
							+sprite($ianniversary-on)
						&.ibirthday
							+sprite($ibirthday-on)
						&.iwedding
							+sprite($iwedding-on)
						&.idisney
							+sprite($idisney-on)
						&.ireunion
							+sprite($ireunion-on)
						&.ismile
							+sprite($ismile-on)
						&.iwheelchair
							+sprite($iwheelchair-alt-on)
						&.iservice
							+sprite($iservice-on)
						&.ihearing
							+sprite($ihearing-on)
						&.ivisual
							+sprite($ivisual-on)
						&.itenguage
							+sprite($itenguage-on)
						&.ifood
							+sprite($ifood-on)
						&.iothers
							+sprite($iothers-on)
						&.ievent
							+sprite($ievent-on)
		&__square
			position: relative
			background: $color-tertiary
			+border-radius(5px)
			font-size: em(14px)
			font-weight: $font-weight--light
			color: #333
			text-align: center
			padding: 1px
			display: table
			height: 90px
			width: 100%
			+transition(0.30s)
			border: 1px solid #c6c6c6
			+box-shadow(0, 2px, 4px, rgba(0, 0, 0, 0.2))
			&.only
				padding: 5px
			&__front,
			&__back
				height: 90px
				width: 120px
				padding: 5px

			&__front
				display: table-cell
				vertical-align: middle
				p
					margin: 0
			&__icon
				height: 42px
				position: relative
				margin-bottom: em(7px)
				i.icon
					position: absolute
					top: 10px
					bottom: 0px
					right: 0px
					left: 0px
					margin: auto
					&.ianniversary
						+sprite($ianniversary-off)
					&.ibirthday
						+sprite($ibirthday-off)
					&.iwedding
						+sprite($iwedding-off)
					&.idisney
						+sprite($idisney-off)
					&.ireunion
						+sprite($ireunion-off)
					&.ismile
						+sprite($ismile-off)
					&.iwheelchair
						+sprite($iwheelchair-alt-off)
					&.iservice
						+sprite($iservice-off)
					&.ihearing
						+sprite($ihearing-off)
					&.ivisual
						+sprite($ivisual-off)
					&.itenguage
						+sprite($itenguage-off)
					&.ifood
						+sprite($ifood-off)
					&.iothers
						+sprite($iothers-off)
					&.ievent
						+sprite($ievent-off)
			&__check
				+sprite($i-options-off)
				position: absolute
				top: 5px
				right: 5px
			&__arrow-down
				+transition(0.30s)
				position: absolute
				background: transparent
				+border-radius(15px)
				visibility: hidden
				width: 30px
				height: 30px
				bottom: -15px
				left: 0px
				right: 0px
				margin: auto
	&--inside
		.selector__label__square
			background: white
	&--primary
		.selector__label
			&__input:checked + .selector__label__square
				background-color: #395168
				color: white
				margin-top: 10px
				.selector__label__square__arrow-down
					visibility: visible
					background-color: #395168
	&--info-extra
		.selector__label__square
			background: transparent !important
			border: 0px
			box-shadow: none !important
		.flipper__front
			background-color: white
		.selector__label
			&__input:checked + .selector__label__square
				color: white
				.selector__detail
					color: white
					background-color: $color-primary
				.flipper__front
					background-color: $color-primary
			&__input:checked:hover + .selector__label__square
				.selector__detail
					color: white
