.sticky-nav
  $sticky: &
  margin: 0px
  padding: 0px
  list-style: none
  position: fixed
  top: 250px
  right: 0px
  z-index: 90
  @media (max-width: $sm - 10)
    top: 0px
    left: 0px
    right: 0px
    width: 100%
    display: none
  &.active
    @media (max-width: $sm - 10)
      display: block
  &__image
    width: 25px
    height: 25px
    display: inline-block
    position: relative
    vertical-align: middle
    i
      position: absolute
      top: 0px
      left: 0px
      right: 0px
      bottom: 0px
      margin: auto
  &__text
    width: 0px
    height: 0px
    overflow: hidden
    font-size: 23px
    font-weight: 400
    vertical-align: middle
    margin-left: 7px
    @media (max-width: $sm - 10)
      display: none !important
  li
    text-align: right
    @media (max-width: $sm - 10)
      float: left
      width: 25%
      text-align: center
  a
    display: inline-block
    background-color: $color-puerto-rico
    color: white
    text-decoration: none
    padding: 20px
    @media (max-width: $sm - 10)
      width: 100%
    &.active,
    &:active,
    &:hover
      #{ $sticky }__text
        display: inline-block
        width: auto
        height: auto
    &.checklist
      background-color: $color-puerto-rico
    &.profile
      background-color: #609dea
    &.dashboard
      background-color: $color-goldenrod
    &.planning-tools
      background-color: #f99c77
    &.book-it
      background-color: #8484ba
