.subscription-area
  position: absolute
  left: 0
  right: 0
  bottom: 0
  top: 0
  z-index: 100
  .bg
    position: absolute
    left: 0
    top: 0
    bottom: 0
    right: 0
    background: #000
    opacity: 0.6

.subscription-frame
  margin: 10% auto 0
  max-width: 466px
  min-height: 400px
  background: #fff
  padding: 1.2% 14px 19px
  text-align: center
  border-radius: 27px
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1)
  font-family: $font-family--secondary
  position: relative
  z-index: 101
  .ilogo
    width: 280px
    height: 48px
    margin: 0 auto
    display: block
    @media (max-width: $sm - 10)
      width: 165px
      height: 76px

  .form-title
    color: #414042
    font: $font-weight--medium 28px $font-family--secondary
    margin: 14px 0 31px

  .btn--success
    font-size: 20px
    line-height: 26px
    font-family: $font-family--secondary
    font-weight: 700
    padding: 11px 21px
    min-width: 166px
    cursor: pointer
    margin: 3% 0 3%

    &:hover
      background-color: #3fcf7a

    &:focus
      background-color: #32a963

    &:disabled
      cursor: not-allowed
      filter: none !important
      opacity: .65
      background: $ocean-green !important

  .txt-inform
    font-size: 20px
    line-height: 1.4
    margin: 4% auto 3%
    max-width: 84%

  .content-wrap
    padding: 11px 25px 0

  .coupon-frame
    .btn
      width: 166px
      margin: 0 0 0 8px
      background-color: #32c373
      opacity: 1
      transition-delay: 0s !important
      position: relative
      z-index: 0
      overflow: hidden

      &:disabled
        background-color: #32c373 !important

      &:focus
        background-color: #32a963

    .btn-text
      font-weight: normal
      color: #fff
      width: 100%
      opacity: 1
      transition: all 0.3s

    .spinner
      position: absolute
      top: 0
      bottom: 0
      left: 0
      width: 0
      height: 0
      opacity: 0
      margin: 0 auto
      transition: opacity 1s
      background: url(../../mpservices/images/stars_spinner.png) no-repeat 50% 50% !important
      background-size: auto 97% !important
      animation: load 1.3s infinite linear

    @keyframes load
      0%
        -webkit-transform: rotate(0deg)
        transform: rotate(0deg)
      100%
        -webkit-transform: rotate(360deg)
        transform: rotate(360deg)

    @-webkit-keyframes load
      0%
        -webkit-transform: rotate(0deg)
        transform: rotate(0deg)
      100%
        -webkit-transform: rotate(360deg)
        transform: rotate(360deg)

    .loading,
    .loading:disabled,
    .loading:focus,
    .loading:hover
      background-color: #32c373 !important

      .btn-text
        width: 0
        height: 0
        opacity: 0

      .spinner
        width: 100%
        min-width: 30px
        height: 100%
        opacity: 1

    .btn--applied,
    .btn--applied:focus,
    .btn--applied:hover,
    .btn--applied:disabled
      border: 2px solid #32c373
      padding: 10px 20px
      line-height: 26px
      color: #fff
      background-color: #32c373
      animation: bg-color 3s forwards

      &:before
        content: ''
        display: inline-block
        vertical-align: top
        border-radius: 50%
        border: 2px solid #32c373
        width: 35px
        height: 35px
        margin: -7px 8px -6px -29px
        opacity: 0
        animation: block-opacity 1s forwards 1s

      &:after
        content: ''
        position: absolute
        top: 14px
        left: 17px
        width: 19px
        height: 10px
        border: 2px solid #32c373
        border-top: none
        border-right: none
        -webkit-transform: rotate(-45deg)
        transform: rotate(-45deg)
        opacity: 0
        animation: block-opacity 1s forwards 1s

      .btn-text
        color: #414042
        padding-left: 10px
      
      .spinner
        width: 100%
        min-width: 30px
        height: 100%
        opacity: 1
        animation: disappearance 1s forwards

    @keyframes disappearance
      0%
        transform: translateX(0px) translateX(0px)
        opacity: 1
      75%
        opacity: 1
      100%
        transform: translateX(-32%) translateX(0px)
        opacity: 0

    @-webkit-keyframes disappearance
      0%
        transform: translateX(0px) translateX(0px)
        opacity: 1
      75%
        opacity: 1
      100%
        transform: translateX(-32%) translateX(0px)
        opacity: 0

    @keyframes block-opacity
      100%
        opacity: 1

    @-webkit-keyframes block-opacity
      100%
        opacity: 1

    @keyframes bg-color
      100%
        color: #000
        background-color: #fff

    @-webkit-keyframes bg-color
      100%
        color: #000
        background-color: #fff

.coupon-code
  color: #ea6051
  font-size: 32px
  font-family: $font-family--secondary
  line-height: 38px
  text-align: center
  margin: 0 0 4%

.illustr-glasshour
  background: url(../../mpservices/images/icon-glasshour.png) no-repeat 50% 50%
  background-size: auto 97% !important
  display: block
  width: 113px
  height: 150px
  margin: 0 auto 4%

.benefits-list
  padding: 0 0 0 18px
  margin: 0 auto 1%
  max-width: 84%
  font-size: 15px
  font-family: $font-family--secondary
  color: #414042
  text-align: left

  li
    padding: 0 0 10px
    line-height: normal

.item-frame
  width: 100%
  overflow: hidden
  margin: 0 0 18px

  input
    border: solid 1px #e1e1e1
    font-size: 19px
    padding: 13px 28px 12px
    min-height: 50px
    height: auto
    width: 100%
    background-color: transparent
    border-radius: 12px

    &.invalid
      border-color: #ea4d3e
      box-shadow: 0 0 5px #e24e36
      margin: 2px 2px 2px 2px
      padding: 11px 25px 9px
      min-height: 46px
      width: 99%

    &:focus
      outline: none !important

  .errors-frame
    color: #ea4d3e

.coupon-frame
  border-top: 1px solid #e1e1e1
  padding-top: 18px

  .error-mes
    width: 56%

  .flex-col
    flex: 1

.element-wrapper
  border: solid 1px #e1e1e1
  font-size: 19px
  padding: 13px 28px 12px
  height: auto
  min-height: 50px
  background-color: transparent
  border-radius: 12px

  &.invalid
    border-color: #ea4d3e
    box-shadow: 0 0 5px #e24e36
    margin: 2px 2px 0 2px
    padding: 11px 25px 9px
    min-height: 46px

.form-item
  margin: 0 0 20px

  .error-mes
    .error-mes-cnt
      margin-bottom: -9px

#card-element
  .box
    width: 100%
    overflow: hidden
    .form-item
      float: left
      width: 50%
    .float-right
      padding: 0 0 0 8px
      box-sizing: border-box
    .error-mes
      padding: 0
      .error-mes-cnt
        padding: 6px 0 0

.additional-fields
  input
    border: solid 1px #e1e1e1
    font-size: 19px
    padding: 13px 28px 12px
    height: auto
    min-height: 50px
    background-color: transparent
    border-radius: 12px
    width: 100%

.loader
  position: absolute
  overflow: hidden
  width: 100%
  height: 100%
  left: 0
  top: 0
  z-index: 999
  border-radius: 27px
  color: #414042
  .bg
    position: absolute
    width: 100%
    height: 100%
    left: 0
    top: 0
    background: #fff
    opacity: 0.9
    border-radius: 27px
  .box
    position: absolute
    left: 0
    height: 50px
    top: 50%
    margin: -25px 0 0px
    text-align: center
    font-weight: bold
    font-size: 30px
    width: 100%

.flex-wrap
  display: flex

.basket-frame
  .form-title
    margin-bottom: 13px

.basket-list
  width: 100%
  table-layout: fixed
  border-collapse: collapse
  font-size: 16px
  line-height: normal
  color: #414042

  td
    text-align: left
    padding: 13px 7px 13px 0
    border-bottom: 1px solid #e1e1e1

  .col-price
    text-align: right
    padding-right: 7px
    padding-left: 0

  .total-row
    td
      font-size: 19px
      line-height: 28px
      font-weight: 500

.payment-success,
.payment-error
  .wrap-img-card
    background: url(../../mpservices/images/card_success.png) no-repeat 50% 0
    background-size: auto 97% !important
    display: block
    width: 272px
    height: 146px
    margin: 5px auto 22px
  .form-title
    margin-bottom: 21px
  .txt-inform
    font-size: 19px
    max-width: 100%
    margin: 0 0 12px

.payment-error
  .wrap-img-card
    background: url(../../mpservices/images/card_unsuccess.png) no-repeat 50% 0

.button-close
  position: absolute
  right: 14px
  top: 16px
  width: 25px
  height: 23px
  color: #999
  cursor: pointer
  font-size: 22px

@media (max-width: 1680px) and (max-height: 1366px)
  .subscription-frame
    padding-top: 2%

    .content-wrap
      padding: 11px 15px 0
    .ilogo
      width: 280px
      height: 48px

    .form-title
      font-size: 26px
      margin: 6% 0 3%

    .element-wrapper,
    .element-wrapper.invalid,
    .additional-fields input,
    .item-frame input
      font-size: 17px
      padding: 8px 15px 7px
      min-height: 43px

    .element-wrapper.invalid,
    .item-frame input.invalid
      min-height: 39px
      padding: 6px 13px 5px

    .btn--success
      font-size: 18px
      line-height: 22px
      padding: 11px 17px 9px

    .coupon-frame
      .btn
        padding: 10px 17px 4px
        width: 131px
        min-width: 131px

      .btn--applied,
      .btn--applied:focus,
      .btn--applied:hover,
      .btn--applied:disabled
        padding: 9px 2px 9px 20px
        line-height: 20px

        &:before
          width: 30px
          height: 30px
          margin: -7px 0 -6px -21px
        &:after
          top: 13px
          width: 17px
          height: 8px

  .content-wrap
    .form-title
      margin: 11px 0

@media (max-width: 1366px) and (max-height: 768px)
  .subscription-frame
    .btn--success
      margin: 3% 0 1%

@media (max-width: $sm - 10)
  .subscription-frame
    .ilogo
      width: 165px
      height: 85px

@media (max-width: 560px)
  .subscription-frame
    max-width: 96%
    margin: 25px
    padding-top: 4%

    .form-title
      font-size: 22px

    .txt-inform
      font-size: 18px
      line-height: normal
      margin: 6% auto 5%
      max-width: 96%

    .benefits-list
      max-width: 96%

    .btn--success
      font-size: 18px
      line-height: 20px
      min-width: inherit

  .illustr-glasshour
    height: 89px

  .payment-success,
  .payment-error
    .wrap-img-card
      width: 252px
      height: 151px

@media (max-width: 460px)
  .subscription-frame
    margin: 18px

  .payment-success,
  .payment-error
    .wrap-img-card
      width: 220px
      height: 132px
