.tooltip
  $block: &
  display: inline-block
  position: relative
  vertical-align: middle
  text-decoration: none
  &--link
    text-decoration: underline
  &__description
    &:before
      border: solid
      border-width: 0px 0px 1px 1px
      border-color: transparent transparent #999 #999
      background: white
      bottom: 0px
      top: 0px
      height: 6px
      width: 6px
      margin: auto
      content: ""
      left: -4px
      position: absolute
      z-index: 11
      +transform(rotate(45deg))
      +box-shadow(-1px, 1px, 1px, rgba(57, 81, 104, 0.15))
    display: none
    background: white
    +border-radius(6px)
    color: #656565
    border: 1px solid #999
    bottom: 0
    top: 0
    margin: auto
    left: 105%
    min-height: em(50px)
    padding: em(10px) em(15px)
    position: absolute
    z-index: 10
    font-size: em(14px)
    line-height: 1.2em
    font-weight: $font-weight--medium
    width: 225px
    font-style: normal
    +box-shadow(0, 1px, 5px, rgba(57, 81, 104, 0.35))
    @media (max-width: $sm - 10)
      left: auto
    @media (max-width: $xs - 100)
      white-space: normal
    &__text,
    &__text-with-icon
      vertical-align: middle
      display: table-cell
      i
        position: absolute
        top: 0px
        bottom: 0px
        left: 4px
        margin: auto
      ul
        list-style-type: circle
        padding-left: 17px
        margin: 0px
    &__text-with-icon
      padding-left: 15px
    @media (max-width: 1000px)
      max-width: 225px
      min-width: 150px
      left: auto
      bottom: auto
      margin: 20px auto
      width: auto
  &:hover,
  &:active,
  &--active
    #{$block}__description
      display: table
  &--bottom
    #{$block}__description
      left: 0px
      bottom: initial
      top: initial
      &:before
        left: 10%
        bottom: initial
        top: -4px
        border-width: 1px 0px 0px 1px
        +box-shadow(-1px, -1px, 1px, rgba(57, 81, 104, 0.15))
        border-color: #999 transparent transparent #999
  &--top
    #{$block}__description
      left: 0px
      bottom: initial
      top: initial
      &:before
        left: 10%
        bottom: -4px
        top: initial
        border-width: 0px 1px 1px 0px
        +box-shadow(1px, 1px, 1px, rgba(57, 81, 104, 0.15))
        border-color: transparent #999 #999 transparent
  &--error
    #{$block}__description
      display: table
      color: $color-secondary
      border-color: $color-secondary
      +box-shadow(0, 1px, 5px, rgba(233, 78, 62, 0.35))
      &:before
        border-color: transparent transparent $color-secondary $color-secondary !important
        +box-shadow(-1px, 1px, 1px, rgba(233, 78, 62, 0.15))
  &--bottom#{$block}--error
    #{$block}__description
      &:before
        border-color: $color-secondary transparent transparent $color-secondary !important
        +box-shadow(-1px, -1px, 1px, rgba(233, 78, 62, 0.15))
  &--top#{$block}--error
    #{$block}__description
      &:before
        border-color: transparent $color-secondary $color-secondary transparent !important
        +box-shadow(1px, 1px, 1px, rgba(233, 78, 62, 0.15))
.form-group__control:focus + .tooltip
  .tooltip__description
    display: table
[class*=hint--]
  &:after
    background: white
    text-shadow: none
    color: black
    font-size: 14px
    font-weight: 300
    box-shadow: 0.7px 0.7px 3.9px 0.1px rgba(156, 156, 156, 0.5)
    border-radius: 5px
.hint--bottom-left,
.hint--bottom-right,
.hint--bottom
  &:before
    border-width: 1px
    border-color: transparent
    background: white
    transform: rotate(45deg) !important
    margin-top: 3px
    width: 8px
    height: 8px
    border-left: 1px solid rgba(156, 156, 156, 0.5)
    border-top: 1px solid rgba(156, 156, 156, 0.5)
.hint--top-left,
.hint--top-right,
.hint--top
  &:before
    border-width: 1px
    border-color: transparent
    background: white
    transform: rotate(45deg) !important
    width: 8px
    height: 8px
    border-right: 1px solid rgba(156, 156, 156, 0.5)
    border-bottom: 1px solid rgba(156, 156, 156, 0.5)
    top: -12px
.hint-bottom-max
  &:after
    width: 250px !important
    white-space: initial !important
    line-height: 16px !important
    @media (max-width: $sm - 10)
      width: 200px !important
