.trip-score
  display: inline-block
  color: #37495a
  top: -12px
  position: relative
  @media (max-width: 1000px)
    top: 6px
  &__name
    font-size: 16px
    font-weight: 400
    vertical-align: middle
    @media (max-width: 1000px)
      font-size: 14px
  &__result
    padding-left: 10px
    padding-right: 15px
    text-align: center
  &__number
    font-size: 30px
    font-weight: 400
    color: #feb710
    @media (max-width: 1000px)
      font-size: 26px
  &__help
    text-align: center
    line-height: 4px
    a
      text-decoration: none
      color: #37495a
      font-size: 9px
      font-weight: 400
      @media (max-width: $xs)
        font-size: 8px
